[2017-01-19 18:41] bdougie opened #2 "Fix broken form - Eject the app and app ENV variables"
I broke the app, by regenerating my GitHub GraphQL. I just need to add the env vars to webpack definePlugin and such. I might also want to move my Apollo url there as well.

[2017-01-19 18:42] bdougie opened #3 "Add Styled Components and CSS all the things."
The styling is so bad, and I will fix it.

[2017-01-19 18:43] bdougie opened #4 "Add React Router"
Everything is on one single page. I need to add a router and create new pages. Might want to address a new file structure as well.

[2017-01-19 18:43] bdougie opened #5 "Testing all components"
I like testing and should test my components.

[2017-01-20 02:24] bdougie commented on #2
#7

[2017-01-20 02:24] #2 closed

[2017-05-05 22:02] bdougie commented on #4
fixed on this commit https://github.com/bdougie/open-sauced/commit/b875b1ef7be53afe20a6c5b3e1d905a772613231

[2017-05-05 22:02] #4 closed

[2017-05-05 22:02] bdougie commented on #3
#8 does half of this

[2017-05-05 22:26] bdougie opened #17 "BUG: Add new repos does not refetch the data from GraphQL endpoint"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
When I add a new repo to this GraphQL database using the [mutation](https://github.com/bdougie/open-sauced/blob/master/src/NewRepoForm.js#L152-L158) it [redirects](https://github.com/bdougie/open-sauced/blob/master/src/NewRepoForm.js#L148) to the home page but the data does not refetch. I have to d

[2017-05-05 22:31] bdougie opened #18 "Feature: Add searchable issues"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
currently, the only feature is adding notes to repos.

**- What is the expected behavior?**
Ideally a user should be able to search open issues on the repo using the GraphQL api and makes notes on it's content

[2017-05-05 22:38] bdougie commented on #17
update, per a quick slack convo. I need to return data needed

Also looking into this http://dev.apollodata.com/react/cache-updates.html#updateQueries

[2017-05-06 15:04] bdougie opened #21 "Ability to delete a repository"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
You save as many repositories as you would like, but you have no way to delete any.

**- What is the expected behavior?**
A simple delete button and button to remove repositories is needed

[2017-05-08 18:05] #17 closed

[2017-05-08 20:16] #21 closed

[2017-05-11 05:13] bdougie commented on #18
Getting the issues on the page should not be a problem looks like an Issues component can be created that fetches issues with pagination [using this technique](http://dev.apollodata.com/react/pagination.html#fetch-more) from the Apollo docs and from [GitHunt](https://github.com/apollographql/GitHunt-React/blob/c0b18795a18b3da42dc90cf7c63b29b14965206d/ui/Feed.js#L165).

Search can be done using Alg

[2017-05-20 15:16] rolfea commented on #3
I'm happy to work on this one @bdougie

[2017-06-01 15:14] bdougie opened #29 "Add icons to app"
**- Do you want to request a *feature* or report a *bug*?**
This would be an enhancement to the current state of the app. I just found out about this project https://feathericons.com and think it would be great to add.

<img width="1338" alt="screenshot 2017-06-01 08 15 00" src="https://cloud.githubusercontent.com/assets/5713670/26686641/6fb11cbe-46a2-11e7-807f-76da4dc31513.png">

[2017-06-03 16:13] bdougie commented on #3
#28 adds buttons

[2017-06-07 22:44] rolfea opened #31 "GitHub authentication"
**- Do you want to request a *feature* or report a *bug*?**
**Feature**
Given that this project circulates around GitHub projects, I think that a user should be able to authenticate and sign in with their GitHub account.

My understanding currently is that each user has their own version of Open Sauced hosted on something like Netlify, but there isn't anything in place to prevent someone else from

[2017-06-07 22:46] rolfea commented on #3
I'm going to wait to see what you think of #30 and then jump into styling the text next.

[2017-06-08 21:29] rolfea opened #32 "Use Github stars for "tracked repos""
**- Do you want to request a *feature* or report a *bug*?**
**Feature**
Instead of manually adding GitHub repos that a user is interested in following, Open Sauced could instead utilize a users' starred repos to populate their tracked repo list.

This would likely need to be prefaced with Github authentication.

[2017-06-11 05:43] #29 closed

[2017-06-11 05:44] bdougie commented on #18
Going to close this and use Authentication with Auth0 to login with GitHub. I will also open an issue to list starred repos

[2017-06-11 05:44] #18 closed

[2017-06-11 05:44] bdougie commented on #31
I am going to take a crack at this, this weekend.

[2017-06-11 07:41] bdougie commented on #32
Trying to think through this and I personally have hundreds of starred repos. I would need some sort of filtering or search to make this feature useful. I am not convinced this is the best route since it would also encourage unstarring repos.

Perhaps adding a searchable or paginated list of starred Repos to the New Repo form would be ideal.

[2017-09-15 16:13] bdougie commented on #31
I am going to leverage one of Netlify's new features for this. [Identity](https://www.netlify.com/blog/2017/09/07/introducing-built-in-identity-service-to-streamline-user-management/)

[2017-10-02 23:52] bdougie opened #39 "Add Prettier"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
Currently the code linting is forced using lint-staged. I am proposing replacing it with [prettier](https://github.com/prettier/prettier) instead.

**- What is the expected behavior?**
Instead of failing commits when lint fails, it would be nice to enforce linting on save.

[2017-10-02 23:56] bdougie commented on #31
Closing for now since Netlify Identity does not offer GitHub login by itself, email is the default. I am looking to add the git-gateway instead to leverage GitHub features and tokens

[2017-10-02 23:56] #31 closed

[2017-10-03 17:31] bdougie commented on #5
#37 starts the process

[2017-10-03 17:34] #5 closed

[2017-10-07 08:59] #39 closed

[2017-10-07 09:01] bdougie opened #44 "leverage identity to save data with user ids in open sauced"
Currently, data is being saved to the same user, need to save individual data separately.

[2017-10-07 09:01] bdougie opened #45 "Look into Schema stitching GitHub + Graphcool"
https://dev-blog.apollodata.com/graphql-schema-stitching-8af23354ac37

[2017-10-13 15:57] Dreamersoul opened #49 "Consider using secret gists to save user data"
this way the user will not worry where the data is saved and the app can run in debug without signing up for graph.cool making contributing a little bit easier 😄

[2017-10-13 18:36] bdougie commented on #49
Already seeing that you using the V4 GraphQL API for Gist, I might do some discovery on this weekend.

[2017-10-13 18:41] bdougie opened #50 "Implement Apollo Caching"
**- Do you want to request a *feature* or report a *bug*?**
Feature
**- What is the current behavior?**
Currently, the content is fetched everytime the page loads. I originally started adding Redux to cache with Apollo but it was a pain to integrate and was not worth the effort. [Apollo 2.0 has caching](http://dev.apollodata.com/react/cache-updates.html), which seems more ideal.

**- What is the e

[2017-10-13 18:47] bdougie opened #51 "Open Sauced needs a logo/favicon"
I am thing a siracha or ketchup bottle, but open to suggestions. If you would like to take this, SVG would be needed, as well as a favicon.

[2017-10-13 21:23] bcomnes opened #52 "Added repositories are removed when clicking on them on the repo list"
![bug](https://user-images.githubusercontent.com/166301/31567003-1bc1cbfa-b022-11e7-99af-02b092d5eaa4.gif)

[2017-10-14 08:00] bdougie opened #55 "Add a tooltip or descriptor for the issue reporter icon"
**- What is the current behavior?**
The current nav has an icon to create an issue. I would like to see a tooltip when I hover over the link.
<img width="53" alt="screenshot 2017-10-14 00 57 55" src="https://user-images.githubusercontent.com/5713670/31573989-e071b426-b07a-11e7-96b6-e8a0cb1b936d.png">

**- What is the expected behavior?**
I am intrigued by this library [react-simple-tooltip](http:/

[2017-10-14 09:42] bdougie opened #59 "Use subscriptions properly"
## What is the current behavior?
This project is calling [data.refetch](https://github.com/bdougie/open-sauced/blob/master/src/containers/Repositories.js#L9). This should instead be a subscription.
### If the current behavior is a bug, please provide the steps to reproduce.
Graphcool has subscriptions as a feature, it would be best to leverage that by adding a subscription to the ApolloClient

[2017-10-14 10:07] bdougie commented on #52
#56

[2017-10-14 10:07] #52 closed

[2017-10-14 21:11] bdougie opened #60 "Landing/Home page needs help on Design"
The Landing for [opensauced.pizza](https://opensauced.pizza/) needs a better experience. Open to suggestions

![screenshot 2017-10-14 14 09 05](https://user-images.githubusercontent.com/5713670/31579365-9b859ffc-b0e9-11e7-8e61-1597045d86be.png)

[2017-10-14 21:15] bdougie opened #61 "Need to use cookies for storing auth identity id"
Potential security issue. localStorage is not protected by SSL encryption, My suggestion is to use a cookie, or react-cookies.

More info how to use react-cookies can be found in my [blog post](https://www.netlify.com/blog/2017/01/19/setting-cookies-in-react/).

[2017-10-14 22:22] bdougie opened #62 "Add mention of Apollo dev tools to the readme as a recommendation"
https://github.com/apollographql/apollo-client-devtools

Not sure where this should go, but adding the link above should be good enough.

[2017-10-15 13:06] bdougie opened #63 "Add a storybook to this project"
Storybook is an interactive development & testing environment for React components https://storybook.js.org

[2017-10-15 15:29] bdougie opened #64 "Upgrade to React 16"
## Do you want to request a *feature* or report a *bug*?

## What is the current behavior?

### If the current behavior is a bug, please provide the steps to reproduce.

### Please mention your node.js, and operating system version.**

## What is the expected behavior?

[2017-10-17 01:49] #44 closed

[2017-10-17 01:53] bdougie opened #66 "[Broken graphql-up link] Update open-sauced.schema to use @model directive"
## Do you want to request a *feature* or report a *bug*?
bug
## What is the current behavior?
The README link for creating the schema is throwing errors due to a new breaking change: https://www.graph.cool/forum/t/introducing-the-model-directive/1272

### If the current behavior is a bug, please provide the steps to reproduce.
Click the link to create a new graphql schema.

![screenshot 2017-10-16

[2017-10-18 18:58] bdougie opened #68 "Explore leveraging GraphQL Auth for authentication middleware"
## Do you want to request a *feature* or report a *bug*?
It might make sense to look into graphql-auth to work with the identity authentication layer. I am not sure how it works, but opening up this issue as a reminder to research this.

[2017-11-30 22:04] #66 closed

[2017-12-01 19:28] bdougie opened #70 "Add a bundle bugdet or monitor"
This is a note to myself to look into http://webpackmonitor.com/

[2017-12-01 22:26] bdougie commented on #45
Take note of this conversation as well: https://www.graph.cool/forum/t/graphcool-api-gateway-pattern-and-apollo-engine/1373

[2017-12-02 14:19] bdougie commented on #59
Based on this [note in the apollo docs](https://www.apollographql.com/docs/react/features/subscriptions.html#when-to-use), refetching is preferred.

[2017-12-02 14:19] #59 closed

[2018-09-12 17:54] bdougie commented on #70
not needed

[2018-09-12 17:54] #70 closed

[2018-09-12 18:06] bdougie commented on #63
not needed

[2018-09-12 18:06] #63 closed

[2018-09-12 18:07] bdougie commented on #61
After almost a year of thinking on this, I rather just use straight GitHub auth

[2018-09-12 18:07] #61 closed

[2018-09-27 13:05] bdougie opened #72 "Sample"
hello repo

[2018-09-27 13:06] #72 closed

[2018-09-27 13:06] bdougie opened #73 "test"
test

[2018-09-27 13:08] #73 closed

[2018-09-27 13:09] bdougie opened #74 "This is a test"
hello

[2018-09-27 13:09] #74 closed

[2018-09-27 13:10] bdougie opened #75 "testing 123"
hello repo

[2018-09-27 13:13] bdougie opened #76 "test"
ok

[2018-09-27 13:27] bdougie opened #77 "test2"
ok

[2018-12-03 14:04] #75 closed

[2018-12-03 14:04] #76 closed

[2019-06-18 22:05] #64 closed

[2019-06-18 23:52] #77 closed

[2019-06-21 23:39] bdougie opened #78 "Add dependabot"
Add dependabot to get rid of security vulnerabilities

[2019-07-01 23:48] bdougie commented on #78
completed and currently being leveraged.

[2019-07-01 23:48] #78 closed

[2019-07-01 23:50] bdougie commented on #51
Logo and Favicon:

![full logo mark](https://user-images.githubusercontent.com/5713670/60473054-41e62880-9c20-11e9-828c-951a2c1844b8.png)

[2019-07-01 23:53] bdougie opened #101 "Replace babel-preset with babel-preset-env"
This project is out of date and should include the generic babel preset

https://github.com/bdougie/open-sauced/blob/master/package.json#L11

[2019-07-03 07:21] #51 closed

[2019-07-03 07:25] bdougie opened #106 "webpack and webpack-dev-server upgrade"
## Do you want to request a *feature* or report a *bug*?
enhancement/bug

## What is the current behavior?
When upgrading webpack, there are multiple failures. The cli is not helpful due to breaking changes between 1.x to 4.0.0.

### If the current behavior is a bug, please provide the steps to reproduce.

[code]
This will not work

## What is the expected behavior?
I will need to upgrade manually

[2019-07-03 21:38] #106 closed

[2019-07-03 22:00] dependabot-preview[bot] opened #115 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-04 23:55] #115 closed

[2019-07-05 00:39] bdougie commented on #101
closed with #116

[2019-07-05 00:39] #101 closed

[2019-07-05 00:43] bdougie opened #117 "Update database/storage strategy"
## Do you want to request a *feature* or report a *bug*?
Feature
## What is the current behavior?
At the moment an old version of prisma(graphcool) is being used to save data and interact with Apollo. All of the above is out of and needs to be update.

## What is the expected behavior?
- Update Apollo
- Update Prisma or move to another solution
- Identify schema for the following
  - ContributorBr

[2019-07-05 00:45] bdougie opened #118 "Fully adopt OneGraph"
related to https://github.com/bdougie/open-sauced/issues/117

Also update or remove prisma. I am considering shoving everything into [Onegraph](https://www.onegraph.com/), but would like to avoid vendor lockin. I need to look into the extent of that product.

[2019-07-05 01:40] bdougie commented on #118
Maybe consider GraphQL hooks https://github.com/nearform/graphql-hooks/blob/master/README.md

[2019-08-30 16:49] bdougie opened #146 "Properly setup GitHub Oauth"
## Do you want to request a *feature* or report a *bug*?
feature/bug
## What is the current behavior?
At the moment GitHub Login does not. I am looking into creating an Oauth App to handle the authentication

### If the current behavior is a bug, please provide the steps to reproduce.
Open the home page and see login is broken

![Screenshot 2019-08-30 09 47 23](https://user-images.githubuserconten

[2019-08-30 16:51] bdougie commented on #146
heads up @sgrove I will probably put some time into this, this weekend.

[2019-08-30 16:53] sgrove commented on #146
I just about had it last night, just need to make it reactive through the
whole app!

On Fri, Aug 30, 2019 at 9:51 AM Brian Douglas <notifications@github.com>
wrote:

[2019-08-31 03:34] sgrove commented on #117
Having open-sauced be completely backed by GitHub would be pretty cool, and make the app itself pretty much entirely stateless. I see two ways to actually store per-user data:

1. gists: You can create a gist-per-user with some json in there to keep the state of the user.
Pros: Flexible, you can store whatever JSON you want.
Cons:
- Migrations will become a never-ending nightmare. You'll never kno

[2019-08-31 03:51] sgrove commented on #117
If you go with #2, I wrote up all of the queries/mutations you'll probably need: https://serve.onegraph.com/short/BNK4Q5

You can use the code exporter to automatically get functions to do all of them in a copy/paste way in the app itself (just use the JavaScript/fetch option without `async`).

[2019-08-31 04:07] bdougie commented on #146
solved with #149

[2019-08-31 04:07] #146 closed

[2019-08-31 04:16] bdougie opened #151 "Road to general usability"
Graphcool has since change to Prisma and then again to subsequent version. I need to remove it, for now, to work on getting this project stable.

- [x] Swap out Graphcool repo list with GitHub forks or stars related #32
- [x] [simplify new repo form to either clone or fork a repo](https://github.com/bdougie/open-sauced/issues/117)
- [x] explore if mirroring repository and issues is a valuable way

[2019-08-31 15:59] bdougie commented on #117
@sgrove thanks for writing all this our and event providing the mutations and queries. I really like the idea of Open Sauced being an extension on top of GitHub and not a replacement.

I am definitely pro path 2.

[2019-08-31 16:02] bdougie commented on #118
#150  and #149 closes this

[2019-08-31 16:02] #118 closed

[2019-08-31 16:04] bdougie commented on #32
#153 now tracks repos you have contributed to. This is a temporary fix. The plan now will be to present the user a way to create an open-sauced-goals repo to store notes and track repos. Outlined in https://github.com/bdougie/open-sauced/issues/117#issuecomment-526795800

[2019-08-31 16:04] #32 closed

[2019-08-31 16:07] bdougie opened #155 "useHooks instead of class Components"
This project started in 2017, when Class components were fading as the premier way to create React Components.

This app needs consistency in its approach to Component development and will need to adjust to using hooks. This will improve consistency in how we leverage the [apiGraphql.js](https://github.com/bdougie/open-sauced/blob/master/src/lib/apiGraphQL.js) file throughout the project.

TODO:
-

[2019-08-31 16:41] bdougie opened #156 "Programmatically add netlify deploys to whitelist"
Is there a programmatic way to add Netlify deploy preview to the OneGraph whitelist and remove.

Perhaps a GitHub Action?

[2019-09-03 23:22] sgrove commented on #156
We have a feature coming out soon that'll automate this entirely, sorry for the bad experience in the meantime!

[2019-09-06 00:48] sgrove commented on #156
Ok, just released it today! https://www.onegraph.com/changelog/post/13

If you just add any Netlify url for open-sauced again, it'll automatically recognize the Netlify site it's associated with and allow all future deploy previews.

[2019-09-06 00:53] sgrove commented on #156
![netlify_site_support](https://user-images.githubusercontent.com/35296/64393405-0e4fc200-d006-11e9-9703-f4b29c0f09ce.gif)

[2019-09-21 00:03] bdougie opened #208 "Implement Design System and UI components"
Evaluate:
- [chakra-ui](https://chakra-ui.com/?utm_campaign=React%2BNewsletter&utm_medium=email&utm_source=React_Newsletter_177)
- prime/components

[2019-09-21 00:10] bdougie opened #209 "Navbar handle link sends you to github"
remove link from handle until a profile page is created

![Screenshot 2019-09-22 07 00 01](https://user-images.githubusercontent.com/5713670/65389056-a0dea980-dd06-11e9-9da4-b5d3fed4741a.png)

[2019-09-22 14:01] bdougie opened #210 "Note data is not being populated when the component mounts"
![Screenshot 2019-09-22 07 01 15](https://user-images.githubusercontent.com/5713670/65389069-c7044980-dd06-11e9-9625-550339d1b99c.png)

1. fetch goal data when repo mounts.

[2019-09-22 14:05] bdougie opened #211 "Write better unit test coverage"
1. Implement codecov or similar
2. Write test that cover state and logic in all components.

API mocking needed:
- [x] [AddRepoForm](/src/components/AddRepoForm.js)
- [ ] [Issues.js](https://github.com/bdougie/open-sauced/blob/master/src/containers/Issues.js)
- [ ] [Repositories.js](https://github.com/bdougie/open-sauced/blob/master/src/containers/Repositories.js)
- [ ] [Repository.js](https://git

[2019-09-22 14:13] bdougie opened #212 "remove ./src/queries"
These queries are deprecated and no longer used by the project.

- [ ] remove references in any files
- [ ] remove files

[2019-09-22 14:16] bdougie opened #213 "TODO: remove this when upgrading to webpack 5"
There is a note to remove this when upgrading to webpack 5.

[code]

It is not clear what `this` is.

- [ ] Figure out the reference to `this`
- [ ] upgrade to webpack 5
- [ ] remove `this`

[2019-09-22 14:21] bdougie opened #214 "Better Handling of GoalsId storage"
At the moment the goalId is being set in `localStorage`. This might grow into an issue, but for now it works. Redux or MobX seems like overkill for now, since this and the [auth jwt](https://github.com/bdougie/open-sauced/blob/master/src/index.js#L60) is the only info being store globally.

Looking for a better way or confirmation

[code]

## Questions

1. Should the be stored in a global store?
2

[2019-09-22 14:24] bdougie opened #215 "Goals repo creation returns an error due to undefined"
When clicking "Create Goals" the component re-renders with an error due to it being undefined.

I am confident this will be solved with the switch to `useState` and `useEffect` in #155

https://github.com/bdougie/open-sauced/blob/master/src/containers/Goals.js#L36

[2019-09-22 14:27] bdougie opened #216 "Show button for goal creation if issue does not exist"
Currently a user can see the note box even if the issue does not exist in the open-sauced-goals repo.

A use should be prompted to create that issue if it does not exist. They should not be able to see the note box if it doesn't exist.

[2019-09-22 14:32] bdougie opened #218 "Make eslint usable"
at the moment eslint is an annoyance, most likely due to needed updates to the rules.

- [x] remove eslint disable from all files
- [ ] switch non priority errors to warnings
- [x] cleanup non-blocking errors.
- [ ] research new rules or templates that may be more useful.

[2019-09-22 22:29] #212 closed

[2019-09-22 22:29] #209 closed

[2019-09-27 22:59] bdougie opened #246 "Add test integration test for route changes"
I am nervous to upgrade things like react router because they can break the app but not currently fail any tests.

I would like to look Into using [Cypress](https://www.cypress.io/) for this.

[2019-09-27 23:34] bdougie commented on #246
This would be helpful in regards to Dependabot updates

[2019-09-28 02:53] bdougie commented on #117
This is now working and function thanks to #182

[2019-09-28 02:53] #117 closed

[2019-09-28 02:56] #155 closed

[2019-09-28 03:00] bdougie commented on #214
From my research this works

[2019-09-28 03:00] #214 closed

[2019-09-28 03:48] bdougie commented on #151
Final work will be UI + Design Systems and Note rendering error to close this out
#210
#208

[2019-09-28 03:56] bdougie opened #252 "Rename components to match functionality"
Repositories -> Dashboard
Goals -> RepositoryGoals

[2019-09-28 03:56] #252 closed

[2019-09-28 07:16] #210 closed

[2019-09-28 07:59] bdougie opened #255 "Create new repo goals is failing"
Step to reproduce:

1. go to /new
2. enter a repo  and hit submit
3. fix error

![Screenshot 2019-09-28 00 58 07](https://user-images.githubusercontent.com/5713670/65813504-2214c100-e18b-11e9-896b-fe6c9b3aa649.png)

[2019-09-28 13:51] bdougie commented on #208
Ideas

![D23D07C3-8DD2-4897-8667-DD9CAB9DD904](https://user-images.githubusercontent.com/5713670/65817483-4fc62e00-e1bc-11e9-995d-29c525f6f0ca.png)
![C217509F-0A0B-4426-9B87-FABD7E9B5E6E](https://user-images.githubusercontent.com/5713670/65817484-4fc62e00-e1bc-11e9-99b9-2fb3b8a2eee5.png)
![F56D3094-D9FA-4625-AD2E-0BFDC81E9D9E](https://user-images.githubusercontent.com/5713670/65817485-4fc62e00-e1b

[2019-09-29 14:57] bdougie opened #261 "replace useState in Form Components with useRef"
Learned from the: https://learn.tylermcginnis.com/courses/613356/lectures/10986143

[2019-09-29 15:03] bdougie opened #262 "Reduce hits to api.github.com/graphql through caching"
# Problem
The Goals query and Repository component hits the API on every re-render. This is not ok and has caused one rate limit breach during development.

# Solutions
- [x] implement design system to test Ui in a sandbox
- [x] implement [zeit/swr](https://github.com/zeit/swr)
- ~set up API caching with [apollo-cache-inmemory
](https://github.com/bdougie/open-sauced/issues/348#issuecomment-551196

[2019-09-30 04:05] bdougie opened #263 "saving notes is broken (test needed)"
I noticed saving notes is broken. This was working and now is not.

A solution should come with a test.

[2019-09-30 04:20] bdougie commented on #263
Confirmed to be fixed in https://github.com/bdougie/open-sauced/pull/257

[2019-09-30 14:17] bdougie commented on #263
Deploys are lock which is why I missed the fix

[2019-09-30 14:17] #263 closed

[2019-09-30 14:19] #208 closed

[2019-10-04 14:05] bdougie commented on #151
I am now using this project for my contributions

[2019-10-04 14:05] #151 closed

[2019-10-10 10:26] MarvinJWendt opened #295 "Website crashes on opening."
## Screenshot
![kfYl0bZ3S2](https://user-images.githubusercontent.com/31022056/66560977-d255d280-eb58-11e9-909a-6fb1515ce783.gif)

## Reproduce
1. Open Website
2. Click `login via GitHub` button

Now the website crashes all the time while opening.

I have tried to disable all track/ad blockers, but that didn't help.

## Error log
[code]

[2019-10-15 16:46] bdougie commented on #295
Thanks so much for opening this. Sorry I missed this until now.

I will look into this tonight.

[2019-10-15 17:13] bdougie opened #303 "Content is not centered"
<img width="1659" alt="Screenshot 2019-10-15 13 13 20" src="https://user-images.githubusercontent.com/5713670/66853583-9e5e2100-ef4d-11e9-9d88-14c9acd4d8fa.png">

[2019-10-16 12:10] nersoh commented on #303
I'll try to fix this one. 😉

[2019-10-16 12:52] nersoh commented on #303
Ops. There is already a PR for that #304

[2019-10-16 12:59] nersoh commented on #295
I'll investigate to see if I come up with a fix

[2019-10-17 16:04] #303 closed

[2019-10-17 16:09] #295 closed

[2019-11-01 20:13] bdougie commented on #262
Look into trying out [SWR](https://swr.now.sh/?utm_campaign=React%2BNewsletter)

[2019-11-02 14:36] #261 closed

[2019-11-03 02:18] bdougie opened #337 "Design System Components implementation"
[opensauced.pdf](https://github.com/bdougie/open-sauced/files/3801162/opensauced.pdf)

- [x] contextcard
- [x] Hint card
- [x] Note card
- [x] Onboard card
- [x] repo data card
- [x] Button Card
- [x] Repo Details Card
- [x] Issues Card
- [x] Repo list card
- [x] Repo creation card

Issue Card, Context Card, Repo Details Card
<img width="848" alt="Screenshot 2019-11-02 19 18 17" src="https://user-

[2019-11-03 15:38] bdougie opened #339 "Fix mobile view for login and repo list"
![image](https://user-images.githubusercontent.com/5713670/68087682-fda4a800-fe0c-11e9-8af6-c818fecd8034.jpg)
![image](https://user-images.githubusercontent.com/5713670/68087687-01d0c580-fe0d-11e9-80fd-2cc270836889.jpg)

[2019-11-03 16:50] #339 closed

[2019-11-04 15:27] bdougie opened #344 "Add recommended repo list"
- [x] User should get a list of recommend repos (probably just Javascript).
- [ ] ~The Repos will need a structured onboarding.~
- [x] Need a centralized datastore to identify and share onboarding steps (thinking a separate gatsby app with a cms).

[2019-11-04 20:38] bdougie commented on #337
[illustrations SVGs](https://www.dropbox.com/sh/x5pydklkce0tp5s/AADbrkGODzL7zcqlDawLwM__a?dl=0)

[2019-11-05 04:39] bdougie commented on #255
Fixed with #346. Implementing a proper data context strategy will completely fix this.

[2019-11-05 04:39] #255 closed

[2019-11-05 04:45] bdougie opened #348 "When creating data changes, no components are re-rendering."
Context:

https://github.com/bdougie/open-sauced/issues/255 & https://github.com/bdougie/open-sauced/issues/215 are both instances where data changes on triggering a Mutation. Not that we are fully using hooks, the error is gone. The problem of the data not updating when the mutation finishes now exist.

Things to fix:

- [x] As a user I should create a new goal and see it populate in the list wit

[2019-11-05 04:45] bdougie commented on #348
Labeling as a bug, because it should get addressed sooner than later.

[2019-11-05 04:46] #215 closed

[2019-11-05 04:46] bdougie commented on #215
fixed, but moving context to #348

[2019-11-05 04:47] bdougie commented on #216
#348

[2019-11-05 04:47] #216 closed

[2019-11-05 14:15] bdougie opened #350 "add storybook plugins"
- [ ] [@storybookjs/storybook-addon-console](https://github.com/storybookjs/storybook-addon-console)
- [x] [@storybook/addon-storysource](https://github.com/storybookjs/storybook/tree/master/addons/storysource) - view the source code in the storybook ui
- [x] [@storybook/addon-viewport](https://github.com/storybookjs/storybook/tree/master/addons/viewport) - view components in different screens
- [

[2019-11-05 16:11] bdougie commented on #262
also look into https://www.apollographql.com/docs/react/caching/cache-configuration/

[2019-11-05 16:16] bdougie commented on #344
It might be good to leverage what Gatsby is doing on their site for favorites.

![Screenshot 2019-11-05 08 15 24](https://user-images.githubusercontent.com/5713670/68225003-8ace3500-ffa4-11e9-8772-2ac46f85b936.png)

[2019-11-06 14:28] bdougie commented on #211
API mocking needed:

- [ ] [AddRepoForm](/src/components/AddRepoForm.js)
- [ ] [Issues.js](https://github.com/bdougie/open-sauced/blob/master/src/containers/Issues.js)

[2019-11-06 14:49] bdougie opened #354 "Add repo form is allows https, but stores it as undefined"
When a user adds a repo using the full URL, it works but it saves the name as `undefined`.

The expectation is that undefined should be saved. Perha

Steps to fix:
- [ ] write a test that ensures that only the save data can only be the `owner/repo` format.
- [ ] add a sanitizer to properly remove the `https://github.com/`

Line that should be fixed is: https://github.com/bdougie/open-sauced/blob/m

[2019-11-06 14:51] bdougie commented on #354
![Screenshot 2019-11-06 06 00 20](https://user-images.githubusercontent.com/5713670/68308539-deeb1f00-0061-11ea-8437-8054214fd4ec.png)

[2019-11-06 15:10] bdougie opened #355 "Creating an open-sauced-goals repo should default as private"
Now that I am using this project today, I personally feel as if my notes should be private by default and maintainers should not be able to read my thoughts on their projects.

Line to changed:
https://github.com/bdougie/open-sauced/blob/master/src/lib/apiGraphQL.js#L198

To clarify is should be `PRIVATE` and not `PUBLIC`

[2019-11-06 15:14] bdougie commented on #262
confirmed today that having the repository/goal page open trigger about 50 requests per every few seconds.

GraphQL query to test with
[code]

[2019-11-06 16:34] bdougie commented on #355
If you work on this, keep in mind that this bug #348 will require you to hard refresh the page when creating a goals repo in UI.

[2019-11-06 18:45] NileshPatel17 commented on #355
created PR #356

[2019-11-06 20:30] #355 closed

[2019-11-07 00:41] ckopecky commented on #337
This is what I am working on! I will start at the top of the checklist and work my way down as I get things done.

[2019-11-07 09:37] NileshPatel17 commented on #354
PR #357 created

[2019-11-07 09:46] NileshPatel17 opened #358 ""npm run clean" does not work on Windows"
### Problem:
Below Script does not work on Windows
[code]
### Solution:
1. install ```rimraf``` as dev dependency
2. change script to
[code]

Please let me know if i submit a PR.

[2019-11-07 15:03] bdougie commented on #358
@NileshPatel17 great catch, I have not actually used windows during the development of this project. Please proceed with the PR so I can test on some environment.

Can you also sign up for the [Actions beta](https://github.com/features/actions/signup/), I believe your PR won't run the CI without it.

[2019-11-07 16:43] NileshPatel17 commented on #358
Will submit PR. do you want me to include ```package-lock.json``` as a part of PR as ```rimraf``` would be added as dependency?
I think, i already signed up for Action Beta. How can i know if i have sign up or not?

[2019-11-07 17:24] #354 closed

[2019-11-07 17:30] bdougie commented on #348
@NileshPatel17 do you have any thoughts on this? Or have experience with data stores outside of redux?

I am looking into leveraging [this pattern with Apollo caching](https://spin.atomicobject.com/2019/11/05/simplifying-apollo-client-local-cache/) and useReducer..

[2019-11-07 18:07] bdougie commented on #348
Actually, I think the solution is leveraging apollo better with the [@apollo/react-hooks](https://www.apollographql.com/docs/react/data/queries/).

[code]

In addition to that also add localState management with apollo/react-hooks. I might use this as a guide: [Learn how to work with your local data in Apollo Client
](https://www.apollographql.com/docs/react/data/local-state/)

[2019-11-07 20:01] bdougie commented on #358
yes, please include the package-lock.json the way the see works is it checks it for caching purposes.

When you navigate to the link it should not have a button that shows sign up and instead say you already have access.

[2019-11-07 23:26] ckopecky commented on #337
@bdougie context card finished. Please let me know if I need to tweak it at all.

[2019-11-08 04:01] ckopecky commented on #337
- [x] contextcard
 - [x]  Hint card
 - [x] Note card
 - [x] Onboard card
 repo data card
 - [x] Button Card
 - [x] Repo Details Card
 Issues Card
 - [x] Repo list card
 - [x] Repo creation card

@bdougie
Update -- all code is pushed to my fork --

Will finish tomorrow

C

[2019-11-09 10:35] #350 closed

[2019-11-09 14:02] #211 closed

[2019-11-09 14:03] bdougie commented on #246
Leveraging [Testing Library](https://testing-library.com/docs/example-react-router#docsNav)

[code]

[2019-11-09 16:08] #246 closed

[2019-11-09 16:44] NileshPatel17 commented on #358
submitted PR #370.

[2019-11-09 16:44] NileshPatel17 commented on #358
alright, verified. I already have access.

[2019-11-09 16:46] NileshPatel17 commented on #358
found rimraf already part of  ```package.json```

[2019-11-09 16:47] NileshPatel17 commented on #348
let me explore apollo-cache-inmemory

[2019-11-10 04:57] bdougie commented on #358
Addressed in #370

[2019-11-10 04:57] #358 closed

[2019-11-10 05:32] bdougie commented on #337
I all forks merged, be sure to rebase master at this point to avoid merge conflicts. The majority of the tweaking to the components I can quickly run through when I implemented the components into the  UI.

At this point there is only 1 component missing and it is the one I misnamed in the OP:

Will  you be able to address this? @ckopecky

 Onboard card
![](https://user-images.githubusercontent.co

[2019-11-10 07:40] ckopecky commented on #337
Yes I can do in morning. I started it tonight but can't stay awake to finish.... @bdougie

[2019-11-10 13:57] #337 closed

[2019-11-10 15:06] bdougie commented on #348
I tried this a little last night and did the initial setup. From my exploration a custom hook may be needed to take the OneGraph implementation into account. I could not quite figure it out on first pass and ran out of time.

I have not created a custom hook before and using [this article on local caching](https://spin.atomicobject.com/2019/11/05/simplifying-apollo-client-local-cache/) as inspirat

[2019-11-10 18:56] NileshPatel17 commented on #348
This issue has been taken care in #383

** Yet to explore ```apollo-cache-inmemory```

[2019-11-10 18:59] NileshPatel17 commented on #348
is it possible to deploy code from PR having in draft state??

[2019-11-10 19:04] NileshPatel17 commented on #348
alright. it is possible. It is deployed at ```https://deploy-preview-383--open-sauced.netlify.com/```
let me know what do you think.

[2019-11-11 14:14] bdougie opened #384 "Repo meta data"
At the moment start and contributors props are being hardcoded. This should be dynamically added to the repo list.

https://github.com/bdougie/open-sauced/blob/master/src/components/ListGoals.js#L21

## problem

The data is currently not being collected via the GraphQL API. An update to the way the data is being fetched and stored should happed.

## proposal

Instead of only storing general notes,

[2019-11-11 14:24] bdougie commented on #348
@NileshPatel17 I left comments on the PR. Regarding the caching, it doesn't have to be addressed in your current PR since it is actually unrelated to this issue. It is related to #262, I made the original suggestion on the wrong issue to begin with.

Thanks for PR, it is very much appreciated.

[2019-11-11 14:28] bdougie opened #385 "Add ContextCard to the top of the Dashboard and Goals pages"
A new [ContextCard](https://sauced-components.netlify.com/?path=/story/cards--context-card) has been created to give the user a visual note about what page they are on.

At the of the Dashboard page it should state they are on the Dashboard and on the Repository page it should state the repo they are looking at along with some context.

## The work:

The CSS and the component already exists, the w

[2019-11-11 14:39] bdougie opened #386 "Update Issues UI with the new component"
A new UI change has been designed for the issues list.

## work

Implement the new component based on the [issues card story](https://sauced-components.netlify.com/?path=/story/cards--issues-card).

The CSS and the component already exists, the work will be matching the code in the story to what is in the Repository page.

## mockup
<img width="181" alt="Screenshot 2019-11-11 06 38 50" src="https:

[2019-11-11 14:50] bdougie opened #387 "Rename: Goals -> RepositoryGoals"
I don't think Goals is descriptive enough and would like to rename the Goals component.

[2019-11-11 14:53] bdougie opened #388 "Proposal: Open Source Guides"
I would like to link to https://opensource.guide/ somewhere within the UI.

## The work:

My suggestion is to use the [Hint Card](https://sauced-components.netlify.com/?path=/story/cards--hint-card)

<img width="455" alt="Screenshot 2019-11-11 06 55 40" src="https://user-images.githubusercontent.com/5713670/68596545-46cdab00-0450-11ea-954a-f1b17d93e893.png">

## Proposed copy:

Title: Open Source

[2019-11-11 15:02] bdougie opened #389 "Contribution Onboarding"
## story

As a contributor, I should have a path to contributions. i.e. link to guide, view content of readme, list good first issues.

## proposal

At the moment contributing to open source is a mixed bag. I am proposing that the Repository page provides context on how to get a contribution if no past contributions are present for this repo.

[2019-11-13 13:59] bdougie opened #390 "Add version number to console"
To assist with debugging it would be nice console.log the version number of the site. The [package.json](https://github.com/bdougie/open-sauced/blob/master/package.json#L3) has the version number, but it would be nice to print that version to the console

An [example of how to do this from stackoverflow](https://stackoverflow.com/questions/9153571/is-there-a-way-to-get-version-from-package-json-in

[2019-11-13 16:28] jafaryfarzaneh commented on #390
I'm working on it.

[2019-11-13 17:08] #385 closed

[2019-11-13 17:29] bdougie opened #392 "Context Card is broken on iPad"
![](https://user-images.githubusercontent.com/5713670/68780055-8203e180-05ea-11ea-8aae-b5938968c336.jpg)

[2019-11-13 18:51] bdougie commented on #390
Excellent! Thanks so much

[2019-11-13 19:04] bdougie commented on #392
Added to the context card in #391

[2019-11-13 19:05] bdougie commented on #388
Added to the context card in #391

[2019-11-13 19:05] #388 closed

[2019-11-14 05:33] bdougie commented on #262
The expensive API calls for Issues have been fixed in 386. Caching is still needed, but this is no longer a bug

[2019-11-14 05:36] #386 closed

[2019-11-14 05:42] #387 closed

[2019-11-14 05:46] bdougie commented on #218
enforcing prettier use seems to be fine.

[2019-11-14 05:46] #218 closed

[2019-11-15 18:36] bdougie commented on #390
Thanks @jafaryfarzaneh

[2019-11-15 18:36] #390 closed

[2019-11-16 16:24] #348 closed

[2019-11-21 18:34] bdougie commented on #213
Leave it alone stalebot

[2019-11-23 23:39] bdougie opened #400 "Mobile Repository view does not word wrap"
Steps to reproduce
1. Open site on mobile
2. Add repo with a longer than normal name

![image](https://user-images.githubusercontent.com/5713670/69486986-485f8180-0e07-11ea-9e50-20ad9c738ec2.jpg)

[2019-11-23 23:39] bdougie opened #401 "Mobile Repository view does not word wrap"
Steps to reproduce
1. Open site on mobile
2. Add repo with a longer than normal name

![image](https://user-images.githubusercontent.com/5713670/69486986-485f8180-0e07-11ea-9e50-20ad9c738ec2.jpg)

[2019-11-23 23:39] bdougie opened #402 "Mobile Repository view does not word wrap"
Steps to reproduce
1. Open site on mobile
2. Add repo with a longer than normal name

![image](https://user-images.githubusercontent.com/5713670/69486986-485f8180-0e07-11ea-9e50-20ad9c738ec2.jpg)

[2019-11-23 23:39] bdougie opened #403 "Mobile Repository view does not word wrap"
Steps to reproduce
1. Open site on mobile
2. Add repo with a longer than normal name

![image](https://user-images.githubusercontent.com/5713670/69486986-485f8180-0e07-11ea-9e50-20ad9c738ec2.jpg)

[2019-11-23 23:40] #401 closed

[2019-11-23 23:40] #402 closed

[2019-11-23 23:41] #400 closed

[2019-11-24 12:25] NileshPatel17 opened #404 "Issue does not get created"
Issue does not get created:-

Steps to reproduce:
1. log in with github account
2. click on "Create Your goal Workspace" button
![image](https://user-images.githubusercontent.com/27020381/69494512-b2008e00-0ee2-11ea-8413-58972206aa76.png)
3. add a repo url and click on "Add"
![image](https://user-images.githubusercontent.com/27020381/69494527-ed02c180-0ee2-11ea-9099-e1974e5b91e4.png)
4. Open Conso

[2019-11-24 22:56] #404 closed

[2019-11-25 14:59] bdougie commented on #262
After some exploration with zeit/swr, I believe this is the best solution. It has caching built-in, and also provides easy use of React.Suspense, which also assists with the multiple re-renders.

[2019-11-25 17:44] bdougie opened #407 "Publish stories if changed / build-and-deploy Action does not fail when changes do not exist."
The bash needs to be updated to fail when there are no changes in the stories directory.

https://github.com/bdougie/open-sauced/blob/master/.github/workflows/storybook.yml

[2019-11-25 17:45] #403 closed

[2019-11-26 08:30] bdougie opened #408 "Testing React. Suspense"
#379  introduces React Suspense, but the test for App.js and RepositoryGoals have been skipped due to Suspense related failures.

This issue is being created to address those tests.

[2019-11-26 08:31] bdougie opened #409 "Test reducers.js"
#379 introduces the reducers.js file.

This issue is being created to track adding tests for the reducers.

[2019-11-29 13:48] #262 closed

[2019-12-01 14:49] bdougie commented on #407
Working on this here: https://github.com/open-sauced/diff-includes/blob/create-action/README.md

[2019-12-10 21:48] #407 closed

[2020-01-02 00:16] #409 closed

[2020-01-18 03:44] bdougie commented on #392
Fixed in #447

[2020-01-18 03:44] #392 closed

[2020-01-20 15:56] bdougie opened #451 "List user interactions for repository"
As a user, I would like to see a list of my active/inactive contributions for a particular repo in the last 6 months.

Contributions can be identified as:
1. issues watching, commented, assigned
2. ~pull requests merged, open, closed~ see note below

[2020-01-22 13:26] bdougie commented on #213
Thought webpack 5 would be shipping sooner. I will reopen this when it does.

[2020-01-22 13:26] #213 closed

[2020-01-22 13:27] bdougie commented on #451
I started documenting the process of discovering this feature on Twitch. https://www.youtube.com/watch?v=8CsUXpMgjXA&t=6s

[2020-01-22 13:49] bdougie commented on #451
I have discovered my path towards solving this on the stream not ideal. I discovered that you can filter for issues that you are subscribed to. This can be a catch-all to find created, comments, and assigned issues.

I also discover that there is a GraphQL object for Issue and PullRequests `issueOrPullRequest`, this is exactly what I need.

[code]

[2020-01-22 21:13] bdougie opened #453 "List user pull request contributions per repo."
## Story

As a user, I would like to see a list of my active/inactive code contributions for a particular repo in the last 6 months.

Code Contributions can be identified as: pull requests merged, open, closed see note below

## Background
This was originally scoped in #451 but split off after discovering an API limitation where Pull Requests are not filterable.

There is a way to use the Search e

[2020-01-22 22:29] bdougie opened #454 "Pin issues to highlight goals actively being worked on"
## User story:

As a user, I would like to highlight contributions and interactions I am actively working on

## Possible solution

Use issue pinning to distinguish which goals should be featured.

[2020-01-24 21:06] bdougie opened #455 "All cards should respect an 80 char limit width"
There are issues with the context card bumping the images.

![Screenshot 2020-01-24 13 04 28](https://user-images.githubusercontent.com/5713670/73104046-546ccb80-3eaa-11ea-882e-23ed288635f1.png)

Should be like this

![Screenshot 2020-01-24 13 05 41](https://user-images.githubusercontent.com/5713670/73104048-56cf2580-3eaa-11ea-914d-1e426b6419ce.png)

[2020-01-24 21:08] bdougie opened #456 "Add filtering for issues by labels"
![Screenshot 2020-01-24 13 07 31](https://user-images.githubusercontent.com/5713670/73104126-87af5a80-3eaa-11ea-8f4b-379421a70843.png)

[2020-02-02 09:41] bdougie opened #469 "Bug: Notes box does not have a cancel button and only a delete"
![CEC5181C-2EF9-4983-9C0E-4CAA7EEB2823](https://user-images.githubusercontent.com/5713670/73606209-5e788380-45a8-11ea-9504-a3bada12cab1.png)

I notice while saving a note there was no cancel button. Considering I built and made the design for this, I know that the pictured delete button should say “Cancel” and not delete.

[2020-02-02 09:55] bdougie commented on #451
Leaving this note for a thought: might break out into its own issue.

It would be nice to link to https://github.com/owner/repo/contribute if there are no contributions to the project. I might be able to scope into my #452 PR

[2020-02-03 16:57] tonymuu commented on #469
Hey Brian, the project looks fun. Could I go ahead and take on this issue?

[2020-02-07 13:33] bdougie commented on #469
Please, that would be appreciated @tonymuu

[2020-02-07 22:55] bdougie opened #471 "Bug: Storybook deployments is broken"
## Issue
see [link](https://github.com/bdougie/open-sauced/pull/470/checks?check_run_id=432877990#step:4:76) for error

## Assumption
The storybook-static folder is no longer called that.

Link to logs for debugging: https://app.netlify.com/sites/sauced-components/deploys

[2020-02-12 20:34] bdougie opened #472 "UI bug - Note box does not respect size contraints"
![Screenshot 2020-02-12 12 33 46](https://user-images.githubusercontent.com/5713670/74374795-f7bb4d00-4d93-11ea-9f0b-46ff4223bc0a.png)

repro steps:

1. drag the note box bigger and see what happens.

[2020-02-14 21:21] bdougie opened #473 "Render Markdown in the note box"
![Screenshot 2020-02-14 13 20 12](https://user-images.githubusercontent.com/5713670/74568418-c88c1380-4f2c-11ea-9063-fd7e497d5006.png)

Be sure that GitHub markdown tables render as well.

[2020-03-19 05:08] #451 closed

[2020-03-20 18:26] notBdougie commented on #344
.take

[2020-04-03 22:29] dwwoelfel commented on #473
.take

[2020-04-19 14:19] bdougie commented on #469
@tonymuu checking in to see if you had questions or still interested in approaching this problem.

[2020-04-22 05:49] bdougie commented on #455
Looks like this bug was introduced in https://github.com/bdougie/open-sauced/commit/1b51654c19cedbd3ada024148c4988bde57ee8b5

[2020-04-22 05:49] #455 closed

[2020-05-15 14:54] yg opened #524 "Can't add repo"
Getting this error from GraphQL

[code]

/cc @bdougie

[2020-05-15 15:00] yg opened #525 "Reloading the page shows login page for a small time"
Reloading the page shows login page for a small-time

https://www.loom.com/share/5fab6c11a7a648e599a1d42b73411d91

/cc @bdougie

[2020-05-15 15:05] yg opened #526 "Wrong stars count in homepage"
![Screenshot](https://user-images.githubusercontent.com/61746440/82065335-9afd6480-96eb-11ea-8ab8-f2c3a402ec20.png)

[2020-05-15 15:08] yg commented on #524
This happens only for the first time after creating the repo! If we reload it works!

[2020-05-15 21:23] bdougie commented on #471
This is fixed.

[2020-05-15 21:23] #471 closed

[2020-05-16 04:13] yg opened #527 "Ability to close banner on top"
![Screenshot](https://user-images.githubusercontent.com/61746440/82110156-a8513800-9759-11ea-8173-2cd50adea9ec.png)

[2020-05-16 04:18] yg opened #528 "Better design for loading the page"
We can add some activity indicator in the rectangle place in the screenshot!

![Screenshot](https://user-images.githubusercontent.com/61746440/82110237-2c0b2480-975a-11ea-8752-b87a3dc9aada.png)

[2020-05-16 04:20] yg commented on #528
I will try for a PR for this issue!

[2020-05-16 04:33] yg opened #529 "Authentication not working on local instance"
Authentication not working on local instance

1. Created Opengraph account
2. Created an App
3. Pasted my app ID in `src/config.js`
4. Added my domain to CORS

While clicking Login with GitHub it stays in the same page!

Here is my GraphQL Response

[code]

Help me sort out this issue @bdougie so I can work on #528

[2020-05-22 16:31] bdougie commented on #524
Ugh, this is probably a caching thing with the token. Thanks for reporting.

[2020-05-22 16:35] bdougie commented on #526
This is known, at least by me. I have not figured out a way to get that data on this page yet.

I think this will be solved with this https://github.com/bdougie/open-sauced/issues/384

[2020-05-22 16:41] bdougie commented on #527
Curious to learn more about this thought. My thought is that the context card at the top will give you info on what is below. Admittedly they provide a ton of information at the moment or event a good amount of context.

[2020-05-22 16:50] bdougie commented on #529
You shouldn't need a monograph account to work on this locally. The auth should point to production data. Are you able to provide more details the steps taken to get this working locally.

My workflow is:

1. git clone this repo
2. npm install && npm start

I realize I am the sole contributor at the moment, so it is possible I missed a step.

---
Happy to set up a pair session where we could sync

[2020-05-22 21:33] bdougie commented on #469
Specifically for anyone who would like to contribute. This is adding a cancel button above here https://github.com/bdougie/open-sauced/blob/master/src/components/NoteForm.js#L72-L75. You can use the same `editing` boolean as well.

[2020-05-22 22:32] bdougie commented on #389
Hear me out:

sauced.yml - name is WIP.

[code]

[2020-05-22 22:41] bdougie opened #531 "Better error message when GitHub API in down."
<img width="1392" alt="Screenshot 2020-05-22 15 40 27" src="https://user-images.githubusercontent.com/5713670/82714247-9e8c7080-9c42-11ea-801d-89f890d17fad.png">

[2020-05-23 04:10] yg commented on #527
It would be great if we change the way of displaying the context as **npmjs** do.

[2020-05-23 04:55] yg commented on #528
.take

[2020-05-23 13:05] yg commented on #529
@bdougie Yay :tada:, It works on localhost.

[2020-05-23 13:05] #529 closed

[2020-05-23 13:17] #524 closed

[2020-05-23 13:25] bdougie commented on #384
Path moving forward.

- [ ] Create open-sauced-goals template
- [ ] Create a README in that template explaining how the goals repo works.
- [ ] Switch the createGoals mutation to create from a template.
- [ ] Create GitHub action that creates a file in the open-sauced-goals repo when an issue is opened. Add to the template.

When creating goals, create a folder structure that matches owner/repoNam

[2020-05-23 13:55] yg opened #535 "Unhandled Rejection (TypeError): Cannot read property 'gitHub' of null"
Getting this error while navigating between issues.

![Screenshot](https://user-images.githubusercontent.com/61746440/82732416-b5a68d80-9d2a-11ea-8ef4-dc017f565c44.png)

### Steps to Reproduce

1. Open Repo that has issues (In my case http://localhost:3000/repos/bdougie/open-sauced/2)
2. Navigate between issues, try all possibilities, brute force it
3. You will see the error

[2020-05-23 14:58] bdougie commented on #535
Interesting @yg - I think it is most likely due to me only fetching when you navigate from the dashboard. To better understand this.

Are you hitting back on your browser to navigate to another issue? Or are you copying the URL and pasting it in the browser?

Curious about what you mean by "brute force".

[2020-05-23 15:01] yg commented on #535
@bdougie I don't use native browser back!

I made a video :movie_camera: for you!

https://www.loom.com/share/040a38a746ca4f10aba874ccbf73b922

[2020-05-23 15:07] bdougie commented on #535
Thanks for the video, I was looking at the wrong place. This looks like the pagination breaks a bit of the cursor gets lost. Regardless, definitely a bug and reproducible.

I find this happens when you paginate to page back to the first (original 5 issues) paginate.

[2020-05-23 15:20] yg commented on #531
@bdougie How we are going to simulate the API that looks like down?

![](https://media0.giphy.com/media/l0LIYv9tJFIVHxF5u/giphy.gif)

[2020-05-23 15:28] yg commented on #535
@bdougie Simply Brute force is trying all possibilities recklessly!

[2020-05-23 15:29] yg commented on #473
.take

[2020-05-23 17:37] #528 closed

[2020-05-23 23:10] yg opened #539 "Show full name and avatar in the navbar"
### Describe the solution you'd like

Show full name in the navbar, if there is no name we will fall back to the username (login)

We can also show user avatar from GitHub

### Additional context

![Screenshot](https://user-images.githubusercontent.com/61746440/82742192-5c654b00-9d78-11ea-8fbd-584c83be6de4.png)

**We need to enable `avatar` and `name` property in GitHub API @ Onegraph**

If ok, I'

[2020-05-23 23:14] yg opened #540 "Better navbar design"
### Is your feature request related to a problem? Please describe.

Currently, the navbar seems little flat

### Describe the solution you'd like

We can design a navbar which is more accessible in terms of functionality and design

### Describe alternatives you've considered

- GitHub's Navbar
- Twitter's Old Navbar

If ok, I'm ready to work on this!

[2020-05-24 00:01] bdougie commented on #540
Happy to see examples. Https://primer.style have components for a GitHub type nav

[2020-05-24 00:02] yg commented on #540
Yes primer is cool!

[2020-05-24 00:08] bdougie commented on #539
This is lower priority while the the home page and other various bugs exist.

But this is also trivial to update to add. Feel feee to work on it, but rather than have the name at all, would actually prefer just the avatar in the nav.

The apiGraphQL.js can get updated to add the avatar to the data being fetched.

[2020-05-24 00:25] bdougie commented on #531
If this this app was using the REST api I would say GitHub.com/nock/nock but I am not sure if it handles graphql mocking as well. Something to look into.

[2020-05-24 03:08] yg commented on #539
.take

[2020-05-24 03:09] yg commented on #540
.take

[2020-05-24 05:51] #473 closed

[2020-05-24 05:53] bdougie commented on #472
Now that #473 is fixed, I am considering swapping the issues box and the note box, since the issues do not need as much space. This might be a quick fix, but a better layout design will be needed after or close to the 1.0 launch.

[2020-05-24 06:49] yg opened #544 "Show empty placeholder if there are no issues"
### Describe the solution you'd like

Show empty placeholder if there are no issues

### Additional context

![Screenshot](https://user-images.githubusercontent.com/61746440/82747641-cf8eb180-9db8-11ea-9eac-4c3e81885fca.png)

I like to take this issue!

[2020-05-24 14:08] bdougie opened #545 "Finish Homepage implementation."
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

The homepage needs to more components implemented. Each component should be represented in a storybook and reuse components where possible. There is probably an opportunity for code clean up or reorganization of components, which is fine to do as long as it doesn't detract from the home page w

[2020-05-24 14:12] yg commented on #545
@bdougie Wow, this really really awesome! :heart_eyes:

![](https://media3.giphy.com/media/xT0xeJpnrWC4XWblEk/giphy-downsized-medium.gif)

Can we merge the navbar PR first if okay and then we start working on this! So we can prevent merge conflicts!

[2020-05-24 14:29] #539 closed

[2020-05-24 14:29] #540 closed

[2020-05-25 04:58] yg commented on #545
@bdougie Can you invite me to this project https://zpl.io/VKg1WwP

me@yogi.codes

[2020-05-25 05:32] yg commented on #544
.take

[2020-05-25 12:02] yg opened #547 "Contact page with netlify forms"
### Describe the solution you'd like

It would be great if we have **contact us** page with **netlify forms** https://docs.netlify.com/forms/setup/

![](https://media1.giphy.com/media/ZBVRlQamUaAMAOWDHB/giphy.gif)

[2020-05-25 12:08] yg opened #548 "New buttons"
### Describe the solution you'd like

It would be great if we have a new button design, currently, the buttons are huge and weird hover colors.

![Screenshot](https://user-images.githubusercontent.com/61746440/82811468-799c3580-9eae-11ea-8ad9-e6550c825176.png)

### Describe alternatives you've considered

GitHub Primer Styles
Dev.to
Tailwind CSS Buttons

[2020-05-25 12:11] yg opened #549 "It would be great if we remove underlines for links"
### Describe the solution you'd like

It would be great if we remove underlines for links

### Describe alternatives you've considered

GitHub Issues / PRs List

[2020-05-25 12:16] yg opened #550 "Better design for lists"
### Describe the solution you'd like

It would be great if we have better designs for the list view, currently, we have alternative background-color, we can change it all the same color.

### Describe alternatives you've considered

Tailwind CSS List View

or something like this!

![Screenshot](https://user-images.githubusercontent.com/61746440/82811975-98e79280-9eaf-11ea-868a-5ceb8da874c8.png)

[2020-05-25 12:21] yg opened #551 "Repo metadata in header card"
### Describe the solution you'd like

We can show repo metadata in the header card of Repository page.

Metadata Like

- Description
- Website
- Number of commits
- Number of branches
- Number of releases
- Number of contributors
- License used
- Repo topics

### Additional context

We find huge whitespace in a header card we can will with the above-listed metadata!

![Screenshot](https://user-ima

[2020-05-25 14:50] bdougie commented on #551
I like this idea. The existing repo metadata lives in the sidebar, but that content also has a lot of space. Combining that content into the same card would make better use of space.

![Screenshot 2020-05-25 07 49 21](https://user-images.githubusercontent.com/5713670/82823416-606a9900-9e5c-11ea-89b0-f45e726e990d.png)

[2020-05-25 14:52] yg commented on #551
.take

[2020-05-25 15:01] bdougie commented on #549
The Typography folder has reusable components for links. The accent or subtle links may work as a quick update.

https://github.com/bdougie/open-sauced/tree/master/src/styles/Typography

[2020-05-25 15:03] bdougie commented on #547
I'd prefer the contact to happen through GitHub Discussions or Issues instead. By the nature of the project being open source, it would lend itself to having conversations in the open and not on another platform.

I can reach out @becca to request this repo to get access.

[2020-05-25 15:05] bdougie commented on #548
Happy to explore this. Feel free to post screenshots for examples as well.

[2020-05-26 03:46] yg commented on #548
@bdougie In this blog, we can find huge list of buttons design!

https://dev.to/webdeasy/top-20-css-buttons-animations-f41

[2020-05-26 14:34] #545 closed

[2020-05-26 14:42] bdougie opened #553 "Add a discord message action to announce when a new release has been cut."
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

From a quick search this exist: https://github.com/marketplace/actions/actions-for-discord.

Using something similar a message can be sent to the discord channel when a release has been cut.

### Describe alternatives you've considered

Use the `on: release`.

### Additional context

[Link to

[2020-05-26 15:47] bdougie commented on #553
testing the webhook

[2020-05-26 15:54] yg commented on #553
Test

[2020-05-26 15:55] becca commented on #547
@bdougie you should have access now to enable for this repository

[2020-05-26 15:56] bdougie commented on #553
For now, we can just use the general discord webhook.

[2020-05-26 15:56] #553 closed

[2020-05-26 15:56] bdougie commented on #547
Thanks @becca!

[2020-05-26 15:56] #547 closed

[2020-05-26 15:57] bdougie commented on #547
@yg I am going to set up some design discussions this afternoon.

[2020-05-26 15:57] yg commented on #547
Thanks @becca!

[2020-05-26 16:50] #551 closed

[2020-05-26 16:51] #548 closed

[2020-05-26 16:52] #550 closed

[2020-05-26 16:52] #389 closed

[2020-05-26 21:39] Brawrdon opened #554 "Return key should add a new repo"
### Is your feature request related to a problem? Please describe.

When adding a repository, you **have** to click the add button. This is annoying especially when trying to quickly set up the dashboard but could also be an accessiblity issue.

### Describe the solution you'd like

Presing the return key should add a repo.

[2020-05-26 21:50] Brawrdon opened #555 "Duplicate repository listing"
### Describe the bug

A small issue but when trying to add the same repository more than once it creates a unique listing.

### To Reproduce

1.  Go to dashboard
2. Add a repo
3. Add the same repo again... and again... and again...

### Expected behavior

The repo shouldn't be listed again. Potentially a message could appear to let them know the repo already exists which provides an anchor link to

[2020-05-26 21:54] Brawrdon commented on #549
I think it would be best to keep links underlined, but only when they're not in a list or navigation, for the sake of accessbility.

See: [https://www.nngroup.com/articles/guidelines-for-visualizing-links/](Jakob Nielsen's post on link affordances)

(What I'm suggesting seems to already be in place, but seeing the site on @bdougie's stream seems to show underlines on the issue lists... Maybe there

[2020-05-26 23:04] bdougie commented on #384
I have a working that needs some polish.

I am on the fence if the Action should push directly to master or not.

https://github.com/notBdougie/open-sauced-goals/blob/master/.github/workflows/sauce-grab.yml

[2020-05-26 23:07] bdougie commented on #555
This a great issues will hopefully be solved with #384

[2020-05-26 23:09] bdougie commented on #554
I would also love this feature. Make the return button work!

[2020-05-26 23:32] Brawrdon opened #556 "[Onboarding] Can't log in when developing locally"
### Describe the bug

I've just attempted to work on development locally but I'm unable to log in. The GitHub login window appears, it seems to work, but then it dissapears and nothing happens.

### To Reproduce

1. Clone the repo
2. run `npm install`
3. run `npm start`
4. Visit localhost:3000 and attempt to log in
5. Nada

### Desktop

- OS: macOS 10.15.4
- Browser: Firefox
- Version: 76.0.1

###

[2020-05-26 23:45] Brawrdon commented on #556
Just checked the console and it seems to be an issue with CORS headers not matching those expected by OneGraph's OAuth: `Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://serve.onegraph.com/oauth/code?app_id=...[Omitted]... (Reason: CORS header 'Access-Control-Allow-Origin' does not match 'https://localhost:3000').`

[2020-05-26 23:48] bdougie commented on #556
That is weird. The localhost is allowlisted. Are you able to do a refresh with a cache? Does work then?

[2020-05-26 23:52] Brawrdon commented on #556
I just tried it with Chrome, seems to be a Firefox specific issue.

[2020-05-27 00:56] #554 closed

[2020-05-27 00:57] bdougie commented on #554
Fixed in #557

[2020-05-27 01:06] yg commented on #556
@bdougie Let me try in [BrowserStack](https://browserstack.com) in the following browsers

- [ ] Safari 13.1
- [ ] Firefox 76
- [ ] Chrome 83
- [ ] Opera 68
- [ ] Edge 81

[2020-05-27 15:55] #544 closed

[2020-05-27 16:21] yg commented on #408
@bdougie I think this issue is good to be in **discussions**!

[2020-05-27 17:54] yg commented on #469
I'm taking this @bdougie

[2020-05-27 19:20] #408 closed

[2020-05-28 13:22] bdougie commented on #384
Update: I have the solution working but have not implemented it yet, due to my time being constrained.

I am going to limit the scope to only provide star and topic data. I won't get to it until this weekend, but it will get done.

![Screenshot 2020-05-28 06 22 17](https://user-images.githubusercontent.com/5713670/83146778-9a7daa00-a0ab-11ea-8d83-dd9f79347c85.png)

[2020-05-28 13:30] bdougie commented on #527
So like this?

![Screenshot 2020-05-28 06 29 44](https://user-images.githubusercontent.com/5713670/83147539-aa49be00-a0ac-11ea-9169-76afd9c5b661.png)

[2020-05-28 13:30] #527 closed

[2020-05-28 13:47] bdougie commented on #525
The storing of the auth token, after you have logged in, needs to be set in a database or local storage. I think that is what is happening here--the app does not remember if you have logged in and boots you back to the login and until it figures it out.

We solved on the githubhackathon.com (that site is built similar to opensauced) by setting the token in a cookie. The code is not open-sourced, b

[2020-05-28 22:51] #469 closed

[2020-05-29 03:17] yg opened #567 "Open Sauced Migration Checklist"
# Open Sauced Migration Checklist

## Pre Transfer

- [x] Change Repository Links in
  - [x] Websites Linked @bdougie
  - [x] README (mainly badges) @yg
  - [x] CONTRIBUTING (mainly badges) @yg
- [x] LICENSE change to org name
  - [x] LICENCE file @yg
  - [x] README @yg
- [x] Remove unused [projects](https://github.com/bdougie/open-sauced/projects) @bdougie
- [x] Remove unwanted [issue labels](htt

[2020-05-29 03:25] bdougie commented on #567
Not sure if this is necessary, but there is an action that checks for broken links as part of CI. https://github.com/marketplace/actions/broken-link-check

[2020-05-29 03:33] yg commented on #567
@bdougie Wheather we are going to use **logs4netlify**?, it creates lot of deployments, Netlify itself has auto-deploy for PRs!

WDYT?

[2020-05-29 03:36] bdougie commented on #567
The value with logs4netlify is that it gives you https://github.com/bdougie/open-sauced/deployments. This is not duplicate effort but another place to link to netlify and keep of things without me giving access directly to my netlify account.

I think the easy solution having the deploy inactivated on github when the PR is merged.

[2020-05-29 06:43] #549 closed

[2020-05-29 07:12] yg opened #570 "No 404 Page"
### Describe the bug

No **404** Page

### To Reproduce

Visit https://opensauced.pizza/oops

### Expected behavior

Show 404 Page

[2020-05-29 07:18] yg opened #571 "Logout should redirect to base URL (/)"
### Describe the bug

Logout should redirect to base URL (/)

### To Reproduce

https://www.loom.com/share/d8690e9bcfc44accb9c5b5b06eff5367

[2020-05-29 16:06] bdougie commented on #472
Tables are also kind of awkward.

<img width="707" alt="Screenshot 2020-05-29 09 04 41" src="https://user-images.githubusercontent.com/5713670/83280567-b8bad700-a18b-11ea-8ce7-fd0752464cf5.png">

[2020-05-29 16:20] yg opened #573 "AdminStats bar for maintainers"
### Describe the solution you'd like

Performance bar for that is visible only for open sauced maintainers

- Current working branch
- Version of React
- Total Render Time
- Number of API Calls
- Cache
- etc

### Describe alternatives you've considered

### GitHub - Screenshot from this [Video](https://www.youtube.com/watch?v=VDGP07RJcWA)

![PB1](https://user-images.githubusercontent.com/61746440/

[2020-05-29 17:23] bdougie opened #579 "iPad UI is not responsive"
### Describe the bug

### To Reproduce

### Expected behavior

### Screenshots

![image](https://user-images.githubusercontent.com/5713670/83287128-f9b7e900-a195-11ea-8d0d-6d8e7e691696.png)
![image](https://user-images.githubusercontent.com/5713670/83287142-ffadca00-a195-11ea-97ca-755c96414afa.png)

### Smartphone

- Device: IPad Pro 10.5 inch
- OS: iOS
- Browser: safari
- Version: 13.4.1

### Add

[2020-05-29 17:55] Brawrdon opened #580 "Including spaces before or after repo name adds an item to the list"
### Describe the bug

When adding a space before or after the input when trying to add a repository results in the item being added to the list. When clicking the item it opens a page that display loading spinner indefinitely with no "not found" error. I noticed this when trying to paste a copy the owner/repo text from the repo's page, the pasted text included spaces which I forget to remove from

[2020-05-30 02:35] yg commented on #580
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To claim an issue to work on or need any help, please leave a comment.

[2020-05-30 02:40] yg commented on #580
There is an issue already for 404 #570

I can able to reproduce the space bug, I will work on this issue!

[2020-05-30 02:46] #567 closed

[2020-05-30 02:54] yg commented on #573
@bdougie I have some questions in designing context/performance bar?

How can we call it context/performance bar?
How can we fetch only the maintainers from open-sauced GitHub org?
Is Onegraph provide API for Netlify?

[2020-05-30 03:07] bdougie commented on #573
I think for now we can we can this idea as a AdminStats bar.

Because we now use an org we can create a check for logged in user ids and check if the logged in user is a member the team_id.

For example we are both in the maintainer team and can hide this and other features for admins only.

Those are my initial thoughts.

I think first steps is creating or finding a library to toggle react compon

[2020-05-30 14:22] yg commented on #556
@Brawrdon @bdougie I tested in all browsers listed above, it is working as expected!

Can you confirm the browser version @Brawrdon

[2020-05-30 15:19] Brawrdon commented on #556
76.0.1. The issue is still happening with a fresh clone and force clearing the cache.

[2020-05-30 15:21] yg commented on #556
@Brawrdon It's weird! Can you possibly try a screen record and share it?

If you don't have one, I recommend Loom https://chrome.google.com/webstore/detail/loom-for-chrome/liecbddmkiiihnedobmlmillhodjkdmb

[2020-05-31 15:58] #571 closed

[2020-05-31 16:21] #573 closed

[2020-05-31 21:47] #579 closed

[2020-05-31 21:48] bdougie commented on #579
#588

[2020-06-01 04:03] bdougie commented on #472
Confirm that this is still an issue.

Need to add `width: 100%`

[2020-06-01 04:32] yg opened #589 "Can't delete the note entirely"
### Describe the bug

Can't delete the note entirely

### To Reproduce

https://www.loom.com/share/c53116fef20b44a9b32be05752946395

[2020-06-01 04:56] bdougie commented on #570
I did the initial work to get the unstyled 404 pages and realized that #525 is blocking this since the JWT is reset when refreshed, causing the 404 to be rendered as well.

[2020-06-01 15:19] bdougie commented on #525
I discovered a fix and will need to clean it up a bit but in short this: https://github.com/open-sauced/open-sauced/blob/master/src/containers/App.js#L16, instead of the user object that needs to be a boolean.

I have some code to set an `isLoggedIn` similar to the `isAdmin`. Instead of local storage though, I am setting a cookie. Once working, I will set this up so a notify function can perform t

[2020-06-01 15:20] yg commented on #525
Nice Idea @bdougie

[2020-06-01 16:33] Katheesh opened #597 "Include Mailing Feature"
### If you can use node js back-end development we can implement mailing feature on open-sauced.
below link most usable mailing package
https://github.com/nodemailer/nodemailer

### We can send Notifications
- Release updates
- Login alerts
- Registration confirmations

### I hope you to use this issue for upgrading open-sauced

### thank you

[2020-06-01 16:35] #597 closed

[2020-06-02 11:58] #580 closed

[2020-06-03 11:51] #472 closed

[2020-06-03 12:29] yg opened #600 "Don't allow the creation of goal if the repo is deleted or not existed in GitHub"
Don't allow the creation of goal if the repo is deleted or not existed in GitHub

### To Reproduce

1. Try adding the repo which does not exist or deleted from GitHub
2. We can see the Repo page loads infinitely

### Expected behavior

Show an error that repo does not exist

[2020-06-03 14:03] #525 closed

[2020-06-03 15:23] bdougie commented on #570
#598 has unblocked this. I will begin work on this, this afternoon.

[2020-06-03 15:28] yg commented on #570
Good to hear @bdougie, It seems like we are fixing many bugs and shipping some good features!

[2020-06-04 08:38] filiptronicek commented on #579
I'm not sure about whether this update is already on the website, but I still have issues when being between 769 and 1069 px in width.
![image](https://user-images.githubusercontent.com/29888641/83734548-7132c000-a64f-11ea-9943-5483101dc454.png)

[2020-06-04 08:55] yg commented on #579
@filiptronicek I think this feature is not shipped to production.

[2020-06-04 12:09] #570 closed

[2020-06-04 12:11] bdougie commented on #579
@filiptronicek thanks for point that out. I think we will need to start shipping bug fixes to the production right away. I am going to ship v0.14.0 a day earlier and moving forward make sure cut patch releases when a bug is fixed.

[2020-06-04 13:02] filiptronicek commented on #600
It could also check whether the repo is archived or not -> you cannot contribute to read-only repos.
![image of the GitHub REST API](https://user-images.githubusercontent.com/29888641/83759731-4c9d0f00-a674-11ea-9e0a-fab4afd5667a.png)

[2020-06-04 13:04] bdougie commented on #600
good catch @filiptronicek. Definitely something else we should consider when fixing this.

[2020-06-04 13:41] filiptronicek opened #607 "Dark mode/theme"
### Is your feature request related to a problem? Please describe.
A dark color scheme for the project's web view, loved by a lot of devs. I think this project would really deserve something like this for the open-source night sessions.

### Describe the solution you'd like
A new dark theme, with a switch to be able to choose from a light (current) or the new dark theme. It could be changed by the

[2020-06-04 13:45] yg commented on #607
Thanks for the issue @filiptronicek! We'll take your request into consideration and follow up if we decide to tackle this issue.

To claim an issue to work on or need any help, please leave a comment.

[2020-06-05 06:42] yg commented on #607
There is an example implementation using **styled-components** here https://github.com/krofax/Dark-Mode-Using-Styled-Component-In-React-Apps/tree/starter

[2020-06-05 06:49] yg opened #608 "Show empty placeholder if no there are repos"
Show empty placeholder if no there are repos

### To Reproduce

1. Close all issues in goals repo

### Expected behavior

Show a placeholder that no repo exists

### Screenshots

![Screenshot](https://user-images.githubusercontent.com/61746440/83845546-be359580-a726-11ea-834b-28ebc1133745.png)

[2020-06-05 08:49] filiptronicek opened #610 "A lot of space in the infobox"
There's just a lot of real estate in the infobox of a repo in the web view.

### Describe the solution you'd like
There could be a lot of info, including - stats, descriptions, tags, language [Thread]?
It would help people with not having to go back and forth from GitHub and Open Sauced.

### Describe alternatives you've considered
It could be also made just smaller, but I think it would be more w

[2020-06-05 09:01] yg commented on #610
Thanks for the issue @filiptronicek :purple_heart:! We'll take your request into consideration and follow up if we decide to tackle this issue.

To claim an issue to work on or need any help, please leave a comment :speech_balloon:

[2020-06-05 13:33] bdougie opened #611 "Admin bar shows when logged out."
### Describe the bug

The admin bar is limited to members of the org. When you hit log out, the bar still shows until refresh.

### To Reproduce

1.  Log in the to site (only org members)
2. Then Log out
3. Note the the bar still shows.

### Expected behavior

The bar should only when logged. Correct?

It doesn't seem like this attribute is being cleared here: https://github.com/open-sauced/open-s

[2020-06-05 13:36] bdougie opened #612 "Images flicker when page is reload the homepage."
### Describe the bug

When logging into the app, the screen appears blank. I have discovered this only happens when you log out while on a repo goal page and then log in.

### To Reproduce

1. Navigate to the homepage
2. Hit refresh

### Expected behavior

Images should not flicker.

### Screenshots

https://www.loom.com/share/12b0459ec151424f8fab4fd640b9861d
### Desktop

- OS: macOS
- Browser: Ch

[2020-06-05 13:43] bdougie opened #613 "https://opensauced.pizza/logout doesn't work"
### Describe the feature

Currently you can click the logout button to logout of the app without issue. It would be nice to be able to add `/logout` to the url to also logout. This would have been a nice feature to have while testing #571.

### Expected behavior

1. Login to the app
2. Enter `https://opensauced.pizza/logout` in url bar and hit enter.
3. You are logged out.

[2020-06-05 14:40] bdougie opened #617 "Blank screen after login"
### Describe the bug

### To Reproduce

1. logout while on the dashboard goals.
2. login again and see blank
### Expected behavior

### Screenshots

![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/5713670/83914296-d6f17b80-a725-11ea-8dec-23a560173608.gif)

### Desktop

- OS: macOS
- Browser: Chrome
- Version: 86

### Additional context

This is happening when you are ina go

[2020-06-05 14:45] filiptronicek opened #618 "Blank notes in repo shows blank scrollbar"
### Describe the bug

When you don't have any notes on a repo, it shows an empty horizontal scrollbar
### To Reproduce

1. Go to a repo from the Dashboard
2. Clear the notes

### Expected behavior
A blank div without any scrollbars

### Screenshots

![screenshot of the section](https://user-images.githubusercontent.com/29888641/83890254-d4098180-a74b-11ea-9287-c75145e80b1c.png)

### Desktop

- OS:

[2020-06-05 14:46] bdougie commented on #454
<img width="489" alt="Screenshot 2020-06-05 07 45 53" src="https://user-images.githubusercontent.com/5713670/83890416-9af7ef80-a700-11ea-8cca-1ab275babbdc.png">

[2020-06-05 14:50] filiptronicek commented on #618
It can be resolved by just adding
[code]

[2020-06-05 14:52] filiptronicek commented on #618
I'm not sure where the styles for the element are though, @yg can you help?

[2020-06-05 15:47] yg commented on #618
@filiptronicek I think if we disable the scrollbar, it will also disabled while there is a note!

@bdougie we need your help!

[2020-06-05 16:04] bdougie commented on #618
@filiptronicek here is the spot

/open-sauced/blob/50ea41ffe948c5bc9c9a8f22797b4ad167ef4120/src/styles/TextArea.js#L22-L25

[2020-06-05 22:36] thinkverse opened #621 "UI update for better readability."
### Is your feature request related to a problem? Please describe.
Looking around the site I have some issues with the readability of it, the font size is too small and the leading it to close together that even on a big screen it's hard to read, and will lead to poor readability for people with impaired vision.

### Describe the solution you'd like
The recommended minimum for font sizes is `16px`

[2020-06-05 22:56] bdougie commented on #621
Thanks so much for opening this up and sharing these guidelines. This is an important consideration and I will make sure we can address this in the next release.

[2020-06-06 05:24] yg opened #623 "Details section is not aligned"
### Describe the bug

Details section is not aligned

### Screenshots

![Screenshot](https://user-images.githubusercontent.com/61746440/83936723-f222c080-a7e3-11ea-88a3-b3459b80e905.png)

[2020-06-06 11:46] #589 closed

[2020-06-06 12:39] #611 closed

[2020-06-06 12:58] bdougie commented on #621
Just did a spin through the repo. We can solve a lot of this by discontinuing usages of the [micro variable](https://github.com/open-sauced/open-sauced/blob/master/src/styles/variables.js#L41) for font-size: https://github.com/open-sauced/open-sauced/search?p=2&q=font-size&unscoped_q=font-size.

Steps to fix:

1. Remove micro var usage
2. Switch all font-size to use existing variables.

[2020-06-06 13:37] filiptronicek commented on #618
@bdougie @yg what max height should the notes be?

[2020-06-06 14:58] filiptronicek opened #631 "Quote author not visible"
### Describe the bug
When on the homepage (not logged in), @bdougie's name on his quote is not visible on Firefox.

### To Reproduce
1. Log out
1. See the quotes

### Expected behavior
The quotes look the same in all browsers.

### Screenshots
Chrome:
![chrome](https://user-images.githubusercontent.com/29888641/83947378-d553b080-a816-11ea-8bd5-0ce4e1076bfd.png)
Firefox:
![firefox](https://user-ima

[2020-06-06 17:02] #618 closed

[2020-06-06 21:46] filiptronicek commented on #607
A little idea of how it could look like:
![dark mode](https://user-images.githubusercontent.com/29888641/83955113-d81ec780-a84f-11ea-9b8e-57743c5eeb08.png)

[2020-06-07 08:15] yg commented on #612
Is that because of **serviceworkers**?

[2020-06-07 12:54] bdougie opened #639 "Add link to CodeTriage to repo goals for reminders"
### Is your feature request related to a problem? Please describe.

Code Triage already exist and is doing great work. I discovered if you add the github owner and repo to the end of the codetriage.com url it will navigate to a project for triaging or have you create it in the platform.

### Describe the solution you'd like

Add a link or button so users can track the project and get emails when n

[2020-06-07 19:46] filiptronicek commented on #607
Or this:
![repo view](https://user-images.githubusercontent.com/29888641/83978505-314a3200-a908-11ea-9719-dfc633beebc9.png)

[2020-06-07 19:50] filiptronicek commented on #607
Or the original with greater contrast:
![homepage](https://user-images.githubusercontent.com/29888641/83978573-c64d2b00-a908-11ea-903b-c8e359329e66.png)

[2020-06-07 23:20] bdougie commented on #607
I think this is a good first pass. I would like to see if we could keep the Hues, but darken them though.

For example, I took the background color only lowered the Brightness (HSB) to get the following.

<img width="390" alt="Screenshot 2020-06-07 16 14 53" src="https://user-images.githubusercontent.com/5713670/83982309-b4ed2a00-a8da-11ea-8bab-fa77c7bc76c9.png">

[2020-06-08 00:02] Brawrdon opened #643 "Dead repos still show up on dashboard"
### Describe the bug
I'm not sure if I should've made this an issue or discussion but...

I noticed on my dashboard **bdougie/open-sauced** was still taking up a spot after its transfer.

### To Reproduce

1. Add a repo
2. Wait for that repo to be deleted, renamed or transferred
3. Watch as the old link sits there

### Expected behavior

I'm not sure if it's possible, but it would be cool to see i

[2020-06-08 00:12] Brawrdon commented on #607
So I use [Dark Reader](https://darkreader.org) and didn't even realise that the dark theme officially actually implemented. Here are some screenshots of Dark Reader's attempts at automatically create a dark theme version of the website, they may help in coming up with a colo(u)r scheme!

![Dashboard](https://user-images.githubusercontent.com/9751243/83983294-f5719580-a924-11ea-9464-6c15c3a06369.pn

[2020-06-08 00:24] Brawrdon commented on #621
I think we should be using `rems` to accompany this. We should also think about making the site respect what users set as their expected font size in their browser whether that be higher or lower than 16px, instead of hard coding it. I think most browsers default to 16px anyway.

Here's some possible approaches: https://developer.mozilla.org/en-US/docs/Web/CSS/font-size#Possible_approaches

[2020-06-08 01:11] bdougie commented on #607
Looks like Dark Reader does a good job. It also calls a places where we could improve the UI in regards to color choice for elements.

[2020-06-08 01:25] Brawrdon commented on #607
Agreed 😁

[2020-06-08 03:11] yg commented on #643
Thanks for the issue @Brawrdon :purple_heart:! We'll take your request into consideration and follow up if we decide to tackle this issue.

To claim an issue to work on or need any help, please leave a comment :speech_balloon:

[2020-06-08 03:12] yg commented on #643
This is somewhat related to #600

[2020-06-08 12:20] #631 closed

[2020-06-08 12:40] filiptronicek commented on #607
What do you guys think, which better for a dark mode implementation? Dark grey or black? (I personally implement on every one of my websites a dark mode with a dark grey but just to be all on the same note here)

[2020-06-08 12:55] bdougie commented on #607
Dark grey

[2020-06-08 13:25] NotMoni opened #645 "Lint workflow that runs on PR's and Commit"
Just Curious.

cc @yg @bdougie

[2020-06-08 13:29] bdougie commented on #645
We don't. There is a lint failure locally but it would be nice to have at the time of the PR, especially for quick changes in the browser.

I know there are Actions that exist but haven't thought to implement it.

I use https://github.com/marketplace/actions/node-code-formatter in a workshop I teach.

[2020-06-08 13:32] NotMoni commented on #645
@bdougie Alright. If you want I can work on a PR for the lint Github actions that runs on commit and PR.

[2020-06-09 14:44] bdougie opened #647 "Add lighthouse action to run on PRs."
### Is your feature request related to a problem? Please describe.

https://github.com/jakejarvis/lighthouse-action

### Describe the solution you'd like

At the moment we have not consider our lighthouse scores. They cover things important metrics for our users.

### Describe alternatives you've considered

There is the Lighthouse Action that is built in conjunction with the Lighthouse team: http

[2020-06-09 14:49] yg commented on #647
**FYI!** I use the same CI on my personal website!

Here is an example audit output https://github.com/yg/yg.github.io/runs/716012322?check_suite_focus=true#step:10:250

[2020-06-09 21:35] filiptronicek opened #650 "[UX] Delete and cancel button are easily confused"
### Is your feature request related to a problem? Please describe.
The Delete button near the Notes on a single-repo view changes to a Cancel one when editing a Note. It is really confusing because it kinda looks like a delete button for the notes, not the repo. (I already deleted a few repos accidentally lol)

### Describe the solution you'd like
I have a couple of different ideas:
1. Two buttons

[2020-06-09 22:08] filiptronicek opened #653 "Bug: cancel button doesn't really cancel the note creation"
### Describe the bug
When editing notes of a repo, when the cancel button is pressed, the issue isn't updated, but the UI is. A reload solves it, but it should really just revert to it's last state

### To Reproduce
1. Go to a single repo
2. Add notes
3. Hit cancel
4. See the note still appear.

### Expected behavior
The UI is not updated.

### Screenshots
![when editing](https://user-images.githu

[2020-06-09 22:12] bdougie opened #654 "Bug: Page loads indefinitely when the repo is misspelled."
### Describe the bug

When a repo is submitted, there is no validation on the page so a misspelled repo will never load or present an error.

### To Reproduce

1. Navigate to dashboard.
2. add the repo open-sourced/open-saueced
3. Note the page spins indefinitely.

### Expected behavior

1. Validate that the repo exists on github when submitted.
2. Notify the user does not exist.

### Screenshots

[2020-06-09 22:13] bdougie opened #655 "Feature: Improve the 404 page with more assets."
### Is your feature request related to a problem? Please describe.

The 404 pages could provide more details. My thought is adding the some recommend issues or projects to this page.

### Describe the solution you'd like

Instead of an H1, leverage a chat bubble.

![Screenshot 2020-06-14 06 50 26](https://user-images.githubusercontent.com/5713670/84595235-8fe14580-ae0b-11ea-9e0a-f216960be75d.png)

[2020-06-09 22:43] bdougie commented on #639
Quick UI Mock

<img width="445" alt="Screenshot 2020-06-09 15 42 55" src="https://user-images.githubusercontent.com/5713670/84208174-fced8780-aa67-11ea-9f52-0c46eaadc5f9.png">

[2020-06-09 22:55] bdougie commented on #456
UI Mock, open to other ideas. The thought is at least filtering by "good-first-issues" and similar.

<img width="135" alt="Screenshot 2020-06-09 15 54 02" src="https://user-images.githubusercontent.com/5713670/84208873-936e7880-aa69-11ea-84e5-b2575fb4614d.png">

The idea to track the number of issues by filter.

<img width="736" alt="Screenshot 2020-06-09 15 49 57" src="https://user-images.githubu

[2020-06-10 02:17] yg commented on #647
Merged!

[2020-06-10 02:17] #647 closed

[2020-06-10 02:25] yg commented on #608
Merged!

[2020-06-10 02:25] #608 closed

[2020-06-10 02:32] yg commented on #650
Thanks for the issue @filiptronicek :purple_heart:! We'll take your request into consideration and follow up if we decide to tackle this issue.

To claim an issue to work on or need any help, please leave a comment :speech_balloon:

[2020-06-10 02:32] yg commented on #653
Thanks for the issue @filiptronicek :purple_heart:! We'll take your request into consideration and follow up if we decide to tackle this issue.

To claim an issue to work on or need any help, please leave a comment :speech_balloon:

[2020-06-10 06:14] yg opened #656 "Bug: Admin stats bar not working on first paint"
### Describe the bug

Admin stats bar not working on first paint

### To Reproduce

1. Clear App Storage
2. Login
3. Press backtick ``` ` ```
4. Admin bar will not get displayed
5. Reload the page
6. It works

### Expected behavior

Admin bar should visible during first load itself

[2020-06-10 09:23] yg opened #658 "Bug: White label is not visible"
### Describe the bug

White label is not visible

### To Reproduce

1. Create an Issue
1. Create a label with white color
1. Apply the label to the issue

Eg: https://github.com/yg/open-sauced-goals/issues/14

### Expected behavior

Should have the font color automatically based on the label color!

### Screenshots

![Screenshot](https://user-images.githubusercontent.com/61746440/84250780-1eaf4300

[2020-06-10 13:20] bdougie opened #660 "Feature: Remove the TBD from the repo card and add linguist"
### Is your feature request related to a problem? Please describe.

At the moment the card shows TBD, this was meant to be only a placeholder, but it has been there for 9 months. It would be nice to remove it and add something relevant there.

### Describe the solution you'd like

<img width="632" alt="Screenshot 2020-06-09 16 26 42" src="https://user-images.githubusercontent.com/5713670/84272523-

[2020-06-12 00:09] bdougie commented on #660
At least one, but no more than 3.

[2020-06-12 00:30] jendowns commented on #623
Hello! ✨ I can open a PR shortly with a suggested fix.

[2020-06-12 03:04] #623 closed

[2020-06-12 07:09] bdougie commented on #384
The goals-template has been updated to create structured goals data.json to unblocked this work. Some things that still need to be addressed.

- [ ] Need a way to update existing user repos. [sync-2-upstream](https://github.com/open-sauced/goals-template/blob/master/.github/workflows/sync-2-upstream.yml) will hopefully work with new users, but we will need to check for the existence of this file i

[2020-06-12 07:18] yg commented on #384
@bdougie So it will not be realtime?

[2020-06-12 12:27] bdougie commented on #384
No, it won't be realtime, the first-page load should be this data, we can add an action to trigger an update using the [repository_dispatch](https://developer.github.com/v3/repos/#create-a-repository-dispatch-event)

[2020-06-12 12:39] yg commented on #384
@bdougie Triggering updates using both cron scheduler and trigger button in UI?

[2020-06-12 14:07] bdougie commented on #384
Yep, a button or event would work.

Also data fetching will look like this.

[code]

[2020-06-13 13:21] bdougie opened #667 "Feature: Repo meta data notification and forced update."
### Is your feature request related to a problem? Please describe.

#384 is implemented in the #666 PR. There are ~30 users that do not have the newly updated [goals-template](https://github.com/open-sauced/goals-template). They should be notified when a breaking change is introduced.

This can be tracked by the [VERSION](https://github.com/open-sauced/goals-template/blob/master/VERSION)

### Desc

[2020-06-13 13:27] bdougie opened #668 "Feature: Create a Changelog"
### Is your feature request related to a problem? Please describe.

The need for a changelog is now.

### Describe the solution you'd like

I would like to have the changelog created through automation, but we should start by identifying how to structure the changelog file.

Do you have any examples of good changelogs?

### Describe alternatives you've considered

I have not managed a changelog an

[2020-06-13 13:28] NotMoni commented on #668
How about a changelog based on commit messsages ?

[2020-06-13 13:29] bdougie commented on #668
I think that sounds like a great idea, do you have examples you can link here @NotMoni?

[2020-06-13 13:36] NotMoni commented on #668
https://www.conventionalcommits.org/en/v1.0.0/#summary

[2020-06-13 13:36] NotMoni commented on #668
@bdougie  The Conventional Commits specification is a lightweight convention on top of commit messages. It provides an easy set of rules for creating an explicit commit history; which makes it easier to write automated tools on top of. This convention dovetails with SemVer, by describing the features, fixes, and breaking changes made in commit messages.

[2020-06-13 14:03] yg opened #669 "Feature: Progressive Web App"
### Is your feature request related to a problem? Please describe.

Implement Progressive Web App for Open Sauced

We can ship :shipit: as both **mobile** and **web** progressive app!

- Mobile Compatible
- Desktop Compatible

[2020-06-13 14:04] yg commented on #669
/cc @bdougie

[2020-06-13 14:06] bdougie commented on #669
I am interested in this. Curious if what changes would need to make this compatible as a PWA? I have not gone this route fully, but have watch PWA space for a while now.

Are you able to provide a roadmap or checklist of things we can implement today?

[2020-06-13 14:12] yg commented on #669
@bdougie Only [`manifest.json`](https://github.com/open-sauced/open-sauced/blob/master/public/manifest.json) file is a place where all works will happen!

Currently, we are also using serviceworkers too, so I think the changes will be smooth.

I'll work on this tomorrow (Sunday)

- [ ] Update `manifest.json` file
- [ ] Test in BrowserStack across multiple devices

[2020-06-13 14:13] bdougie commented on #669
Perhaps we can update the favicon as well. I can create a new/better one.

[2020-06-13 14:14] yg commented on #668
@bdougie FYI: https://www.conventionalcommits.org/en/v1.0.0/#:~:text=Summary,automated%20tools%20on%20top%20of.&text=A%20BREAKING%20CHANGE%20can%20be%20part%20of%20commits%20of%20any%20type.

[2020-06-13 14:27] yg opened #671 "Feature: Goals Search"
### Is your feature request related to a problem? Please describe.

Searching goals in the list

### Describe the solution you'd like

We can use filter to search goals, but paginated goals will not get filtered

[2020-06-13 17:12] bdougie commented on #669
![image](https://user-images.githubusercontent.com/5713670/84574866-4850b000-ad5e-11ea-80f1-5855afc68d08.png)

Saw this on dribble today. The are sunsetting their mobile apps and going full PWA.

[2020-06-14 14:33] bdougie commented on #671
My thought instead would be limiting the number of goals you can store. If someone is tracking more the 10 repos and issues it is likely they are not getting value out of the app or likely not contributing to anything due to decision fatigue.

Search is not something that is a priority at the moment, but I wouldn't mind considering it with the above context.

[2020-06-14 17:50] bdougie commented on #645
We had to revert the lint.yml addition due to upstream failures. I am reopening this to address again.

[2020-06-14 20:16] NotMoni commented on #645
Sounds Good!

[2020-06-15 13:05] bdougie commented on #526
This will be fixed when #616 is merged.

[2020-06-15 13:16] yg opened #681 "Lint /test folder"
Lint `/test` folder with **eslint**, because some files have some linting issues!

[2020-06-15 14:19] bdougie commented on #384
I am going to leave this issue open even after the 0.15.0 release.

We still need a way to sync users' open-sauced-goals repo with he [goals-template](https://github.com/open-sauced/goals-template).

My thought is instead of using forkbacon to rebase, it should do a force merge to wipe out the previous history. This is mainly because the history in the repo does not matter as much. The issue is wh

[2020-06-15 14:24] filiptronicek opened #685 "Bug: Buggy repo listing"
### Describe the bug
When a repo name is very long, it breaks the whole UI (very easy to reproduce on mobile)

### To Reproduce

1. Use a device or change the window to a small width (mobile is best)
1. Add a repo with a long name
### Expected behavior
The text doesn't overflow.

### Screenshots
![screenshot with long name](https://user-images.githubusercontent.com/29888641/84668819-5bad7800-af24-

[2020-06-15 16:59] akshay5995 opened #687 "Bug: Blank page when clicking on profile and coming back (not sure if duplicate)"
### Describe the bug

### To Reproduce

Steps to reproduce the behavior:

1. Go to Home
2. Click on Login
3. (After getting logged in) Click on user profile picture on the top right.'
4. (After getting redirecting to github profile)  Click on the back button

### Expected behavior

Land back where the user left off before getting redirected

### Screenshots

![image](https://user-images.githubuser

[2020-06-15 17:02] bdougie commented on #687
Related to https://github.com/open-sauced/open-sauced/issues/617 but this issue provides more context.

[2020-06-15 17:02] filiptronicek commented on #687
Cannot reproduce on Win10 Firefox, probably cache

[2020-06-15 17:24] filiptronicek opened #688 "Bug: 404 not found... literally"
### Describe the bug
When

### To Reproduce
1. Go to opensauced.pizza
1. Append /repos/`your username`/`some random string` to the URL

### Expected behavior
The default 404 page is shown

### Screenshots
![image](https://user-images.githubusercontent.com/29888641/84686834-f9ad3c80-af3c-11ea-9124-e5d550a36773.png)

### Additional context
Probably a problem with the routing ->seems that the router

[2020-06-15 20:30] bdougie commented on #688
This is a known thing. It would be nice to handle the case like so:

Navigate to any /repos/owner/name URL and do the following.
1. open the repo data based on the URL
2. if the issue is not open in the goals repo, then open it and proceed with showing the data
3. If the repo is misspelled or does not exist, present the error message stating on the screen. related to #654

[2020-06-15 22:54] jsjoeio opened #689 "Feature: Configure Access by Organization/Visibility"
### Is your feature request related to a problem? Please describe.

The problem is the amount of data (specifically private) the application requests access to.

<img width="523" alt="image" src="https://user-images.githubusercontent.com/3806031/84713573-2acb4400-af20-11ea-9b06-f4ac5c07da89.png">

### Describe the solution you'd like

I would love to be able to limit it to specific organizations o

[2020-06-15 22:59] bdougie commented on #689
Thanks for bringing this up. I can update the Oauth in the next release, and introduce a GitHub App to allow for fine-grained permissions.

The quick fix will remove the need for private repos data.

For those interested, this the path I will be taking. https://developer.github.com/apps/migrating-oauth-apps-to-github-apps/.

[2020-06-15 23:00] jsjoeio commented on #689
Cool beans! I'll keep an eye 👀  on this issue then.

[2020-06-16 06:52] yg opened #690 "Feature: Context box style"
### Describe the solution you'd like

Updating the context box style will reduce the whitespace and make context box not look like a banner!

![Screenshot](https://user-images.githubusercontent.com/61746440/84740427-fd87a000-afca-11ea-8a79-66e9f7c79c6b.png)

### Describe alternatives you've considered

**Glitch** (This looks awesome)

![Screenshot](https://user-images.githubusercontent.com/6174644

[2020-06-16 07:04] yg opened #691 "Remove unused assets and code"
**Remove unused assets and code in open-sauced repo**

**Findings**

- [x] **File**: `open-sauced/src/components/sauce-anchor.svg`
- [x] **Folder**: `open-sauced/src/fonts`
- [x] **File**: `open-sauced/src/images/full-sauce.svg`
- [x] **File**: `open-sauced/src/images/one.jpeg` (imported here https://github.com/open-sauced/open-sauced/blob/master/src/images/index.js and not used)
- [x] **File**: `

[2020-06-16 07:34] yg commented on #691
/cc @bdougie

[2020-06-16 12:57] bdougie commented on #691
I am cool to remove the above list. 👍🏾

[2020-06-16 13:02] bdougie commented on #643
I think we can address this in the goals template. I opened an issue there. Since we are caching the data now, we force updates to issues that are associated to dead repos.

https://github.com/open-sauced/goals-template/issues/8

[2020-06-16 13:12] yg opened #693 "Rename logo1.svg to logo.svg"
### Describe the enhancement

Rename `logo1.svg` to `logo.svg`, we removed unused **logo2** to **logo8** in PR #692

`open-sauced/src/logos/logo1.svg`

[2020-06-16 13:18] bdougie commented on #555
I don't this will be addressed in #384. Instead, I think we can create FindOrCreate type mutation. TBH I have never thought to do this until now.

Here is how I would approach this.

1. Create a new **fetchGoalByName** query in https://github.com/open-sauced/open-sauced/blob/master/src/lib/apiGraphQL.js
2. In the [createGoal](https://github.com/open-sauced/open-sauced/blob/master/src/lib/apiGraphQ

[2020-06-16 13:26] bdougie commented on #653
Confirmed this is indeed a bug.

This can be solved by adding the following to https://github.com/open-sauced/open-sauced/blob/master/src/components/NoteForm.js#L72

[code]

This will revert the note to its original state and disregard what was typed.

You could also create a new _handleCancelEditing

[code]

[2020-06-16 13:40] bdougie commented on #600
This is related to https://github.com/open-sauced/open-sauced/issues/643

I don't think we should prevent a goal from being opened, since cloning the repo is an option. I think we can instead update the open-sauced-goals issue to get labeled as `archived`. We can use the label note that repo is archived in case the user wants to make a goal or revive the projects themselves.

I started to outline

[2020-06-16 13:53] bdougie commented on #612
I don't think so. I believe the images need a min-height. The image loads at 0 and then expands.

Images in question

1. User profile image (after login, needs min-width).
2. Pizza Image in the Hero (needs min-height).
3. Quote images (needs min-height).

Bonus: Perhaps we can progressively load the images.

- https://github.com/FormidableLabs/react-progressive-image

[code]

- https://codeburst.i

[2020-06-16 14:08] bdougie commented on #685
This can be easily fixed by truncating URLs to 100 characters.

Steps to fix:

1. Create truncate.js similar to [humanizeNumber.js](https://github.com/open-sauced/open-sauced/blob/master/src/lib/humanizeNumber.js).
2. Wrap the following places with the truncate function

https://github.com/open-sauced/open-sauced/blob/master/src/components/RepoListItem.js#L15

https://github.com/open-sauced/open-s

[2020-06-16 14:09] yg commented on #685
@bdougie I will work on it!

[2020-06-16 14:39] bdougie commented on #654
## Solution.

Similar to the [isValidRepoUrl](https://github.com/open-sauced/open-sauced/blob/master/src/lib/util.js) check, there should be a check that returns an error if the is a 404.

1. Create a function to fetch a status code (404, 200, or 301) from api.github.com.
2. Prevent the creation of a goal if a 404 is returned.
3. Mock the API and write a test file.

## Status Code function
[code]

[2020-06-16 14:45] bdougie commented on #617
This could be solved by adding better routing. At the moment we don't respect the /repos routes.

I outline this in #639, but we would following the pattern.

## Scenario
When a user navigates to an opensauced.pizza/repos/owner/repo they should be presented with a dashboard associated with that goals.

If there is no goal already created, once should be created for them, as long as they are logged

[2020-06-16 17:32] ulgens opened #696 "Why Github login requires access to private repos?"
This is not a feature request nor bug report, but i think it's something weird and ugly.

I tried to login to the website with Github and it asks me to give permission to access my private repos. Why? Just why? :slightly_smiling_face:

[2020-06-16 17:45] ZainW commented on #689
login is also pointing to https://serve.onegraph.com/ id that means anything to you, not a big deal but would inspire confidence that im logging into the correct app

[2020-06-16 17:48] bdougie commented on #696
Thanks for the question and the feedback. The goals repo that is created use to be a private repo.

I will address in https://github.com/open-sauced/open-sauced/issues/689. I have to wait until weekend to and the v0.15.0 release merged because it will break things when I switch over.

[2020-06-16 18:01] bdougie commented on #689
That is great feedback, for now, the back is a GitHub repo and the [OneGraph](https://www.onegraph.com/) provides some features that I haven't been able to convince my coworkers to ship :)

Regarding general confidence, this is definitely used at your own risk. I am hoping to address the major issues by August, maybe sooner depending on contributions.

If you notice any other security issues, feel

[2020-06-16 21:44] bdougie commented on #645
@crazy-max brought up the fact that we have no `npm run lint`. It would be good to address that too.

Also mention on the twitch chat today.
https://github.com/kachkaev/video-easter-eggs/blob/e41c32c0c8f5118f2fe17450e5c271b3b0063bcc/.github/workflows/checks.yml#L12-L40

[2020-06-16 21:47] JapneetSingh5 commented on #645
I think I will be able to add that, would be my first contribution too!

[2020-06-17 05:03] bdougie commented on #689
Yo! I walked through the solution sooner than I thought I could.

I have a [PR](https://github.com/open-sauced/open-sauced/pull/699), that uses a GitHub App. I still need to walk through the following. The Netlify preview on the PR will show you the new permission

1. Adding a screen for to handle transition the existing users to a GitHub that limits the scope.
2. Handle the manual installation to

[2020-06-17 05:07] yg commented on #689
Here we go!

![Screenshot](https://user-images.githubusercontent.com/61746440/84857360-81529280-b086-11ea-8a4c-ce294490fcf4.png)

[2020-06-17 09:55] yg commented on #654
Aww! @bdougie this is a good idea! :+1:

[2020-06-17 14:16] #693 closed

[2020-06-17 14:50] yg opened #701 "Feature: Open Sauced name on browser console"
### Describe the solution you'd like

Just a small fun!

Open Sauced name with pizza on browser console

:wink:

### Additional context

![Screenshot from 2020-06-17 20-15-40](https://user-images.githubusercontent.com/61746440/84918360-2056a900-b0de-11ea-9816-f00fd4d37479.png)

Inspired from dev.to

![Screenshot from 2020-06-17 20-19-58](https://user-images.githubusercontent.com/61746440/84913261-

[2020-06-17 15:29] bdougie commented on #701
I love this idea, we had something at one of my previous jobs.

![Screenshot 2020-06-17 08 28 54](https://user-images.githubusercontent.com/5713670/84917801-a63e0a00-b074-11ea-8416-641c544832a2.png)

[2020-06-17 15:33] bdougie commented on #701
@open-sauced/triage any other suggestions? Or examples?

[2020-06-17 15:34] yg commented on #701
![Screenshot from 2020-06-17 20-49-41](https://user-images.githubusercontent.com/61746440/84918360-2056a900-b0de-11ea-9816-f00fd4d37479.png)

[2020-06-17 16:16] yg commented on #701
![Screenshot from 2020-06-17 21-45-40](https://user-images.githubusercontent.com/61746440/84922819-0750f680-b0e4-11ea-9da5-542dc6897d22.png)

[2020-06-17 16:16] yg commented on #701
![Screenshot from 2020-06-17 21-38-36](https://user-images.githubusercontent.com/61746440/84922846-1041c800-b0e4-11ea-955d-dbddff817b10.png)

[2020-06-17 16:36] NotMoni commented on #701
Looks Cool.

[2020-06-17 22:40] #701 closed

[2020-06-17 22:46] #685 closed

[2020-06-18 05:42] #669 closed

[2020-06-18 05:42] #526 closed

[2020-06-18 05:42] #613 closed

[2020-06-18 05:50] bdougie commented on #556
@open-sauced/triage can I get more eyes on this to see if this is reproducible?

[2020-06-18 05:57] todo[bot] opened #706 "Skipped until React.Suspense + zeit/swr is testable"
https://github.com/open-sauced/open-sauced/blob/6c2055da772b7ac2d03aa342f37ac99a5886af64/src/tests/App.test.js#L20-L23

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 6c2055da772b7ac2d03aa342f37ac99a5886af64 when #704 was merged. cc @JapneetSingh5.

[2020-06-18 06:02] bdougie commented on #681
I believe this was addressed in https://github.com/open-sauced/open-sauced/issues/645.

In the future add the "good-first-issue" on issues like these if you can.

[2020-06-18 06:02] #681 closed

[2020-06-18 06:09] bdougie commented on #706
Release to https://github.com/open-sauced/open-sauced/discussions/408

[2020-06-18 08:05] filiptronicek opened #708 "Feature/Bug: Don't show issues when not enabled"
### Is your feature request related to a problem? Please describe.
When adding repos like [torvalds/linux](https://github.com/torvalds/linux), where there are issues disabled, it will never show any.
https://help.github.com/en/github/managing-your-work-on-github/disabling-issues
![no issues shown](https://user-images.githubusercontent.com/29888641/84993600-cab7e600-b149-11ea-9133-a48b0d3b9822.png)

[2020-06-18 09:31] yg commented on #708
Thanks for making this interesting issue @filiptronicek!

[2020-06-18 12:15] yg opened #709 "Feature: Stacked avatar for issue participants"
### Describe the solution you'd like

Feature: Stacked avatar for issue participants

### Describe alternatives you've considered

GitHub Primer Stacked Avatar

### Additional context

POC: https://codepen.io/ygcodes/pen/pogNmVJ

![Screenshot](https://user-images.githubusercontent.com/61746440/85018859-80575900-b18b-11ea-940a-e4ca09ca2498.png)

[2020-06-18 13:46] bdougie commented on #668
I think next steps here can be.

- [ ] Update CONTRIBUTING.md to recommend all PR titles follow the conventional commits.
- [ ] Implement [semantic release](https://github.com/semantic-release/semantic-release) or similar automation platform.

[2020-06-18 14:21] sujitagarwal opened #712 "Bug:"
### Describe the bug
While logging in, Permission is being asked for Public and Private repositories.

### To Reproduce
1. try to login for the first time / access revoked account
2. check the permissions window

### Expected behavior
Private Repository access should not be asked for.

### Screenshots

![image](https://user-images.githubusercontent.com/1915009/85031858-c9fc6f80-b19c-11ea-8502-961c

[2020-06-18 14:25] yg commented on #712
Dupe of #689

[2020-06-18 14:26] sujitagarwal opened #713 "Bug: Empty Dashboard page after login. Null Error in console."
### Describe the bug

### To Reproduce
1. Login to opensauced.pizza
2. After successful login, a blank page is being rendered after a short flickering of the menu bar.
3. Inspect the debug window.

### Expected behavior
Dashboard should show up after logging in.

### Screenshots
![image](https://user-images.githubusercontent.com/1915009/85032367-60309580-b19d-11ea-8cd4-aac9682c90b0.png)

### Deskt

[2020-06-18 14:26] #712 closed

[2020-06-18 14:27] sujitagarwal commented on #712
Oops, my bad. I should have looked into the history of bugs...

[2020-06-18 14:27] yg commented on #713
@sujitagarwal Can you give some title for the issues you reporting!

[2020-06-18 14:28] sujitagarwal commented on #713
Added. @yg

[2020-06-18 14:29] yg commented on #713
Dupe of #617

[2020-06-18 14:29] #713 closed

[2020-06-18 15:07] NotMoni opened #714 "CHAT: Issue for Bot."

[2020-06-18 15:15] #714 closed

[2020-06-18 15:50] sujitagarwal opened #715 "Bug: open-sauced/open-sauced is showing up for all Invalid repository names added"
### Describe the bug
Bug: Open-sauced/Open-sauced is showing up for all Invalid repository name or typo in repository name

### To Reproduce
Login and go to dashboard
Add a new owner/repo that should be invalid.
Check the added listing

### Expected behavior
Name should be shown or an alert message that invalid repo name/doesn't exist.

### Screenshots

![image](https://user-images.githubuserconte

[2020-06-18 16:26] sujitagarwal opened #716 "Bug: Outdated favicon"
### Expected behavior
Favicon should be updated as per latest logo design

### Screenshots
![image](https://user-images.githubusercontent.com/1915009/85046759-7a26a400-b1ae-11ea-9d0b-2aef4dc7f380.png)

[2020-06-18 16:29] yg commented on #716
Thanks for the issue @sujitagarwal :purple_heart:! We'll take your request into consideration and follow up if we decide to tackle this issue.

To claim an issue to work on or need any help, please leave a comment :speech_balloon:

Assets are available in [open-sauced/assets](https://github.com/open-sauced/assets)

[2020-06-18 16:31] sujitagarwal commented on #716
dibs

[2020-06-18 17:20] bdougie commented on #716
Let me know if you the log rounded or without background.

Also `.take` works too. https://github.com/open-sauced/open-sauced/blob/master/CONTRIBUTING.md

[2020-06-18 17:34] sujitagarwal commented on #716
I think without background might look odd on browsers that run on custom themes. My vote is for a logo with rounded background

[2020-06-18 17:37] bdougie commented on #716
![roundedlogo](https://user-images.githubusercontent.com/5713670/85053671-bb3b9b80-b14f-11ea-875b-a7ef9dfca9de.png)

[2020-06-18 17:39] sujitagarwal commented on #716
Do you recommend any favicon generator?

[2020-06-18 17:40] JapneetSingh5 commented on #716
favicon.io is good

[2020-06-18 18:21] bdougie commented on #688
Solution would be adding a route that expects params. I actually this enforced a few years back, but it was removed in a react-router migration I did.

https://github.com/open-sauced/open-sauced/issues/688#issuecomment-644372220

[code]

[2020-06-18 18:58] sujitagarwal opened #721 "Bug: Enhance Repository URL parsing before adding"
The JS function to parse valid Github Repo URLs defined in the following needs to be enhanced for accurate parsing.

https://github.com/open-sauced/open-sauced/blob/master/src/lib/util.js

### Describe the bug
Proof of Concept -
https://jsfiddle.net/sujitagarwal/p3yucL0z/

### Expected behavior
All and only valid Github Repo URL patterns must be accepted

[2020-06-19 05:14] yg opened #722 "Feature: Add "sync in progress" in star's placeholder"
### Describe the solution you'd like

Add **"sync in progress"** in star's placeholder while adding a new goal (repo)

### Additional context

![Screenshot](https://user-images.githubusercontent.com/61746440/85098962-c65afe00-b219-11ea-98a4-d2c9dde3a35e.png)

[2020-06-19 05:17] yg commented on #708
We can use this GraphQL query to check has issues enabled or not

[code]

[2020-06-19 13:26] yg commented on #690
@bdougie Can we integrate #344 with this?

[2020-06-19 13:28] bdougie commented on #690
Let do it! I can put some time into the design a space for this. I would love to automate the collection of featured projects, probably through an Action.

[2020-06-19 13:29] bdougie commented on #344
Update: I am going to work on making this a place to add project recommendations looking for contributions.

[2020-06-19 13:33] yg commented on #690
Awesome @bdougie!

**Questions**

1. How we are going to identify the recommended repos?
2. Are the recommended repos tailored per user?
3. How we are going to feed the recommended repo to the actions?

[2020-06-19 22:03] #708 closed

[2020-06-19 22:08] jnielson94 commented on #617
.take

[2020-06-19 22:10] #691 closed

[2020-06-19 22:20] bdougie commented on #617
Awesome, let us know if you have any questions. My solution may be incorrect, but it may assist in debugging the cause.

[2020-06-19 23:04] jnielson94 commented on #687
.take

[2020-06-20 20:01] JapneetSingh5 commented on #716
is this issue claimed? 👀👀

[2020-06-21 03:09] yg commented on #716
Yes, @JapneetSingh5! It is assigned to @sujitagarwal!

[2020-06-21 05:13] yg opened #727 "Feature: Add repo icon in context box"
### Describe the solution you'd like

Add repo icon in context box

### Additional context

![Screenshot](https://user-images.githubusercontent.com/61746440/85217228-0225cd00-b3ac-11ea-8ebf-5b300bb0c6c2.png)

[2020-06-22 10:26] yg opened #732 "Feature: Show repo description"
### Describe the solution you'd like

Show repo description instead of helper text below repo name in context box

### Additional context

![Screenshot](https://user-images.githubusercontent.com/61746440/85277431-08e23c00-b4a1-11ea-9bff-f4b4b2d65fcf.png)

[2020-06-22 10:39] yg opened #734 "Feature: Show license in repo meta card"
### Describe the solution you'd like

Show license in repo meta card

### Additional context

![Screenshot](https://user-images.githubusercontent.com/61746440/85278580-c3bf0980-b4a2-11ea-81ba-ad72c9507fdb.png)

[2020-06-22 11:17] #654 closed

[2020-06-22 11:17] todo[bot] opened #736 "After the 1.0 launch, I would love to circle back to the testing issue and find ..."
https://github.com/open-sauced/open-sauced/blob/2c84b868540056baeb8b81c9acfd1cb54e527846/src/lib/repoStatusCode.test.js#L16-L17

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 2c84b868540056baeb8b81c9acfd1cb54e527846 when #728 was merged. cc @open-sauced.

[2020-06-22 11:17] todo[bot] opened #737 "Add test for 301 status in `repoStatusCode.test.js`"
https://github.com/open-sauced/open-sauced/blob/145eb1d1b8cd9b8bc0c51b430c2d4c653e3888cc/src/lib/repoStatusCode.test.js#L16-L17

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 145eb1d1b8cd9b8bc0c51b430c2d4c653e3888cc. It&#x27;s been assigned to @yg because they committed the code.

[2020-06-23 12:03] JapneetSingh5 commented on #727
./take

[2020-06-23 12:21] yg commented on #727
@JapneetSingh5 Thanks for jumping in, I assigned to you!

[2020-06-23 12:37] todo[bot] opened #739 "After the 1.0 launch, I would love to circle back to the testing issue and find ..."
https://github.com/open-sauced/open-sauced/blob/cf97e58db39b05f41d1b1fcd6294bbf279282b0c/src/lib/repoStatusCode.test.js#L16-L17

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in cf97e58db39b05f41d1b1fcd6294bbf279282b0c when #738 was merged. cc @JapneetSingh5.

[2020-06-23 12:40] yg commented on #736
Dupe of #737

[2020-06-23 12:40] #736 closed

[2020-06-23 12:41] yg commented on #739
Dupe of #737

[2020-06-23 12:41] #739 closed

[2020-06-23 12:45] todo[bot] opened #740 "After the 1.0 launch, I would love to circle back to the testing issue and find ..."
https://github.com/open-sauced/open-sauced/blob/7551fd0666fda0898863f16d7ca76d4ffe0ab245/src/lib/repoStatusCode.test.js#L16-L17

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7551fd0666fda0898863f16d7ca76d4ffe0ab245 when #707 was merged. cc @open-sauced.

[2020-06-23 13:00] yg commented on #740
Dupe of #737

[2020-06-23 13:00] #740 closed

[2020-06-23 14:46] jnielson94 commented on #617
I did some digging since #726 didn't fix the actual issue reported here (though it did fix my issue of the app giving a blank screen the first time you login).

I've done a little bit of digging and the blank screen seems to be caused by this line throwing an error: https://github.com/open-sauced/open-sauced/blob/145eb1d1b8cd9b8bc0c51b430c2d4c653e3888cc/src/lib/reducers.js#L7

Since `state.reposit

[2020-06-23 16:12] JapneetSingh5 commented on #727
Hi! I have made a PR #741

[2020-06-23 21:36] #687 closed

[2020-06-24 15:39] kunal1244 commented on #721
Is this issue being worked upon at the moment? I can try writing up a URL validator and a repository existence check.

[2020-06-24 15:57] kunal1244 commented on #556
@Brawrdon I was facing the same issue. Took a pull from upstream and it worked out. Try this and let us know?
P.S. Make sure you remove node_modules, clear npm cache, and run install again.

[2020-06-24 16:03] yg commented on #721
Sure @kunal1244! I will assign this to you :purple_heart:!

[2020-06-24 16:19] Brawrdon commented on #556
Okay I figured out what the issue was on my end... I have the Firefox extension [HTTPS Everywhere](https://addons.mozilla.org/en-US/firefox/addon/https-everywhere/) installed and so I can only assume it was using **https**://localhost:3000 as the origin instead of **http**. Disabling the extension fixes the problem!

I realised this was probably the issue because I had a problem connecting to a de

[2020-06-24 16:21] #556 closed

[2020-06-24 16:24] kunal1244 commented on #456
@bdougie Maybe add a issue search too?
Also, the panels do not include the issue number and pull requests associated as of now. Should we add those as well?

[2020-06-24 16:35] bdougie commented on #456
Search would be nice to have, but it is not in the scope of this feature.

Reasons why I am not interested in search:
- searching issues can easily be done on GitHub. We should be focusing on enhancing the contributor experience and not recreating.
- searching can be buggy if not implemented well. This will also be an expensive API call and not worth the cost.
- filter and searching by a label is

[2020-06-24 17:50] kunal1244 commented on #456
Makes sense, it would definitely come with a lot of unnecessary API calls and be expensive in general. Will try to come up with a better way to implement this.

What about the WIP issues with merged Pull Requests and Issue number features, though? I think these are essential features, which help in keeping track of workable issues. Does this need a separate issue?

[2020-06-24 17:56] bdougie commented on #456
I think you are adding some good context to this feature. I still the essential feature would be filtering by labels. Perhaps the first version of this feature is filtering by "assigned" or "unassigned" and a select list of label ["good first issue", "documentation", "help wanted"]

[2020-06-24 18:11] kunal1244 commented on #456
@bdougie Yeah, I totally got your argument about filtering by labels. If I understood this correctly, adding filters other than labels is not part of this version, and can be implemented going forward by thinking of a least-cost approach.

Displaying associated PRs and the corresponding ID of issues in the issue panels, alongside the number of comments and assigned users (which are already present

[2020-06-24 18:41] vipermark7 commented on #732
Is this issue resolved?

[2020-06-24 23:31] bdougie commented on #696
closing and providing updates in #689

[2020-06-24 23:32] bdougie commented on #689
Quick update add to here: https://github.com/open-sauced/open-sauced/pull/699#issuecomment-649126860

[2020-06-25 05:09] bdougie opened #742 "Potentially Breaking Change: Switch from Master to Main"
### Is your feature request related to a problem? Please describe.

This is not a feature and not a trivial change.

### Describe the solution you'd like

I am working on some documentation internally at GitHub that will be released soon, and I feel it will be worth feeling the same friction other GitHub users will see when switching their default naming convention.

### Describe alternatives you'

[2020-06-25 10:35] yg commented on #732
Yes @vipermark7, This is already merged into the release branch!

PR: #733

This issue will automatically closed when merged into master!

[2020-06-26 12:16] yg commented on #600
@bdougie This is fixed in #728

[2020-06-26 12:22] yg commented on #610
@filiptronicek We fixed it in #707! WDYT?

![Screenshot](https://user-images.githubusercontent.com/61746440/85856488-b8871900-b7d5-11ea-9f7a-b547b43f2cd0.png)

[2020-06-26 12:25] filiptronicek commented on #610
Love it! Awesome addition

[2020-06-26 13:00] yg opened #743 "Feature: Add fork button"
### Is your feature request related to a problem? Please describe.

Add fork button near to triage button

### Describe the solution you'd like

We can use this query to detect fork https://serve.onegraph.com/short/CYT92

### Additional context

![Screenshot](https://user-images.githubusercontent.com/61746440/85859645-1e29d400-b7db-11ea-80b4-44a6b0a9923a.png)

[2020-06-26 13:03] JapneetSingh5 commented on #743
This would be a nice addition!

[2020-06-26 13:26] bdougie commented on #743
I love this idea :shipit:

[2020-06-26 13:45] yg opened #744 "Feature: Update to Octicon v2"
### Is your feature request related to a problem? Please describe.

Update to Octicon v2

### Describe the solution you'd like

https://primer.style/octicons-v2

### Additional context

![Screenshot](https://user-images.githubusercontent.com/61746440/85863783-47e5f980-b7e1-11ea-8cfa-7ed88dae5b18.png)

[2020-06-26 13:56] bdougie commented on #456
Yes, I am a fan of including this data. Feel free to open up a separate issue so we can discuss it further. Once its opened, I'd be happy to see PR or mockup.

[2020-06-26 13:58] bdougie commented on #744
Bumping this to 10.0.0 would be the first start.

https://github.com/open-sauced/open-sauced/blob/master/package.json#L81

[2020-06-26 14:04] bdougie opened #745 "Feature: Create action to comment on PR's that have no linked issues."
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2020-06-26 14:09] bdougie commented on #715
This was fixed in #728

![Screenshot 2020-06-26 07 08 29](https://user-images.githubusercontent.com/5713670/85866200-e5a6dd80-b77b-11ea-859f-1c9ebff8f810.png)

[2020-06-26 14:16] JapneetSingh5 commented on #744
Maybe I can have a go at this?

[2020-06-26 14:28] yg commented on #744
Sure @JapneetSingh5 💜!

[2020-06-26 14:31] filiptronicek opened #746 "Feature: Donate button"
### Describe the solution you'd like
A button next to the name in the repo view, which will show if FUNDING.yml is properly configured.

![proposal](https://user-images.githubusercontent.com/29888641/85868005-039b2f00-b7ca-11ea-826a-516eb47ad3a8.png)

### Additional context
I don't know if this is possible in the API, to fetch the sponsorship state, but it would be great to show some love.

[2020-06-26 16:18] sgrove commented on #743
@bdougie Heads up, here's a mutation to fork a repo: https://serve.onegraph.com/short/KKQB3F

[2020-06-26 22:31] jnielson94 commented on #653
.take

[2020-06-27 11:54] yg commented on #453
I think [github/tab-container-element](https://github.com/github/tab-container-element) will be suitable to shows issues and PRs in tabs.

![Screenshot](https://user-images.githubusercontent.com/61746440/85921588-d8344500-b89a-11ea-9a37-7266ed0123cd.png)

Here is another example: https://codepen.io/VoloshchenkoAl/pen/dMWxoL

[2020-06-27 13:28] #653 closed

[2020-06-27 13:35] #617 closed

[2020-06-27 13:39] bdougie commented on #531
I learned of https://miragejs.com/ and think it would make for a better tool to mock out the GitHub API.

[2020-06-27 14:03] bdougie commented on #743
For anyone that would like to take this, you can add the following to [apiGraphQL.js
](https://github.com/open-sauced/open-sauced/blob/master/src/lib/apiGraphQL.js)
[code]

[2020-06-27 20:06] MKrupauskas commented on #743
I'd like to take this issue on! What should happen after the user clicks the button and the fork mutation is executed?

[2020-06-28 03:50] yg commented on #743
Hey @MKrupauskas! Thanks for jumping in :purple_heart:

1. Before forking the button, it displays with the text "Fork {count}"
2. On clicking the Fork button the button should be disabled until success (To prevent multiple forks)
3. After successful execution of the mutation, the button displays "Go to fork"

WDYT @bdougie @MKrupauskas?

You can self assign this issue by replying with `.take` in t

[2020-06-28 05:17] bdougie commented on #743
Instead, it should state, "View Fork"

[2020-06-28 07:18] MKrupauskas commented on #743
.take

[2020-06-29 03:55] yg commented on #658
@bdougie, For now, I made something like this! But I need help with figuring the exact condition to change the text color!

[code]

![Screenshot](https://user-images.githubusercontent.com/61746440/85971266-57845e80-b9ea-11ea-8432-a6603787f78f.png)

[2020-06-29 12:08] #600 closed

[2020-06-29 12:19] #744 closed

[2020-06-29 12:54] bdougie commented on #746
The limitation with getting this data is that Sponsorship data id not readily available. For example, https://github.com/Vets-Who-Code but has not allowed access data to their org data. This is turned off by default.

The following returns a 403.
[code]

I also know that organization sponsorship is still in beta and the API interactions could change. Though this feature would be nice, I don't thin

[2020-06-29 12:54] #746 closed

[2020-06-29 13:01] bdougie commented on #384
Forkbacon has been implemented. The next step is leveraging the VERSION file and allowing force syncing when the user's version is out of sync.

[2020-06-29 13:22] filiptronicek commented on #746
I agree, maybe sometime

[2020-06-29 13:37] bdougie commented on #658
What is returned from the API when the label is white? If it is "white", can we just add a condition to replace color with "[offWhite](https://github.com/open-sauced/open-sauced/blob/master/src/styles/variables.js#L6)"?

[2020-06-29 13:40] bdougie commented on #384
Closing since https://github.com/open-sauced/open-sauced/issues/667 exists to work on the last open-ended item.

[2020-06-29 13:40] #384 closed

[2020-06-29 13:41] yg commented on #658
@bdougie It returns only the hex value!

https://serve.onegraph.com/short/NX37H8

[2020-06-29 14:27] bdougie commented on #658
I think we should add a function to the utils.js the checks for the color white and produce something the [offWhite](https://github.com/open-sauced/open-sauced/blob/master/src/styles/variables.js#L6) color [here](https://github.com/open-sauced/open-sauced/blob/master/src/components/IssueListItem.js#L27).

[code]

Am I missing something?

[2020-06-29 14:30] yg commented on #658
@bdougie This is suitable only for white color! How we are going to handle light colors?

[2020-06-29 14:42] bdougie commented on #658
Ah, your function makes sense now. I think rather than check for offwhite or update the background color we should instead check for the lightness of the color and return "light" or "dark." If we setup up a light font color and dark font color we can update the color like so.

[code]

Finding the exact point where we should consider the font contrast may take trial and error, but this article look

[2020-06-30 04:34] yg opened #752 "Feature: Skeleton Loading instead of "Loading...""
### Is your feature request related to a problem? Please describe.

Skeleton Loading instead of "Loading..."

https://github.com/dvtng/react-loading-skeleton

### Describe the solution you'd like

| Without Skeleton | With Skeleton|
|---|---|
| ![Screenshot](https://user-images.githubusercontent.com/61746440/86083835-ecee2400-bab8-11ea-8579-140c09d5c271.png) | ![Screenshot](https://user-images.git

[2020-06-30 09:43] filiptronicek opened #754 "Bug: bad logo alignment in menu"
### Describe the bug
The Open Sauced logo is badly aligned in Firefox.

### Screenshots
| Chrome       | Firefox     |
| :------------- | :----------: |
| ![Chrome](https://user-images.githubusercontent.com/29888641/86110977-88d25c80-bac6-11ea-9067-82be66edc8f7.png) | ![Firefox](https://user-images.githubusercontent.com/29888641/86110859-5aed1800-bac6-11ea-99c9-a34ffa6aac04.png) |

### Desktop

-

[2020-06-30 12:28] nthd3gr33 commented on #668
I think this will help with this issue:

https://github.com/marketplace/actions/automatic-changelog-generator

[2020-06-30 19:10] filiptronicek opened #756 "Bug: Safari making app screens a bit too large"
### Describe the bug
On Safari, a lot of the sections of the app are a bit too big.
### To Reproduce

1. Go to the Dashboard / repo with Safari
1. See the bug

### Expected behavior
The same as in every other browser
### Screenshots
<img width="1428" alt="dashboard view" src="https://user-images.githubusercontent.com/29888641/86166605-5734b200-bb15-11ea-8715-df0ae97af2ec.png">

<img width="1421" a

[2020-07-01 02:31] yg commented on #756
@filiptronicek Can you please add the Issue title!

[2020-07-01 08:21] filiptronicek commented on #756
Of course, sorry for that, didn’t notice.

[2020-07-01 13:23] #754 closed

[2020-07-01 16:46] JapneetSingh5 commented on #756
.take

[2020-07-01 17:25] filiptronicek commented on #756
@JapneetSingh5 could you replicate the issue on your end, or may I offer any help?

[2020-07-01 17:27] JapneetSingh5 commented on #756
The issue is pretty easy to replicate lol, haven’t really thought of a solution yet. Any insights would be great 👍🏻👍🏻

[2020-07-01 17:57] filiptronicek commented on #756
I, unfortunately, don't have access to any access macOS at all most of the time, so I believe I won't be of much help.

[2020-07-01 18:12] JapneetSingh5 commented on #756
Oh, no problem. I’ll keep you updated 😄

[2020-07-02 17:10] yg opened #762 "Feature: Sort Goals"
### Describe the solution you'd like

Sort Goals by

- name
- last updated
- stars

we can use **lodash** to achieve it cuz we are not using pagination for this!

### Additional context

![Screenshot](https://user-images.githubusercontent.com/61746440/86390041-ed530e80-bcb4-11ea-9c85-88290ab37749.png)

[2020-07-02 18:06] JapneetSingh5 commented on #756
Apparently safari is showing the site differently when I open a local build and when I open the deployed site.
localhost:
<img width="1680" alt="Screen Shot 2020-07-02 at 11 34 20 PM" src="https://user-images.githubusercontent.com/54809290/86394795-c00a5e80-bcbc-11ea-8d43-b46382cdbbeb.png">
opensauced.pizza:
<img width="1676" alt="Screen Shot 2020-07-02 at 11 34 44 PM" src="https://user-images.git

[2020-07-02 18:06] JapneetSingh5 commented on #756
Does anybody have an idea why this is happening?

[2020-07-02 18:08] filiptronicek commented on #756
Looks like a style doesn't load or something, any extensions, or something, that would block it?

[2020-07-02 18:12] yg commented on #756
Yes this is happening in BrowserStack too in Safari 13.1

![Screenshot](https://user-images.githubusercontent.com/61746440/86395261-97cf2f80-bcbd-11ea-8980-0ca771a72ffa.png)

[2020-07-03 11:23] JapneetSingh5 commented on #756
Does any of you have a suggestion? I am clueless about this issue now 😕

[2020-07-03 11:35] filiptronicek commented on #756
I agree, this is veeery weird.

[2020-07-03 13:55] #658 closed

[2020-07-03 20:00] filiptronicek commented on #756
Ok, I have now access to Browserstack. I have looked into the rendered source with inspect element. I couldn't find any height setting. @yg could you help with this?
Ran on Safari MacOS Catalina
![screenshot of Browserstack Safari](https://user-images.githubusercontent.com/29888641/86495181-8c8d0a00-bd78-11ea-86c7-bde7e46e7716.png)

[2020-07-03 20:04] JapneetSingh5 commented on #756
The width is messing it up I think. The same 30% width is different sizes in safari vis a vis other browsers.

[2020-07-03 20:22] filiptronicek opened #766 "Bug: goals cache succeed, but dashboard doesn't reflect"
### Describe the bug
When I created the repo filiptronicek/... (yes, just three dots, I was testing another feature on open-sauced), the action, that caches the repo info, in my goals repo, passed, but displays still the `Sync in Progress`

### To Reproduce
1. Add the filiptronicek/... repo to your repos on open-sauced
1. Wait for the action to do its thing
1. Nothing changed!

### Expected behavi

[2020-07-04 13:49] yg opened #767 "Feature: Add a workflow to welcome new contributors"
### Describe the solution you'd like

Add a workflow to greet new contributors with a reply of their first PR

### Additional context

[code]

[2020-07-04 15:04] #767 closed

[2020-07-04 18:26] filiptronicek commented on #453
Should we lazy load this tab or load everything at the same time? @yg @bdougie

[2020-07-04 18:36] bdougie commented on #453
Yeah, I am open to suggestions on how to handle that. My assumption is there are react libraries that handle that. It has been a while since I built something with tabs. I can put some thought into this after the next release.

[2020-07-04 18:39] filiptronicek commented on #453
I'm currently trying to put something together, I'll keep you all updated.

[2020-07-04 21:14] bdougie commented on #727
Fixed in #719

[2020-07-04 21:14] #727 closed

[2020-07-04 21:14] bdougie commented on #743
Fixed in #719

[2020-07-04 21:14] #743 closed

[2020-07-04 21:15] #639 closed

[2020-07-04 21:15] #716 closed

[2020-07-04 21:15] #722 closed

[2020-07-04 21:15] #732 closed

[2020-07-04 21:15] #734 closed

[2020-07-05 07:23] bdougie opened #769 "Feature: Use Remirror for notecontent box"
### Is your feature request related to a problem? Please describe.

The [note form](https://github.com/open-sauced/open-sauced/blob/master/src/components/NoteForm.js#L58-L90) could use an update with the Social mirror editor.

### Describe the solution you'd like

Adding the social editor would provide the ability to create emojis/

[code]

https://github.com/remirror/remirror

### Additional cont

[2020-07-05 09:18] filiptronicek opened #770 "Bug: you can fork your own repos"
### Describe the bug
With the addition of making forks right from Open Sauced. you can also fork your own project - not possible through GitHub, you can only fork to an org from your account.

### To Reproduce
1. Add a repo of yours from the Dashboard
1. Go to it, try to fork
1. It's weird 😕
### Expected behavior
There should be a conditional statement, to check, if you are not the author of the p

[2020-07-05 09:21] filiptronicek commented on #770
.take

[2020-07-05 12:41] JosephLing opened #772 "Feature: Add ability to have the "database" be a private repo"
### Is your feature request related to a problem? Please describe.
It's awesome that you get to write notes for each repository however sometimes it would be handy to have those notes be private. Specailly if the database model is used to store any additional information in the future.

### Describe the solution you'd like

Add the option to have the database run from a private repository instead

[2020-07-05 12:49] yg commented on #772
/cc @bdougie

[2020-07-05 13:52] ifiokjr commented on #769
Sounds amazing. I've just made the first release and it's highlighted a bug when run inside `React.StrictMode`. I'm just working through fixing it.

However, I don't see any issue with getting started with integrating it. There's not much work left to do on the `SocialEditor` and I'm here to help with any problems you might bump into.

[2020-07-05 14:07] bdougie commented on #772
## Background on Public/Private
This app actually made all notes as private by default prior to #533.

I see the value for private note-taking as a user, but at the moment there is low open-sauced project benefit making the DB private, mainly because the notes are unstructured and can be taken anywhere. In the future, I would like to focus on structuring the note content and guiding the user to ta

[2020-07-05 14:26] bdougie opened #773 "Feature: Structured note taking for easier private migration."
### Is your feature request related to a problem? Please describe.

At the moment there is no structure to note-taking. There also now guide for the user on what type of notes would be helpful.

https://github.com/open-sauced/open-sauced/issues/769
https://github.com/open-sauced/open-sauced/issues/772

### Describe the solution you'd like

User can select issues they are interested in and store th

[2020-07-05 14:44] bdougie opened #774 "Bug: Exceptional handling service"
### Is your feature request related to a problem? Please describe.

At the moment we are not tracking errors from usage. Though the user count is low, if may be worth tracking for now.

### Describe the solution you'd like

https://sentry.io/for/open-source/

or

https://www.bugsnag.com/open-source

### Describe alternatives you've considered

More tests.... :smile:

### Additional context

Does a

[2020-07-05 14:49] yg commented on #774
Sentry would be awesome! Their open-source plan is pretty good, I already tried with two of my projects!

PS: We can try showing some useful sentry insights in the admin bar!

[2020-07-05 22:48] #715 closed

[2020-07-05 22:48] #709 closed

[2020-07-06 04:00] yg commented on #774
@bdougie I will work on this

List of Errors

![Screenshot](https://user-images.githubusercontent.com/61746440/86554409-261c0d80-bf6b-11ea-9b9c-e215d9e2625e.png)

Error/Exception Page

![Annotation 2020-07-06 092821](https://user-images.githubusercontent.com/61746440/86554415-2a482b00-bf6b-11ea-8c9a-07a5b532c80f.png)

Open Source plan supports up to 5,000,000 events / month

![Screenshot](https://

[2020-07-06 20:26] #770 closed

[2020-07-07 04:36] bdougie commented on #689
@sgrove what are the chances we could have a query in one graph that installs the GitHub App after it is created? I could see this being useful for OneBlog as well.

My current block for merging the PR, is the process for installation of the Open Sauced GitHub App creates takes the user out of the onboarding experience without the ability to redirect.

There is an endpoint to install the app via t

[2020-07-07 10:30] filiptronicek commented on #766
Problem solved: the "`Sync in Progress`" was displayed every time a repo was added, which didn't have any stars => in JavaScript, 0 stars were interpreted as a `false`, which meant the stars weren't displayed.
![a code implementation in JS, displaying how the error happened](https://user-images.githubusercontent.com/29888641/86768272-9733f180-c04d-11ea-97f3-93d1d6845303.png)

[2020-07-07 11:12] filiptronicek commented on #774
I think Sentry would be great! I never personally used it, but it will make finding erros a lot easier.

[2020-07-07 11:18] filiptronicek commented on #671
This is implemented in #776, right? @yg

[2020-07-07 11:25] yg commented on #671
Yep @filiptronicek! It is completed, we will close this once merged to master!

[2020-07-07 11:31] yg commented on #610
Fixed in #707

[2020-07-07 11:31] #610 closed

[2020-07-07 11:33] yg commented on #555
Fixed in #728

[2020-07-07 11:33] #555 closed

[2020-07-07 14:10] bdougie opened #779 "Feature: Add action when PR is merge to feature branch add the completed label"
### Is your feature request related to a problem? Please describe.

When a PR is merged into a release, I would like the `completed` label added.

### Describe the solution you'd like

Using [github-script](https://github.com/actions/github-script)

### Describe alternatives you've considered

Currently, I am doing this manually.

### Additional context

Adding the completed label prevents contrib

[2020-07-07 14:12] #766 closed

[2020-07-07 16:03] filiptronicek commented on #779
Add the `completed `label to the issue or the pull request? @bdougie

[2020-07-07 16:10] filiptronicek commented on #779
And another question: can the API get the number of the linked Issue?

[2020-07-07 16:23] bdougie commented on #779
The issue should get the label

https://github.community/t/get-all-issues-linked-to-a-pull-request/14653/6

[2020-07-07 16:30] filiptronicek commented on #688
.take

[2020-07-07 17:39] dwwoelfel commented on #689
We've built in an escape hatch for GitHub in case you need to make calls to the REST API that aren't supported by the GraphQL API. It will automatically add the auth we have to the API call.

[Example query](https://www.onegraph.com/graphiql?shortenedId=PXY8Q5):

[code]

Would that work for you?

[2020-07-07 18:28] bdougie commented on #774
Sentry open source application was just submitted.

[2020-07-08 01:17] bdougie opened #783 "Bug: The fork button is always disables"
### Describe the bug

Not sure if this broke when merged, but the fork buttons seems to never work now and is always disabled.

### To Reproduce

1. Navigate to a goal i.e. opensauced.pizza/repos/owner/repo/number
2. Fork the repo or view the fork if it exists.

### Expected behavior

I should be able to fork a repo.

### Screenshots

![Screenshot 2020-07-07 16 04 09](https://user-images.githubuse

[2020-07-08 04:28] #783 closed

[2020-07-08 04:53] yg commented on #535
@bdougie FYI https://sentry.io/share/issue/e038ec7d77724182a909ba0812ade8f2/

[2020-07-08 12:54] #737 closed

[2020-07-08 16:51] bdougie commented on #689
Wow, I always forget about that. Time to final use this.

[2020-07-08 17:24] yg commented on #689
@bdougie We can use this to get `repoStatusCode` too! WDYT?

[2020-07-16 13:51] filiptronicek commented on #745
How would we go about checking the linked issue? Is there an API query to check for that? @bdougie

[2020-07-16 19:39] bdougie commented on #745
It is not clear cut, but this may be the path forward.

https://github.community/t/get-all-issues-linked-to-a-pull-request/14653/6

[2020-07-17 13:25] bdougie opened #789 "Bug: Repo goal url should be dependent on issue number existing."
### Describe the bug

For @bdougie to describe better.

repoOwner/repoName/:issues_number should be repoOwner/repoName always and not need the :issue_number in the URL

### To Reproduce

1. Visit https://opensauced.pizza/repos/babel/babel/undefined
2. Note that it succeeds.

### Expected behavior

Remove the `id` from https://github.com/open-sauced/open-sauced/blob/master/src/containers/Dashboard.

[2020-07-17 13:27] bdougie opened #790 "Feature: Visiting repos not listed in the goals issues should present a tracking button"
### Is your feature request related to a problem? Please describe.

This is a feature.

Adding the ability to view repositories that are not listed in the tracking(goals) repository.

### Describe the solution you'd like

When visiting an untracked project, I would like to be asked to track it and not show the note form or other sidebar items.

### Describe alternatives you've considered

Hide the

[2020-07-17 13:29] #688 closed

[2020-07-22 02:57] bdougie commented on #774
Sentry has been implemented and working. Currently, no exceptions in production, despite there being a few known bugs.

[2020-07-22 02:57] #774 closed

[2020-08-04 23:04] bdougie commented on #742
It is completed and not breaking thanks to https://github.com/github/renaming

[2020-08-04 23:04] #742 closed

[2020-08-16 12:50] bdougie commented on #645
Closing for now as it is not a priority.

[2020-08-16 12:50] #645 closed

[2020-08-16 12:51] #660 closed

[2020-08-16 13:08] notBdougie commented on #773
.take

[2020-08-20 15:36] jasonericdavis opened #807 "Bug: App crashes if OneGraph token has expired."
### Describe the bug

The app will not load if the OneGraph token expires.

### To Reproduce

1. Make sure you are logged into he app.
2. Update the value of the OneGraph token in localStorage to set the expiredDate to a date in the past.
3. Refresh the page

### Expected behavior

App displays the login screen if the OneGraph token has expired.

### Context

I discovered this because I hadn't log

[2020-08-20 15:44] jasonericdavis commented on #807
.take

[2020-08-20 16:20] bdougie commented on #807
Interesting, curious if you can record a video via [loom](https://www.loom.com/) to share this.

[2020-08-20 16:44] jasonericdavis commented on #807
https://www.loom.com/share/90cba6815c914c5a9715fd66e6153a05

[2020-08-20 17:08] bdougie commented on #807
Thanks for sharing the video. We definitely need a redirect when the token expires.

My first thought is validating the expiration in this service here: https://github.com/open-sauced/open-sauced/blob/main/src/lib/identityActions. But, that is just my first thought though.

[2020-08-20 20:09] #807 closed

[2020-08-21 13:49] bdougie opened #810 "Bug: Welcome action is broken and does not comment on PRs when opened"
### Describe the bug

The action that welcomes new first time contributors is broken and needs a `pull_request_target` instead of `pull_request` to work.

see: https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/

place where it broke last: https://github.com/open-sauced/open-sauced/pull/808

### To Reproduce

1. Go to https://github.com/open-sauced/open-

[2020-09-17 20:01] hdJerry opened #827 "Bug: terser-webpack-plugin"
### Describe the bug
This is just a version issue, there were some breaking changes introduced in 3.0.0 and one of them was "minimum supported Node.js version is 10.13.

### To Reproduce

1. Got to package.json
2. Change the version of terser-webpack-plugin to 2.3.6
3. Go to the terminal in the project directory
4. Do npm install

[2020-09-18 13:13] bdougie commented on #810
Fixed in #811

[2020-09-18 13:13] #810 closed

[2020-09-18 21:28] notBdougie commented on #453
.take

[2020-09-22 21:38] bdougie commented on #650
.take

[2020-09-24 21:48] reinitto commented on #612
.take

[2020-09-25 07:58] dotundefined commented on #650
I will give this a go. :)

[2020-09-25 09:27] filiptronicek commented on #650
@dotundefined would be nice, but probably it would be easier to have just a modal with a "Confirm" button, I find GitHub's technique a bit obnoxious

[2020-09-25 09:32] dotundefined commented on #650
@filiptronicek Sure thing! You can go and assign this issue to me. First time contributing btw, I will probably have some more questions. :)

[2020-09-25 09:33] filiptronicek commented on #650
Of course, I'm here to help! @dotundefined

[2020-09-25 09:34] dotundefined commented on #650
.take

[2020-09-25 13:38] BlueJYT commented on #756
Is this still an issue with the new updates with Safari? I have access to a VM and can go back and go back version by version to see what the issue is.

[2020-09-25 14:26] dotundefined commented on #650
#829 Is only moving the delete repository button in a separate card. It does not contain confirmation modal, I tought that could be a separate issue.

[2020-09-25 17:32] gairTanm opened #830 "Bug: opensource.guide copy has an error"
### Typo in the dashboard
When logged in, the dashboard has a link to opensource.guide. The label of the link is "Learn about about  open source".

### To Reproduce
Log in to the Web App

### Expected behavior
The label should be "Learn (more) about open source"

### Screenshots
![Screenshot from 2020-09-25 23-01-37](https://user-images.githubusercontent.com/55156702/94298101-2c76c000-ff83-11ea-91

[2020-09-25 17:34] gairTanm commented on #830
I would like to work on this issue to fix it.

[2020-09-26 02:39] #830 closed

[2020-09-26 12:37] bdougie commented on #612
@reinitto opened a great PR to apply widths to all images, this helps with the page speed load but does not remove the flicker on the images completely.

I am offering another suggestion, which is to leverage the existing service work on the project. I found that Workbox is built into this app due to it being an of creat-react-app.

Caching guide: https://web.dev/precache-with-workbox-react/

[2020-09-26 13:01] bdougie opened #832 "Bug: Adding a repo presents no response"
### Describe the bug

I have noticed an issue and wanted to document them so they can get a fix.

1. When adding a repo, the goals cache takes 30seconds to update, leaving the user to wonder if the repo they added was indeed added.

### To Reproduce

1. Go to repo list dashboard
2. Click on add a repo
3. Scroll down to wait for it show

### Expected behavior

Adding a repo should take them to the

[2020-09-26 13:05] bdougie opened #833 "Bug: Deleting a repo was presented with a failure due to protected branch permissions"
### Describe the bug
Deleting a repo was presented with a failure due to protected branch permissions

### To Reproduce

Deleting a repo was presented with a failure due to protected branch permissions

1. Add a repo ...wait for it to show #832
2. Delete the repo
3. Visit your goals repo to see if it was removed

https://github.com/bdougie/open-sauced-goals/runs/1169979951?check_suite_focus=true#s

[2020-09-26 14:49] dotundefined commented on #650
@filiptronicek This one is solved. I will create another issue for confirmation modal.

[2020-09-26 15:14] dotundefined opened #834 "Feature: Delete repository confirmation modal"
### Is your feature request related to a problem? Please describe.

When deleting a repository, there is no feedback. You just click delete repository button, and repository is gone. It can happen that the user missclicks and there is no way to stop deleting repo.

### Describe the solution you'd like

Create a confirmation modal for deleting repository. Really simple modal that is describing what

[2020-09-26 15:15] dotundefined commented on #834
@filiptronicek I would proceed with this, once we decide best approach.

[2020-09-26 15:18] filiptronicek commented on #834
I think this is a good approach, WDYT @bdougie?

[2020-09-26 18:12] bdougie commented on #834
There are current no modals in the app, so I have reservations on add any new libraries to make this work. My preference would be using a simple react component that can be shown or hidden.

I also this this could be hidden a ... menu similar to how dev.to handles their side bar menu. This is similar to how GitHub handles deletion of repos.

I think I may need to think and on this and provide some

[2020-09-26 18:51] dotundefined commented on #834
@bdougie There is already `"@primer/components": "^15.2.2"` dependency, that is why I went with that proposal. But now after looking around in the app, this dependency is not used anywhere.

But I understand, Modal should follow the same way other styled components are created (Button, Card etc).

I can go forward, and create temp solution with the alert(), or I can also create some mockups then w

[2020-09-26 19:01] dotundefined commented on #834
Maybe `Modal` can be based on `Card`. So to have a `ModalCard`, which follows styling of a `Card`, but on top of that adds additional props such as callback(onConfirm), onClose, onOpen etc...

[2020-09-26 19:30] bdougie commented on #834
I like that approach and happy with your approach at it.

[2020-09-26 19:32] dotundefined commented on #834
Alright, I will .take this issue, and start work on general design of the Modal, then I will post mockups here, then we can review it.

[2020-10-01 13:40] #696 closed

[2020-10-01 17:24] filiptronicek commented on #832
Any ideas on how it would be best to make the UX better? Mine was, that we could do a "loading" page, that will be a placeholder for the repo until it is ready

[2020-10-05 11:13] ashawe commented on #607
I would like to take this issue

[2020-10-05 15:40] crowtech7 commented on #756
Is this issue still open? I'm wanting to contribute to an open-source project (my first time) for Hacktoberfest and looking around. @BlueJYT have you resolved this already?

[2020-10-05 15:50] bdougie commented on #756
This issue is still a bug and unassigned. Please review the [CONTIBUTING.md](https://github.com/open-sauced/open-sauced/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2020-10-05 15:51] bdougie commented on #607
Please review the [CONTIBUTING.md](https://github.com/open-sauced/open-sauced/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2020-10-05 16:02] crowtech7 commented on #756
Read through the CONTIBUTING.md  **.take** I'm on it. Thank you @bdougie !

[2020-10-05 19:28] usoni11 commented on #453
@filiptronicek  @bdougie Hi, I am new here! And I would want to take up this. I think we can show a card below the Issues Card for oper PRs.

[2020-10-05 19:36] filiptronicek commented on #453
Hi @usoni11, if you'd like to be assigned to this issue, you can follow the steps in the contribution guidelines:

https://github.com/open-sauced/open-sauced/blob/main/CONTRIBUTING.md

[2020-10-05 20:46] usoni11 commented on #453
.take

[2020-10-05 20:50] bdougie commented on #453
@usoni11, I look forward to seeing what you come up with. This feature is slightly open-ended, but feel free to join our Discord as well. You can find me there and I can answer any questions you may have.

https://discord.com/invite/gZMKK5q

[2020-10-05 21:10] misss-popcorn commented on #453
Sure, thank you  :)

[2020-10-06 11:13] ashawe commented on #607
.take

[2020-10-06 11:43] BlueJYT commented on #756
Sorry about that, wasn't on for a while, unfortunately. Also, I cannot seem to get a command line going for Github (I'm running on a Chromebook 👀) So if you want me to test certain versions of Safari, you might want to @ me.

[2020-10-06 15:07] #650 closed

[2020-10-06 21:52] bdougie commented on #827
Curious @hdJerry if there is a reason to support earlier versions of node.

[2020-10-06 22:04] sgrove commented on #769
.take

[2020-10-06 22:13] bdougie commented on #832
The issue with a loading page is that the action takes 21 seconds to run. This may need something that checks the action in the background and lets the user know it is working.

example of the action run: https://github.com/bdougie/open-sauced-goals/actions/runs/292281621

[2020-10-06 22:17] sgrove commented on #832
It might be best to use a persisted query for this and hopefully remove the need for `data.json` - I'm not 100% sure what data needs to be pulled out, but to just start with e.g. star count:

[code]

Here's me persisting the query (and caching the result per-repo for 12 hours so I don't hit any rate limits):
![Screen Shot 2020-10-06 at 3 16 24 PM](https://user-images.githubusercontent.com/35296/95

[2020-10-06 22:38] bdougie commented on #668
This is still ups for grab - https://github.com/open-sauced/open-sauced/issues/668#issuecomment-651759670

[2020-10-06 22:44] bdougie commented on #721
Happy to still have a contribution here. There is already a test that supports this. Happy hacking.

Still interest @kunal1244

[2020-10-06 22:47] bdougie commented on #643
This is indeed fixed. We now clear out dead repos with the caching sync 3 times a week.

https://github.com/open-sauced/goals-template/blob/master/.github/workflows/goals-caching.yml

[2020-10-06 22:47] #643 closed

[2020-10-06 22:49] bdougie commented on #655
Final solution

![Untitled_Artwork](https://user-images.githubusercontent.com/5713670/95268067-749bab00-07eb-11eb-8037-1302a4be5fd3.png)

[2020-10-07 19:07] crowtech7 commented on #756
@BlueJYT if you're able to narrow down where the issue is specifically that would be great.

[2020-10-07 23:33] hdJerry commented on #827
I guess at the point of my installation I was on node version 8.0. I think I should work for higher versions of node.

[2020-10-07 23:37] bdougie commented on #827
If you want to open a PR stating node 10.13 or later is required, it would be appreciated. That way folks don't have to stumble into this themselves.

Adding it here would be ideal. https://github.com/open-sauced/open-sauced#-prerequisites

[2020-10-08 02:47] CodeItQuick commented on #832
Yeah this is a bit of a usability issue - I accidentally added two copies of the same repo and now I am nervous to remove it from the system (the ominous "Delete Repository" button makes me worry I'll self-destruct the repo).

It takes quite a while to sync, and doesn't give feedback that it is "working". You can also add two of the same repository (this should be blocked with an error being fed b

[2020-10-08 02:50] CodeItQuick commented on #833
I really think the dashboard should delete the repo _from the dashboard_ It would be rare for someone to want to delete their repository from github, and if they do want to do such an action it should be done through github, not this dashboard (so you don't get blamed for removing "all their work") kinda thing...

[2020-10-08 06:05] hdJerry commented on #827
I will do that.

[2020-10-08 11:30] bdougie commented on #827
@hdJerry can your description and link this to your PR using the [fixes](https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) command

[2020-10-08 11:38] #721 closed

[2020-10-08 20:09] CodeItQuick commented on #668
Hrmm I see semantic release is mentioned for implementing and updated the contributing, I'll try to plug away at this one over the next few days

[2020-10-08 22:20] bdougie commented on #668
Look forward to seeing what you come up with. Feel free to ask questions in the discord.

[2020-10-09 21:39] BlueJYT commented on #756
@crowtech7 I'll get on that whenever I can

[2020-10-09 21:54] BlueJYT commented on #756
OK, so here's what it's supposed to be like normally:
![Chrome opensauced](https://user-images.githubusercontent.com/45999974/95634287-897c7680-0a57-11eb-9935-019e4309a7f3.png)

Now here's what it looks like in Safari:
![Screenshot 2020-10-09 at 17 46 22](https://user-images.githubusercontent.com/45999974/95634321-9dc07380-0a57-11eb-92fb-81170096db62.png)
![Screenshot 2020-10-09 at 17 46 13](https

[2020-10-13 15:40] jasonericdavis opened #851 "Feature: Migrate Storybook to latest version(v6.0)"
### Is your feature request related to a problem? Please describe.
This feature request is not related to a problem.

### Describe the solution you'd like
Migrate the Storybook packages to the latest version(v6.0).

### Describe alternatives you've considered
No alternatives have been considered.

### Additional context
Migrating to the latest version of Storybook will be helpful for contributors

[2020-10-14 23:09] MichaelStevens247 commented on #612
Hey guys I am working on this.

[2020-10-15 00:05] bdougie commented on #612
Awesome @MichaelStevens247

Please review the [CONTIBUTING.md](https://github.com/open-sauced/open-sauced/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2020-10-15 05:03] MichaelStevens247 commented on #612
Tell me if I have this straight:
1. Download code from github
2. Follow instructions from CONTRIBUTING.md in visual studio code terminal
3. Fix the problem.
4. Submit a pull request.

Is this right? This is my first time doing open source.

[2020-10-16 14:05] #756 closed

[2020-10-17 14:25] Kakashi2998 commented on #834
Hi, I am new to open source contributions. Can I start working on it?

[2020-10-17 16:30] bdougie commented on #772
For now, we are going to focus on some other things. Might consider a new path towards note taking in the future. Linking issues can be noisy.

[2020-10-17 16:30] #772 closed

[2020-10-17 16:32] bdougie commented on #612
@MichaelStevens247 that works, be sure to read up on how to assign yourself to issues as well.

[2020-10-17 16:33] #827 closed

[2020-10-17 16:34] bdougie commented on #834
It is currently assigned to @dotundefined. Maybe consider working using the app and working on any issues you find while navigating it. Happy to get your feedback. We also have a discord link in the Contributing.md if you have questions.

@dotundefined how are things going on this? Any questions?

[2020-10-17 18:09] dotundefined commented on #834
@bdougie I don't have any questions, just swamped with own work so I did not make much progress. Maybe it would be a good idea for @Kakashi2998 to take over, he can maybe implement this much faster.

[2020-10-18 18:38] dbgithub commented on #655
Hey! Good evening,
**May I contribute to this feature?** I forked the repo and run the site already in local. Looking forward to fit the 404 error page in there.
I need to take a closer look to the project though :smiley:

[2020-10-18 20:39] adamxtokyo commented on #851
I can have a look at this tomorrow if it's alright 😃

[2020-10-18 21:39] jasonericdavis commented on #851
I created this issue to be approved by the triage team before working on it. If it is accepted you are more than welcome to work on it. So I would first wait for it to be accepted before working on it.

[2020-10-19 03:44] #834 closed

[2020-10-22 08:59] pelinoloji commented on #769
Hi,
Can I take this?

[2020-10-22 12:30] bdougie commented on #769
Checking with @sgrove on this and see how much he has completed on it already.

[2020-10-22 23:14] sgrove commented on #769
Will give an update on this a bit later tonight

[2020-10-23 13:00] #668 closed

[2020-10-23 20:17] bdougie opened #858 "Bug: Replace the current Lighthouse action with the google chrome labs official one."
### Is your feature request related to a problem? Please describe.

Yeah, currently the Lighthouse checks are broken and not uploading artifacts.

### Describe the solution you'd like

Just copy what Eddie has

https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/blob/develop/.github/workflows/lighthouse-check.yml

See the error message here: https://github.com/open-sauced/open-s

[2020-10-23 20:41] sgrove commented on #769
Have the initial support up in #859, but could use some help with the failing tests!

[2020-10-24 04:03] #689 closed

[2020-10-24 04:53] bdougie commented on #851
I approve of working on this, with the caveat that a number of the stories are out of date as well. If the person that works on this, could also delete some of the unused stories, that would be appreciated.

[2020-10-24 12:12] jasonericdavis commented on #851
@adamxtokyo I can assign this issue to you if you are still interested.

[2020-10-25 21:08] Wachiwi commented on #621
This issue should be closed right? Could you perhaps update what is missing, if something is still left to do? Was looking into it since it was showing here: https://github.com/open-sauced/open-sauced/contribute

[2020-10-26 09:30] adamxtokyo commented on #851
Hey @jasonericdavis,
Yeah do it 👍 Sorry I've been MIA for a bit, but I'll get on it asap 😄

[2020-10-26 13:58] bdougie commented on #621
All fonts sizes are now variables thanks to #823. All fonts sizes used are not yet aligned with WCAG Guidelines. We still need to update all font sizes below 16px.

[2020-10-26 13:59] bdougie opened #862 "Feature: Improve new user sign up and onboarding"
### Is your feature request related to a problem? Please describe.

https://github.com/open-sauced/open-sauced/pull/699#issuecomment-716050934

Today the onboarding is ambiguous. It is not clear the image displayed is clickable or instructions.

### Describe the solution you'd like

Netlify and Vercel guide the user to install their app elegantly. Copying what they are doing would be a good move.

[2020-10-27 13:09] bdougie opened #864 "Bug: No validation if a viewed repo is being tracked"
### Describe the bug

The PR #863 introduces the ability to view any public repo on GitHub. This intoduces a new bug where someone can view a repo, but cannot delete or takes notes on the repo.

The dashboard should validate if someone has saved the repo to their list.

### To Reproduce

1. Navigate to any repo you have not saved.
2. Click on the edit notes button
3. Save a note.
4. No error is pr

[2020-10-27 13:15] bdougie opened #865 "Bug: Goals caching is hardcoded to the master branch"
### Describe the bug

The way the goals get cached is through the goals-template, which has a default branch as master. If someone changes that to anything else, the caching will fail due to [this](https://github.com/open-sauced/open-sauced/blob/f239d63dd00770a13982a1bf64a6010f72b05ba7/src/lib/apiGraphQL.js#L296).

### To Reproduce

1. Change the branch name for your open-sauced-goals repo.
2. Add

[2020-10-27 13:21] #789 closed

[2020-10-27 16:05] anusha5695 commented on #864
Hi @bdougie I can pick this

[2020-10-27 16:06] bdougie commented on #864
Please review the [CONTIBUTING.md](https://github.com/open-sauced/open-sauced/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2020-10-27 16:09] anusha5695 commented on #864
Thank you @bdougie

[2020-10-28 16:27] Wachiwi commented on #621
If it would be ok, I would .take. this and try to look into this one to adapt the font-sizes to the WCAG Guidelines.

[2020-10-28 21:49] dbgithub commented on #655
Uhm.., I'm wondering whether you have a .svg file of this design (@bdougie ), I downloaded as png for the moment to elaborate more on the 404 page.

Cheers

[2020-10-28 22:22] bdougie commented on #655
@dbgithub hot off the press. Also sorry I never responded to your message 10 days ago.

https://www.dropbox.com/s/xzxz1ov3r26kiz8/pop%20art%20pizza-01.svg?dl=0

[2020-10-30 16:46] Wachiwi opened #867 "Feature: Allowing Github codespaces subdomain in Onegraph"
### Is your feature request related to a problem? Please describe.

Tried to check out and run the project in Github Codespaces, which works, but I cannot log in since the GitHub codespaces forwarded URL is not allowed.

### Describe the solution you'd like

Perhaps it would be possible to allow the GitHub codespaces subdomain.

### Describe alternatives you've considered

N/A

### Additional cont

[2020-10-30 20:24] filiptronicek commented on #867
I agree this would be nice, I would also like to allow gitpod.io, it is a big competitor to Codespaces.

The wildcards will then be:
* *.gitpod.io
* *.apps.codespaces.githubusercontent.com

[2020-10-31 18:27] dbgithub commented on #655
Hey,
I'm just performed a [pull request for this issue](https://github.com/open-sauced/open-sauced/pull/868). Hoping you'd like it.
Also, I would appreciate if it gets validated for the Hacktoberfest anyways :)

Cheers

[2020-10-31 21:48] #655 closed

[2020-11-02 21:46] PeeyushRawat commented on #865
please assign this to me! also please guide me.

[2020-11-02 23:50] bdougie commented on #865
@PeeyushRawat Please review the [CONTIBUTING.md](https://github.com/open-sauced/open-sauced/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2020-11-03 13:49] bdougie commented on #867
This is a good idea, I am looking into this and also pinged the onegraph team to make them aware.

[2020-11-03 21:58] PeeyushRawat commented on #865
.take

[2020-11-03 22:11] PeeyushRawat commented on #865
.take

[2020-11-06 13:56] jasonericdavis commented on #851
Hello @adamxtokyo are you still working on this issue?
If so no rush I am just checking-in and if not that is fine and I can remove you as the assignee.

[2020-11-07 17:25] jasonericdavis opened #883 "Bug: View Fork button not being displayed when selecting a repository that has already been forked."
### Describe the bug

When selecting a repository that has already been forked by the user the "View Fork" button should be shown. Instead the "Fork" button is shown.

### To Reproduce

1. Go to opensauced.pizza
2. Click on a repository that has already been forked.
3. The "Fork" button is displayed instead of the "View Fork" button.

### Expected behavior

When selecting a repository that has alr

[2020-11-08 21:26] adamxtokyo commented on #851
Hey @jasonericdavis, thanks for checking in! And yeah, sorry, I think I took on too much 😓 I personal stuff still waiting for me to take action and this is thus unfortunately low on my priority list atm... I think you better remove me as assignee for now. Apologies I didn't communicate this earlier 🙏

[2020-11-08 22:36] jasonericdavis commented on #851
No worries @adamxtokyo I understand. I will remove you as the assignee. Don't hesitate to contribute in the future. 😄

[2020-11-18 15:55] #851 closed

[2020-11-24 15:39] filiptronicek commented on #883
It looks like another output gets written to the browser console, that being
`TypeError: can't access property "viewer", n.data.gitHub is null`

![browser console screenshot](https://user-images.githubusercontent.com/29888641/100114620-e7331980-2e71-11eb-9252-27b0f2c47834.png)

It looks like the transfer to limited Oauth data disabled access to the `n.data.gitHub variable`...

I will try to look m

[2020-11-24 16:11] jasonericdavis commented on #883
I also think that it is worth looking into the context in which OneGraph is executing the query. It seems as though the OneGraph query is running as someone other than the person that is logged in.  When I log into my own Onegraph account in a separate browser and run the query using open-sauced as the repository (which I am not an owner) I get back the expected response. If I run the query using

[2020-12-10 02:34] #621 closed

[2020-12-21 06:58] HarshCasper opened #894 "Bug: Potential Bugs and Anti-Patterns in the Codebase"
## Description

I ran DeepSource Static Code Analysis upon the Project, the results for which are available [here](https://deepsource.io/gh/HarshCasper/open-sauced/).

The Static Code Analysis Tool found potential bugs and anti-patterns in the Code, that can be detrimental at a later point of time with respect to the Project. DeepSource helps you to automatically find and fix issues in your code d

[2021-01-22 21:07] bdougie commented on #344
<img width="586" alt="Screen Shot 2021-01-22 at 4 03 29 PM" src="https://user-images.githubusercontent.com/5713670/105546600-94d47480-5ccb-11eb-95d7-d1ae4c5ac7dd.png">

her is a brought idea of where it will go.

I am thinking of using Supabase for the data.

[2021-01-22 21:33] filiptronicek commented on #344
Great idea @bdougie, what do you think the source of the repos should be? Community issues? [Up for grabs](https://up-for-grabs.net/#/)?

[2021-01-22 21:48] bdougie commented on #344
I would love to create a DB and user-generated data. I do like the approach of creating an Open Sauced GitHub App that is installed on participating repos to be recommended. We could showcase participating projects on the home page.

These projects do something similar:

https://www.firsttimersonly.com/
https://github.com/hoodiehq/first-timers-bot

[2021-01-22 21:52] filiptronicek commented on #344
Cool, that looks legit, I would love to see that. Would we sort the projects by any means? The number of issues? Stars?

[2021-02-07 20:37] filiptronicek opened #911 "Feature: all issues/pull request numbers"
### Is your feature request related to a problem? Please describe.
I feel that on the repository page, the issue and PR count should be the count of open issues and pull requests because that is the important info for contributors right here and right now.

### Describe the solution you'd like
I would like the box to show the open issue and PR count, instead of the total.

### Additional context
M

[2021-02-25 14:22] nightroman opened #912 "Bug: Sync to Upstream: All jobs have failed"
### Describe the bug

I've got an email from GitHub actions about "Sync to Upstream: All jobs have failed" in my recently created open-saused repo https://github.com/nightroman/open-sauced-goals

The workflow run is here:
https://github.com/nightroman/open-sauced-goals/actions/runs/598617340

### Expected behavior

I am not sure what this action does and its failure means but it's unlikely designe

[2021-02-25 15:14] filiptronicek commented on #912
As it seems. it is related to the default branch of the repo. The action tries to fetch main but your default branch is master. This is at least what I've gathered from the logs and the workflow file.

[2021-02-25 15:42] nightroman commented on #912
But what is the culprit and how to deal with this issue? Should I rename the branch? I can indeed, it will probably fix my issue but not the issue as such, right?

[2021-02-25 15:47] bdougie commented on #912
This is interesting. Thanks for reporting @nightroman and the triage @filiptronicek. The fix would go here, https://github.com/open-sauced/goals-template/blob/master/.github/workflows/sync-2-upstream.yml#L19

I think it should skip if the user's branch is not main. I also think I might change this action entirely. It is pretty really brittle and contingent on GitHub not updating the Actions API, w

[2021-02-25 15:53] nightroman commented on #912
I've renamed master to main and rerun jobs -- failure again.

[2021-03-04 18:57] goatandsheep commented on #746
I think even better than this is to just have a GitHub action for new issues that asks for tips like this https://github.com/goatandsheep/issuehunt-action

[2021-03-05 05:15] AshtarCodes commented on #612
.take

[2021-03-05 11:18] filiptronicek commented on #746
As interesting of a solution you propose, @goatandsheep. maybe we can just fetch the FUNDING.yml, parse the YAML, and add options for users to donate/sponsor via the links provided.
Something like (pseudo code)

[code]

[2021-03-11 10:43] nightroman commented on #912
I keep getting these errors. I am going to remove my repository to avoid them. Please let me know you want me to keep it for a while for investigation.

[2021-03-12 02:47] bdougie commented on #912
Yeah, I am going to remove the action altogether for now. Need a better approach for this.

[2021-03-15 08:18] zordan-tech commented on #612
hi guys I'm first time contributing pls help me

[2021-03-15 19:04] jasonericdavis commented on #612
@zordan-tech It looks this issue has already been assigned to @AshtarCodes. The [CONTRIBUTING.md](https://github.com/open-sauced/open-sauced/blob/HEAD/CONTRIBUTING.md) contains information on how to contribute to the project.

[2021-03-22 10:29] nightroman commented on #912
I've got an email about the failure. Is this still expected?

[2021-03-22 10:40] filiptronicek commented on #912
@nightroman it seems your repo is still on an outdated version of the `open-sauced/goals-template` repo. The easiest thing to do would probably be to delete the repo and initialize it again, or if you're into that somehow pull the commits (this is hard to do since the repo is generated and therefore not a fork).

[2021-03-22 10:51] nightroman commented on #912
Thank you. I've removed the repository. Closing.

[2021-03-22 10:51] #912 closed

[2021-03-31 12:14] ankan1811 opened #927 "Bug:"
### Describe the bug

### To Reproduce

### Expected behavior

### Screenshots

### Desktop

- OS:
- Browser:
- Version:

### Smartphone

- Device:
- OS:
- Browser:
- Version:

### Additional context

[2021-03-31 12:15] #927 closed

[2021-04-02 20:15] filiptronicek opened #932 "Bug: Delete this repo sounds scary"
### Describe the bug
"Delete this repo" sounds scary to click on, it sounds like you are deleting the repo from GitHub.

### To Reproduce

1. Go to a repo in your dashboard
2. See the button

### Expected behavior
Something like "remove this repo from the dashboard" or "unpin repo" would be better and less scary 👀

### Screenshots

![image](https://user-images.githubusercontent.com/29888641/113450

[2021-04-11 13:06] cemeiq commented on #932
Hi, @filiptronicek I want to contribute to open-sauced project. Can I take this issue?

[2021-04-11 13:31] bdougie commented on #932
@cemeiq see Please review the [CONTIBUTING.md](https://github.com/open-sauced/open-sauced/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

Let us know if you have any questions.

[2021-04-12 19:39] cemeiq commented on #932
.take

[2021-04-13 19:23] bdougie opened #936 "Feature: Update Components to match UI redeisgn"
### Is your feature request related to a problem? Please describe.

I have connected with a designer to provide some mockups of a slight redesign. Please take note, all the illustrations are placeholders. We can use the existing or these, but I do plan on having an illustrator create all new ones.

**Landing Page:**
![above-the-fold](https://user-images.githubusercontent.com/5713670/114641889-e411

[2021-04-14 01:56] bdougie commented on #936
HI folks, sharing this for feedback here. Feel free to use [Discord](https://discord.com/invite/U2peSNf23P) too, all feedback is good feedback.

[2021-04-16 20:40] bdougie commented on #344
![Screen Shot 2021-04-16 at 3 59 38 PM](https://user-images.githubusercontent.com/5713670/115081504-60d7ac80-9ed2-11eb-9993-306bd21a5310.png)

[open sauced discord](https://discord.com/invite/U2peSNf23P) members had a discussion about the future of this feature recommending repos to contribute to.

Some ideas that came up

- Leverage [orbit.love](https://orbit.love) data
- Recommend projects you h

[2021-04-16 21:24] 0-vortex commented on #344
There are a few ways to go at this I want to suggest based on personal experience crawling my network data:

### 1. No consent way

No consent way is possible if the workflows don't store information that could be computed to expose private information and the data that is stored is also available publicly, easily. Here I would suggest the "awesome" list approach initially, where you have a graph

[2021-04-16 21:53] jasonericdavis commented on #344
The idea that I had was to include repositories that a user has starred in open sauced. My thought comes from the idea that sometimes I will star a repo for a particular reason and after a while I forget why I starred it. It would be great if I could also have that repository show up in open-sauced so that I can include notes about why I starred the repo.

[2021-04-16 22:00] bdougie commented on #344
We should call this trifecta "the vortex." I like the idea of weighting the data based on the following, comments, etc. This would ensure the day is not following bot accounts and looking for I guess... influencers. I also think the consent should be stated at sign up, and data should be readable.

Perhaps when you log in you can get a list of the last repo you starred asking to add notes on why y

[2021-04-16 22:10] jasonericdavis commented on #344
I think that is an excellent idea. That way a user isn't bombarded with starred repos the first time.

[2021-04-16 22:18] 0-vortex commented on #344
wtb ai powered suggestions:

<img width="173" alt="Screenshot 2021-04-17 at 00 15 05" src="https://user-images.githubusercontent.com/237133/115089200-09593100-9f12-11eb-9f1c-12b8845ed6de.png">

[2021-04-20 21:02] bdougie commented on #344
For more style ideas. Crazy max shared this on stream.

https://crazymax.dev/

<img width="1362" alt="Screen Shot 2021-04-20 at 5 01 14 PM" src="https://user-images.githubusercontent.com/5713670/115463719-23d52800-a1fa-11eb-9cfb-5b7ff1c39d84.png">

https://github.com/crazy-max/crazy-max.github.io/blob/dev/data/sections/projects.yaml

[2021-04-20 21:14] bdougie opened #937 "Feature: replace the Trusted By Icons"
### Is your feature request related to a problem? Please describe.

<img width="917" alt="Screen Shot 2021-04-20 at 5 14 23 PM" src="https://user-images.githubusercontent.com/5713670/115465006-e8d3f400-a1fb-11eb-89ff-e27ddee5620c.png">

### Describe the solution you'd like

Replace the current ones with the following

https://github.com/dayhaysoos/use-shopping-cart
https://github.com/remirror/remi

[2021-04-20 21:26] alotoftype commented on #937
I can take this issue

[2021-04-21 13:51] bdougie commented on #937
@alotoftype Please review the [CONTIBUTING.md](https://github.com/open-sauced/open-sauced/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2021-04-21 16:17] bdougie commented on #454
test

[2021-04-22 19:01] #937 closed

[2021-04-25 13:00] mtfoley commented on #894
.take

[2021-04-25 13:17] mtfoley commented on #894
I have some work underway on this.  I tried to run DeepSource in the same way that @HarshCasper did on my own fork, but it seems like some of the environment settings in DeepSource aren't available in the same way, so the issues it lists are a little overwhelming at the moment. Since it's still live, I'm going to focus on some of the ones in the analysis output that @HarshCasper already linked to:

[2021-04-25 15:02] mtfoley commented on #894
I should be finished with PR #941 now.

[2021-04-28 16:41] #894 closed

[2021-04-28 17:35] mtfoley commented on #883
I had been noticing this issue too. Interestingly enough, I was looking at a repo I'd already forked and had also added as a goal in opensauced.pizza, and clicked the fork button in GitHub, which took me to my existing fork. Since then, the View Fork button has been working for me. Call me crazy, but I feel like there's some kind of cache that I updated by doing that.

[2021-04-28 18:58] mtfoley commented on #456
@bdougie I have been playing with the openGraph queries in src/lib/apiGraphQL.js to see if I could get this filtering to work according to the `issues` field, `labels` argument here: https://docs.github.com/en/graphql/reference/objects#repository. Unfortunately the requests return an object with the error "Resource not accessible by integration". I think this got mentioned in an issue or PR somewh

[2021-04-28 20:47] bdougie commented on #456
The authentication only provides access to your goals repo. I will need provide an endpoint for that in the, i.e. https://github.com/open-sauced/open-sauced/blob/main/src/lib/persistedGraphQL.js.

These are authenticated requests to the GitHub API. Do you have an example of the GraphQL you are looking to get data from?

[2021-04-29 00:37] mtfoley commented on #456
Ok, I don't have a lot of experience with GraphQL, but I think it'd be something like what's in [https://github.com/open-sauced/open-sauced/blob/main/src/lib/apiGraphQL.js](https://github.com/open-sauced/open-sauced/blob/main/src/lib/apiGraphQL.js) for the query "IssuesQuery", except with the labels limiting as discussed above. So I think it'd be like this:
[code]

[2021-04-29 18:00] 0-vortex opened #948 "Feature: add clickable link to the goals repo on the first-time setup"
### Is your feature request related to a problem? Please describe.

After installing the Open Sauced GitHub application and creating the "open-sauced-goals" repository a link to it could be clickable before granting rights to the app.

Additional context can help what is happening after clicking the install button.

### Describe the solution you'd like

Add an anchor to open the GitHub repository

[2021-04-29 18:17] 0-vortex opened #949 "Bug: nodejs/node and other big repositories missing information when adding a new dashboard item"
### Describe the bug

When trying to get information about some big repositories like [nodejs/node](https://github.com/nodejs/node) the gql data we receive in chunks contains missing information.

### To Reproduce

1. Log network activity through console
1. Go to the open-sauced dashboard and try to add [nodejs/node](https://github.com/nodejs/node) to your watch list.
1. Check the network tab
1. A

[2021-04-29 18:33] 0-vortex commented on #883
Looking at the [onegraph docs](https://www.onegraph.com/docs/logging_users_in_and_out.html) about auth and then the code, just a wild thought but could this be related to the `isLoggedin` variable in the dashboard  `useEffect` at https://github.com/open-sauced/open-sauced/blob/0480f67efe88aff380055734c16cf5321ccf5bd2/src/index.js#L24-L57 ?

Some context from the most recent stream:

https://clips.

[2021-04-29 18:39] 0-vortex opened #950 "Feature: add OneGraph GraphiQL instance locally available"
### Is your feature request related to a problem? Please describe.

Add [OneGraph GraphiQL](https://www.onegraph.com/graphiql) available locally in the project.

### Describe the solution you'd like

Read about [OneGraph/graphiql-explorer](https://github.com/OneGraph/graphiql-explorer) and implement the [graphiql-explorer-example](https://github.com/OneGraph/graphiql-explorer-example) in open-sauc

[2021-04-29 18:47] 0-vortex opened #951 "Bug: check GQL queries for integrity"
### Describe the bug

Some of the GraphQL queries could have duplicated attributes or otherwise hard to catch issues like `repoQuery`.

This could be a good first issue for someone interested in learning more about open-sauced and gql as it enables thorough investigation of existing queries.

### To Reproduce

Check out https://github.com/open-sauced/open-sauced/blob/0480f67efe88aff380055734c16cf5

[2021-04-29 19:18] 0-vortex opened #952 "Feature: keep StoryBook updated"
### Is your feature request related to a problem? Please describe.

StoryBook has not been updated properly and some stories diverged from existing design implementations.

Could be a good first issue for people looking to learn React tooling and testing.

### Describe the solution you'd like

Remove unused stories and update some of the existing ones to minimal examples.

### Describe alternative

[2021-04-29 19:25] 0-vortex opened #953 "Bug: repository coding languages grid is not aligned vertically"
### Describe the bug

CSS grid items in repository display are not aligned.

### To Reproduce

1. go to  the dashboard
1. add any repository
1. click to view added repository
1. repository code languages are not aligned vertically

### Expected behavior

Repository code languages should be aligned vertically on all platforms.

### Screenshots

![Screen Shot 2021-04-30 at 2 10 41 PM](https://user-i

[2021-04-29 19:41] 0-vortex opened #954 "Feature: improve caching strategy for stars dashboard data"
### Is your feature request related to a problem? Please describe.

Stars data coming from GitHub is cached.

### Describe the solution you'd like

Have the ability to bypass GQL caching on the dashboard repository list without having to add another repostory to the list.

### Describe alternatives you've considered

### Additional context

https://clips.twitch.tv/CuteDepressedPuffinWOOP-giOUmm9N_

[2021-04-29 19:59] 0-vortex opened #955 "Bug: taking notes does not work"
### Describe the bug

### To Reproduce

1. go to the dashboard
1. add any repository
1. click to view added repository
1. add a note
1. check the network tab
1. github request returned an error

### Expected behavior

Taking notes should work:
- added notes should exist on the "open-sauced-goals" repository as issues
- visually, after refresh the notes should still be there

### Screenshots

Sampl

[2021-04-29 20:01] filiptronicek commented on #949
Yep, this is known, tried this a couple of months ago with Linux, but I really don't know what the backend issue is if there is an execution limit or something.

![example of a non-working repo (torvalds/linux)](https://user-images.githubusercontent.com/29888641/116611244-6d2e2180-a936-11eb-9da1-40cb83a953d5.png)

@bdougie are there any logs that we keep? Does OneGraph have any?

[2021-04-29 20:04] filiptronicek commented on #955
I could reproduce this, this worked just a couple months ago, so something must have broken it since then.

[2021-04-29 20:06] filiptronicek commented on #936
@0-vortex yep, check https://github.com/open-sauced/open-sauced/issues/607

[2021-04-29 20:12] 0-vortex commented on #949
Most repositories with more than 20.000 history items are somewhat limited as far as I am aware from other applications but I don't know details. Will try to further investigate after getting the local OneGraph set up and documented properly.

[2021-04-29 20:15] 0-vortex commented on #607
@filiptronicek I vote dark grey but I think both are valid - people without sight probles or with low contrast monitors will prefer a white vs black contrast while we could use an additional intermediate no-contrast mode, similar to the current GitHub experience :D

[2021-04-29 21:00] mtfoley commented on #883
Disclaimer: I may have missed the original point here, but anywho...

I haven't yet taken time to watch the twitch streams that @0-vortex sent. However as I look over the code, the behavior that @jasonericdavis is describing makes some sense. I believe the data that populates the "View Fork" button or other version of the UI comes from the GraphQL query "FetchUserFork" that @jasonericdavis pointed

[2021-04-30 08:40] mtfoley opened #957 "Feature: Extra tip about watchman for test suites"
### Is your feature request related to a problem? Please describe.

When setting things up to do my first PR to open-sauced, I needed to get the test suite up and running to make sure all was well. I got some error messages when I tried to run the test about too many files being open.The README does mention that the test suite run in watch mode by default, but when I first read that I didn't know

[2021-04-30 08:48] mtfoley commented on #955
I've noticed it too. Similarly, going through "Delete Repository" (which I think just closes the issue in open-sauced-goals fork) doesn't work either.  From what I can tell, the problems come from not having the ID of the issue in the user's open-sauced-goals repository. For whatever reason, it's not making it into the React component's state for viewing the goal. I tried passing the ID in as a pa

[2021-04-30 08:55] mtfoley commented on #932
For what it's worth @cemeiq, I think one alternate phrase for this button could be something to the effect of "Goal Completed"..

[2021-04-30 10:14] 0-vortex commented on #957
Not sure that is truly the reason the solution worked for you. Ran the project on a clean install MacOS and I had to follow the instructions specified here: https://facebook.github.io/watchman/docs/install.html - instead of homebrew used pkgsrc tho.

I think adding a link to the facebook docs in the readme is a great idea but don't go too much into detail since it's a separate specific binary !

[2021-04-30 10:26] 0-vortex commented on #932
We could get rid of "repository" as we are only really able to add "repositories" to open sauced and delete does sound weird. It's really removing the project from the open sauced dashboard - might make sense to say just that ?

[2021-04-30 10:28] mtfoley commented on #957
Shoot you’re right, I forgot that it was a homebrew install. I’m on a 2012 MacBook Pro and all I know is installing it made it so the test suite would run on my machine :-) will try a quick PR to the readme.

[2021-04-30 11:31] mtfoley commented on #957
Submitted PR #958

[2021-04-30 21:56] todo[bot] opened #960 "Move this entire file to an npm package"
https://github.com/open-sauced/open-sauced/blob/fa9d85f82cbf5195217d9b12cc63189c409ce3e4/src/lib/persistedGraphQL.js#L16-L19

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in fa9d85f82cbf5195217d9b12cc63189c409ce3e4 when #959 was merged. cc @open-sauced.

[2021-04-30 21:56] todo[bot] opened #961 "Move this entire file to an npm package"
https://github.com/open-sauced/open-sauced/blob/ffde55361397c84f374199e22d78b9a66c941398/src/lib/persistedGraphQL.js#L16-L19

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ffde55361397c84f374199e22d78b9a66c941398. It&#x27;s been assigned to @bdougie because they committed the code.

[2021-04-30 21:57] bdougie commented on #456
you can now use the `persistedIssuesByLabelFetch` query.

[2021-04-30 21:59] #960 closed

[2021-04-30 22:14] notBdougie opened #962 "Bug: Open installation URL is 404"
### Describe the bug

Looks like the url change last week.... :shrug-emoji:

### To Reproduce

### Expected behavior

### Screenshots

![Screen Shot 2021-04-30 at 3 13 52 PM](https://user-images.githubusercontent.com/20134767/116759275-f0f01880-a9df-11eb-8633-ab0f9b38a4e9.png)

### Desktop

- OS:
- Browser:
- Version:

### Smartphone

- Device:
- OS:
- Browser:
- Version:

### Additional context

[2021-04-30 22:30] notBdougie commented on #962
Turns out this is only a new open-sauced-develop things

[2021-04-30 22:30] #962 closed

[2021-05-01 00:02] 0-vortex commented on #950
.take

[2021-05-01 00:14] bdougie commented on #950
This would be awesome. Perhaps @sgrove has some pointers on how this be approached.

[2021-05-01 13:48] mtfoley commented on #456
.take

[2021-05-01 15:10] mtfoley commented on #932
.take

[2021-05-01 16:07] #932 closed

[2021-05-01 16:36] sgrove commented on #950
Depending on how easy you want it to be, you could possibly use https://github.com/OneGraph/graphiql-with-extensions - just a <script> tag on a route!

[2021-05-01 16:40] 0-vortex commented on #950
I'm willing to tackle on any level of complexity as long as the end solution "just works" for new contributors :D What do you think ?

[2021-05-01 17:28] sgrove commented on #950
Oh, either one should "just work", but it can be nice to have everything self-contained for e.g. styling and whatnot.

You should be able to add in the npm dips for graphiql (not >= 2.0!) and graphiql-explorer, then copy/paste most of https://github.com/OneGraph/graphiql-explorer-example/blob/master/src/App.js to get started quickly.

[2021-05-01 17:30] 0-vortex commented on #950
Awesome, thanks a lot, checking it out now !

[2021-05-01 18:29] mtfoley opened #971 "Bug: next/prev buttons don’t work for repo issues"
### Describe the bug

### To Reproduce

1. Open a goal from the dashboard.
2. Note the issues list for the repo, click “Next”

### Expected behavior
Page would load next group of issues
### Screenshots
![71CE6312-F256-4A12-A63C-7F6B507BC613](https://user-images.githubusercontent.com/3792749/116791589-64019980-aa89-11eb-908b-f9f4713f9d3d.png)

[2021-05-01 18:33] mtfoley commented on #971
and of course i can't test the previous button ;-P

[2021-05-02 03:04] #953 closed

[2021-05-02 12:35] farisaziz12 opened #974 "Bug: Can add the same repository multiple times"
### Describe the bug

On the dashboard page where you can add all the repositories you want to track you can add the same repository as many times as you would like. This will create several duplicate issues in the associated `open-sauced-goals` repository. I am unsure if this functionality is intended but it seems redundant to be able to track the same repository many times.

### To Reproduce

1.