[2021-05-02 14:00] jasonericdavis commented on #971
This appears to be related to the graphql scope issue.

### Working:
If you open a repository owned by the open-sauced organization and click the next button (currently only the open-sauced repository has enough issues to enable the next button) the next issues load appropriately.

### Not Working:
If you open a repository that is not owned by the open-sauced organization and click the next button

[2021-05-02 15:18] mtfoley commented on #971
Thx for getting this triaged. I’d have to double check but I believe the initial load uses a persisted query while the next/prev use the regular api (which have lesser scope).

[2021-05-02 15:37] jasonericdavis commented on #971
It looks like the next/prev are also tied to persisted queries based on the  code from [here](https://github.com/open-sauced/open-sauced/blob/5c7048c4a345c676c4063bcf6b95593dd4c5ed9e/src/components/Issues.js#L38) and  [here](https://github.com/open-sauced/open-sauced/blob/5c7048c4a345c676c4063bcf6b95593dd4c5ed9e/src/lib/apiGraphQL.js#L576)

[2021-05-02 16:01] #974 closed

[2021-05-02 16:07] bdougie commented on #971
Yeah,  I think you narrowed this down @jasonericdavis. The cursor needs to be added to the persisted query and the next and previous issue logic needs to be replaced with persisted implementations.

This persisted queries logic, needs some better documentation and I hope to move it to an npm package for that reason. #96

Also thinking out loud, but I have been considering makings a docs file to he

[2021-05-02 16:37] mtfoley commented on #971
@bdougie Awesome! Could you also implement next/prev versions of the filtered query for #969 and I could adjust code to make the switch?

[2021-05-02 17:11] bdougie opened #976 "Feature: Create One Graph Documentation (Include Persisted Queries)"
### Is your feature request related to a problem? Please describe.

Up until now, I have been the only one interacting with Persisted queries. This is a blocker in shipping to features for contributors.

### Describe the solution you'd like

- [x] Create docs folder to document the process for contributing
- [ ] Look into automation to update persisted queries (consider security)
- [ ] #1154

###

[2021-05-02 17:13] bdougie commented on #971
@jasonericdavis or @mtfoley if you have a moment today, can you take a look at this PR that solves this. It was thrown together quickly.

#977

I also opened #976 as a response to some of the things @mtfoley has run into.

[2021-05-02 17:34] jasonericdavis commented on #971
@bdougie I can take a look later this afternoon

[2021-05-02 18:47] #971 closed

[2021-05-03 12:57] #865 closed

[2021-05-04 06:07] theshakeabhi commented on #952
Hi, I would like to take this issue and work on it as I am new to open source.
Before '.take' I thought I would ask here if I can take up this issue and work on it.
Can we discuss what all are the unused stories and what all to be updated?

[2021-05-04 17:51] diminutivesloop opened #979 "Bug: Obscure error when trying to set up CodeTriage for unavailable repo"
### Describe the bug

When trying to set up CodeTriage for a repo that hasn’t been added to CodeTriage an obscure error is presented to the user.

### To Reproduce

1. Add a repo to OpenSauced that hasn’t been added to CodeTriage.
2. In the details page for that repo click “Set up CodeTriage”
3. A new tab is opened with the error message “Not found. Authentication passthru.”

### Expected behavior

[2021-05-04 21:29] bdougie commented on #979
Hey, @diminutivesloop I got to work with https://github.com/finitesingularity/tau, curious if you can share screenshots or the error message.

![Screen Shot 2021-05-04 at 2 08 58 PM](https://user-images.githubusercontent.com/5713670/117072257-079ab600-ace5-11eb-96bf-dc694a21e911.png)

[2021-05-04 21:41] bdougie commented on #979
Oh wait was this because you were not logged into Code Triage?

[2021-05-05 15:21] #833 closed

[2021-05-05 15:21] #955 closed

[2021-05-06 12:46] divakar54 commented on #951
Hello I am new to open source and would like to start contributing. Can you explain the idea of duplicate attributes?

[2021-05-07 22:22] #456 closed

[2021-05-07 22:26] bdougie opened #983 "Feature: remove standard version and release-drafter in place of just semantic-version"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-05-08 18:59] diminutivesloop opened #986 "Bug: Remove From Dashboard button doesn’t work"
### Describe the bug

Remove From Dashboard button doesn’t work.

### To Reproduce

1. Go to the individual details page for a repo.
2. Click the "Remove From Dashboard” button and click “Confirm” in the dialog.
3. The dashboard page still shows the repo and no action is triggered in the open-sauced-goals repo.

I inspected at the GraphQL queries sent by the browser, and while I couldn’t quite tel

[2021-05-08 19:04] diminutivesloop opened #987 "Feature: usage guide"
### Is your feature request related to a problem? Please describe.
After creating an account and adding some repos I’m not quite sure how I’m “supposed” to use this tool, or what value it provides over just bookmarking the repos I want to contribute to.

### Describe the solution you'd like
Create a brief usage guide that’s readily accessible from within the ui.

[2021-05-08 19:14] diminutivesloop opened #988 "Feature: suggest when adding repos"
### Is your feature request related to a problem? Please describe.

When I want to add a repo I either forget the exact name or don’t remember the owner so I have to look it up first.

### Describe the solution you'd like

When typing in to the owner/repo field possible matches should be suggested. Ideally matching would be against either the owner or repo name in addition to the full owner/repo.

[2021-05-08 20:28] filiptronicek commented on #986
Thanks for reporting this issue, @diminutivesloop! This looks like a lack of permissions from the Onegraph instance. @bdougie, could you please look into the permissions of the Onegraph installation?

I should add that I was able to reproduce this in the same way that you did.

[2021-05-11 22:30] bdougie commented on #987
This is a great idea. I created a video to kick start this and hopefully create a guide.opensauced.pizza. If you don't mind I will will use this repo for planning.

[2021-05-11 23:29] bdougie opened #991 "Bug: Stars are mis-aligned on the repo list dashboard"
### Describe the bug

### To Reproduce

1. go to  the dashboard
1. add any repository
1. view the added repo and note the misaligned star

### Expected behavior

Star should align horizontally.

### Screenshots

![Screen Shot 2021-05-11 at 4 24 23 PM](https://user-images.githubusercontent.com/5713670/117896504-8eb3d500-b275-11eb-9d3e-8873c665c7e1.png)

### Additional context

https://clips.twitch.

[2021-05-11 23:57] MarkoShiva opened #992 "Feature: Font change FiraCode?"
### Is your feature request related to a problem? Please describe.
On stream Brian suggested to change whole site fonts to single font.

### Describe the solution you'd like
Change font to the Fira Code. :)

### Describe alternatives you've considered
Change font to the Consolas. :)

### Additional context
This issue is out of context so it can be removed if not needed.

[2021-05-12 08:51] filiptronicek commented on #992
I love Fira Code, it looks awesome as a Terminal font, never used it as a web font though...
The thing I like the most about it are ligatures, just look at that `!==`!
![image](https://user-images.githubusercontent.com/29888641/117946814-ebfc6480-b30f-11eb-8802-7080beb523d9.png)

[2021-05-14 15:30] #991 closed

[2021-05-14 20:04] bdougie commented on #992
I am loving this. I think there will need to be different weights for the homepage and perhaps the page titles on the dashboard.

![Screen Shot 2021-05-14 at 1 02 16 PM](https://user-images.githubusercontent.com/5713670/118322888-ae850c00-b4b4-11eb-8f0e-409c7ecf10b4.png)

[2021-05-16 13:15] 0-vortex commented on #988
Don't think there is any functionality outside of histograms that the gql can't give us. Having the functionality to search fuzzy search, the complexity seems to be in the user experience and look ahead itself. What are some best practices for fuzzy searching could be a better topic of discussion than a separate system but it feels like it needs some base case first !
BTW, found some boring non-js

[2021-05-16 13:16] #951 closed

[2021-05-16 13:23] 0-vortex commented on #952
@theshakeabhi didn't mean to ignore, what you are asking is the task of this issue - storybook is being passively maintained, the effort of planning or triaging what could be done there exceeds the planned solution scope.

[2021-05-16 13:37] 0-vortex commented on #858
I can tackle this one but I can't find Eddie's example. Any specifics or it's a "just works" example ? :D

[2021-05-16 13:40] 0-vortex commented on #992
Having some issues in development, any chance we can pre-load the fonts with npm and add them to the build process ? Saw there are multiple frameworks leveraging google fonts, wonder if there is a consensus on best practices there.

IMO we could totally use 2 fonts, one for text and one for headings, but I would keep fira out of headings or switch to a condensed version (repo names can be really l

[2021-05-16 13:40] theshakeabhi commented on #952
Hi @0-vortex , I saw a 'first good bug' label and I jumped on this issue, as I read your comment I understood that I need to get bit more used to the environment of the project so that I could work on this issue.
I am unassigning myself from this issue for now, so that if there is another person who wants to take this bug up can do that.
Thank you for taking your time and letting me know.

[2021-05-16 13:41] 0-vortex commented on #983
this issue needs better docs :P

[2021-05-16 14:08] mtfoley commented on #769
@bdougie FWIW, I think this might take some updates to React.
Here's what I've figured out so far:
- You get social editor in a [different spot now](https://www.npmjs.com/package/@remirror/react-social), and it'd be for React 17.
- The current project uses React 17.0.0-rc0, which apparently Enzyme Adapter for React 16 is still cool with. If you update to React 17.0.0 or beyond, the Enzyme adapter

[2021-05-16 15:53] 0-vortex commented on #769
went ahead with that for OG: https://github.com/open-sauced/open-sauced/pull/1005

[2021-05-16 17:12] mtfoley commented on #769
@0-vortex good thing I didn’t work on it long!

[2021-05-16 18:56] filiptronicek commented on #858
I'm not really confident the Action @bdougie mentioned is an official Google Chrome Labs one, but the one he is referring to is https://github.com/foo-software/lighthouse-check-action, as you can take a look for yourself at https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/blob/6e84ef501c05636ecc7d5f640c7a13a1edbd4628/.github/workflows/lighthouse-check.yml

[2021-05-17 15:27] tigpt opened #1006 "Bug: Black Page on load aka Orange Screen of Death"
### Describe the bug

Sometimes when you are navigating or refreshing the page loads with no content.

### To Reproduce

Didn't isolated the pattern yet, but its easy to reproduce while you navigate / refresh a page.

### Expected behavior

Page should load with content.

### Screenshots

<img width="2160" alt="image" src="https://user-images.githubusercontent.com/43767/118514030-1d1fcf00-b72c-11e

[2021-05-17 15:48] filiptronicek commented on #1006
Thanks for reporting this issue, @tigpt, are there any logs of the console you could share with us (errors, warnings, etc.)?

[2021-05-17 16:20] tigpt commented on #1006
Yes there are, it looks like `TypeError: null is not an object (evaluating 'n.login')` is the problem.
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/43767/118521454-f749f880-b732-11eb-85be-6e8575be831f.png">

[2021-05-18 02:47] mtfoley commented on #769
@0-vortex I got curious about the checks in that OG #1005 you had worked on.  I guess the maintainers recently started using `npm ci` instead of `npm install` in the [workflows](https://github.com/open-sauced/open-sauced/pull/942/files) and it's having issues with the package-lock.json. I tried running it on my machine and got the same error. Here's the error log output:
[code]

and while i'm digg

[2021-05-18 09:40] 0-vortex commented on #769
All `npm ci` does nowadays is the equivalent of removing node_modules and doing a lock file re-install - in the current state of the project, having no fixed lock file (the project is set up as npm module - BAD), the only way is to do a "clean" install, and by that I mean clone the project and install with node14/npm7 that should not modify the `package-lock.json` - however if you don't do that yo

[2021-05-18 21:23] bdougie opened #1007 "Bug: Sanitize URL for the repo form"
### Describe the bug

https://github.com/open-sauced/open-sauced/blob/d7f554e68064e4079e39b7e01ce1d5a6ce130517/src/lib/util.js#L40-L40

This code allows `github.com` URLs but it could be anywhere. To make this secure, we should probably switch to regex.

[CodeQL](https://securitylab.github.com/tools/codeql/) also alerted us of this.
### To Reproduce

1. Head to opensauced.pizza and log in.
2. Add

[2021-05-19 06:35] filiptronicek commented on #1007
Good catch, @bdougie, I think the easier and more JS-native way to do this would be to create a URL object and access its `hostname` property, just like this:
[code]
and for a URL containing github.com
[code]

I can look further into this.

[2021-05-19 12:20] bdougie commented on #983
Addressed in #1009. Closing for now.

[2021-05-19 12:23] bdougie commented on #1006
My best guess is that it is related to how the logged user's JWT is store in local storage.

Reproduction steps:

1. Navigate to a repos page. i.e. https://opensauced.pizza/repos/open-sauced/open-sauced/undefined/
2. Refresh twice consecutively without letting the first refresh complete.

[2021-05-19 12:26] bdougie commented on #1007
That looks like a good approach. This function also has tests, so it will be pretty straightforward to implement and confirm.

[2021-05-19 12:29] #773 closed

[2021-05-19 12:30] #612 closed

[2021-05-19 12:31] bdougie commented on #454
closing, for now, to focus on the recommendations over contribution enhancements.

[2021-05-19 12:31] #454 closed

[2021-05-19 12:32] bdougie commented on #453
Focusing on #344. Removing contribution focused features

[2021-05-19 12:32] #453 closed

[2021-05-19 16:56] mtfoley commented on #769
@0-vortex @bdougie continuing this over on PR #1005 .

[2021-05-19 19:03] mtfoley commented on #1007
I'll bite.
.take

[2021-05-19 19:43] 0-vortex commented on #949
@bdougie shadow fixed this recently ? :D

[2021-05-20 02:55] mtfoley opened #1014 "Bug: More than 10 Goals makes malformed URLs"
### Describe the bug
If someone has more than 10 items in their goals list, any goals beyond the 10th one in the list will have "undefined" in the part of the URL where the issue number should be.  I haven't tracked down exactly how this happens, but I think that the initial state from the goals list uses [SWR](https://swr.vercel.app/) and comes up with greater than 10 line items, while some of th

[2021-05-20 02:56] mtfoley commented on #1007
@filiptronicek please have a look, sir.

[2021-05-20 15:18] mtfoley commented on #1014
I just noticed that same GQL is tapping the 'data.json' file also, and I'm assuming this is in order to cover the stars and other metadata about the repo since the open-sauced-goals issues list doesn't have a way to track that data. So I think the app populates the goals list with that data.json and then updates with the issue number/ID/etc off of open-sauced-goals. I've got a branch parked in my

[2021-05-20 19:34] 0-vortex commented on #1014
Think @bdougie has some additional context for this, pinging him just to be sure

[2021-05-21 16:07] bdougie commented on #1014
Confirmed that this is happening for me as well. Thanks for reporting I can take a closer look later today.

[2021-05-21 16:12] #1007 closed

[2021-05-24 16:33] mtfoley commented on #1014
.take

[2021-05-24 16:36] mtfoley commented on #1014
@bdougie in case you'd like to go this way, I put up PR #1015 .

[2021-05-24 16:57] #1014 closed

[2021-05-25 01:38] mtfoley commented on #948
.take

[2021-05-25 01:48] mtfoley commented on #948
I think I can do a PR that half-solves what's in the clips that @0-vortex linked up.  The redirect is probably something @bdougie would need to do, if anyone.  I don't know exactly how the open-sauced GitHub app is setup, but it looks like it's been configured through OneGraph because below the install button it says the user will be redirected to `http://serve.onegraph.com/oauth/github/receive` w

[2021-05-25 02:11] mtfoley commented on #864
This behavior *sort of* changed with PR #980 , in that the router currently doesn't resolve URLs that only include repo owner/name.  There's conceivably an opportunity here to provide a route that doesn't include the goal (issue) number and that would either a) show a page that's more like what's being described here, or b) figure out that the goals cache has said repo listed and redirect to the p

[2021-05-25 02:21] mtfoley commented on #1006
This may be relevant, but as I look at the codebase (src/index.js and src/components/Nav.js), the only variables that `localStorage.setItem()` or `localStorage.removeItem()` are used with are `isLoggedIn` (boolean I think), `oneGraph:<Config.appId>` (only seeing this removed, but not set), and `adminBar`, which I think is the bar at the top that only org members  see.  @bdougie Should there also b

[2021-05-25 03:10] mtfoley commented on #832
@bdougie the React stuff is still a bit out of my depth, but I think there's some issue with `goalsReducer` that deals with this. Adding `console.log` all up and down the chain in `src/components/RepositoryGoals.js`, I suspect there's an issue somewhere in all the callbacks and calls to [dispatch](https://github.com/open-sauced/open-sauced/blob/main/src/components/RepositoryGoals.js#L47), because

[2021-05-25 21:06] bdougie commented on #992
I think FiraCode may not be the ideal font family for this. Instead, we may want to looking for a better typeface for the landing page and start there.

[2021-05-25 21:12] #992 closed

[2021-05-27 20:26] mtfoley commented on #948
I unassigned myself since the remainder of this issue (the redirect) would deal with configuration of the open-sauced GitHub app (which would be @bdougie).

[2021-05-27 20:59] mtfoley commented on #1006
I’m not quite to the point of taking the issue but I feel this has as much to do with react error boundaries as anything else.

[2021-05-30 02:33] mtfoley opened #1021 "Bug: Seems like the contributions list and notes reflect bdougie's account"
### Describe the bug
When I pull up the site in production and go to one of my goal repos, contributions (issues) by bdougie show up instead of ones I've made. Similar thing for notes.

### To Reproduce
Someone besides bdougie pull up a goal for a repo you've both done contributions (and/or) notes for. I used FiniteSingularity/tau.

### Expected behavior
My issues / PRs would show up under Contrib

[2021-05-30 11:05] mtfoley commented on #607
.take

[2021-06-01 13:53] mtfoley commented on #607
@bdougie @filiptronicek @0-vortex I've got a draft PR for this.

[2021-06-04 20:37] tigpt opened #1031 "Feature: menu/other UI from header avatar with username"
On top bar, when hovering over the avatar it should show the username as text visible to see what username we have logged in.

[2021-06-04 20:41] bdougie commented on #1021
Oooops. Looks like it embeds my token. I should fix that.

[2021-06-04 20:49] filiptronicek commented on #1031
Awesome idea @tigpt, are you imagining just a simple popover like the native [HTML title](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/title) or a fancier one?

![image](https://user-images.githubusercontent.com/29888641/120861021-eef11a80-c586-11eb-9440-695881326369.png)

[2021-06-04 20:55] tigpt commented on #1031
Actually it was Brian idea on twitch and I just logged it here so we don't forget :)

That looks nice for first implementation and then we can add some css. Are we using any css framework on this project that we can reuse the tool tips?

[2021-06-05 04:22] 0-vortex commented on #1021
After a lot of reading on both viewer and repository collections and their limitations I figured the simplest way around it would be to use the `involves` feature of the dynamic search endpoints and tested this in the onegraph playground as @bdougie instructed.

So far what I can tell is that this:
- doesn't need any scope changes
- can be run for any user with the existing app token and/or oauth

[2021-06-05 09:08] bdougie commented on #1021
This looks great, also a great use of fragments as well. I need to update to include some details that the src/components/IssueListItem.js is looking for, but it mostly works.

[2021-06-05 10:51] filiptronicek commented on #1031
@tigpt I don't think we are using any framework for the styles, every design is ours.

[2021-06-05 13:39] mtfoley commented on #1021
Having trouble reproducing this now but I had also thought a

[2021-06-09 23:28] chadstewart commented on #952
Hello everyone.

So I pulled the repo down and was looking through the code and storybook (I'm pretty new to it and design systems) and I wanted to ask. Would everything from the components folder of the app need to be added to storybook and how would you make decisions on what variations of UI elements to add? For instance, when would you add different types of buttons or container elements?

[2021-06-10 02:07] #607 closed

[2021-06-10 16:06] bdougie commented on #952
TBH, just looking for forward progress here. My expectation would be to have the Cards and Buttons represented in all their forms. They are the most used in the app and will need references.

## The Goal
Today there are 21 components in the components folder, those 21 should at minimum get representation in the storybook. Each minute detail or primitive could be represented as well, but I would no

[2021-06-11 21:12] bdougie commented on #1006
I saw a tweet from Dan Abramov, this is Suspense acting up.
https://twitter.com/dan_abramov/status/1402935426596364292

going to keep an eye on this discussion here. https://github.com/reactwg/react-18/discussions/37

[2021-06-11 21:26] bdougie commented on #1031
Looks like we get names when hovering over contributors in the repository dahsboard.

![Screen Shot 2021-06-11 at 2 25 36 PM](https://user-images.githubusercontent.com/5713670/121750282-f18ccc00-cac0-11eb-81f5-babd370c6d5d.png)

[2021-06-11 22:58] chadstewart commented on #952
So while working on the storybook issue, I realize that was is in production right now and what is in the main branch may not be the same code. I noticed because the production code has the dark mode feature while the code in the repo does not. Just wanted to bring attention to this in case it was some form of oversight.

[2021-06-12 11:50] mtfoley commented on #952
@chadstewart for what it’s worth it does look like your fork is up to date with main, since this file was introduced for dark mode: [ThemeContext](https://github.com/chadstewart/open-sauced/blob/main/src/ThemeContext.js). Two follow up questions I would have: 1) does it make a difference if you clear the cache in the browser dealing with your local testing? I’ve seen this make a difference before.

[2021-06-12 15:27] chadstewart commented on #952
So I just re-ran the project again and the theme buttons showed up. Spent a while scouring through the project looking for references to the buttons because I couldn't find them anywhere in here. I dunno, maybe I'm just crazy or something. Either way, I found what I needed. Thanks much and sorry about that.

[2021-06-12 15:34] bdougie commented on #952
Glad you figured it out, though quick heads up. The console has the version number. That is the quickest way to confirm you are looking at the latest.

![Screen Shot 2021-06-12 at 8 33 46 AM](https://user-images.githubusercontent.com/5713670/121781308-f3a26980-cb58-11eb-966c-56dd28bfa4bd.png)

[2021-06-12 16:15] chadstewart commented on #952
Ahh okay, completely forgot about that. I think I just forgot to update the project honestly. I'll definitely keep this in mind moving forward. Thanks much!

[2021-06-13 20:32] mtfoley opened #1035 "Feature: Documentation for Dark Mode"
### Is your feature request related to a problem? Please describe.
As discussed on streams, it would be good to document the implementation of the new dark mode feature.

### Describe the solution you'd like
Add file to `./docs`

### Additional context

Refer to  PR #1020.

[2021-06-13 20:32] mtfoley commented on #1035
.take

[2021-06-14 17:57] chadstewart commented on #952
So I updated Storybook with all the UI elements I came across in the project. I wanted to ask how do I get someone to review my work? Should I just create a pull request and let people review it there or should I link someone to my repo and have them pull the branch from my forked repo?

This is the branch in my repo in question by the way: https://github.com/chadstewart/open-sauced/tree/updating-

[2021-06-14 18:02] 0-vortex commented on #952
Check out the contribution docs over at: https://github.com/open-sauced/open-sauced#-contributing - to answer your question directly, yes, you should open a PR, if you are not sure you can keep it as a draft and ask for additional assistance (there is a checkbox in the PR template specifically for your use case) - say you need someone else to give it a spin and as soon as someone is able to, they

[2021-06-14 18:11] chadstewart commented on #952
Ahh okay, no problem. Thanks for the quick reply! Will do so in a bit.

[2021-06-15 21:25] #1035 closed

[2021-06-15 23:32] 0-vortex opened #1040 "Bug: latest update dependency resolution was incomplete"
### Describe the bug

lastest update dependency resolution was incomplete, updating to `onegraph-apollo-client@3.1.2` with the audit issues we ended up reverting that to `2.2.2` and build resolution broke.

### To Reproduce

[code]

### Expected behavior

It should work.

### Screenshots

[It doesn't](https://app.netlify.com/sites/open-sauced/deploys/60c92eb202b23c41c03fe526).

### Desktop

- OS:

[2021-06-16 11:57] 0-vortex commented on #976
does this include docz or should open that as new proposal ?

[2021-06-16 11:57] 0-vortex commented on #867
have some codespaces experience now, can tackle this if it is still an issue

[2021-06-16 12:04] 0-vortex opened #1042 "Bug: User is not logged in breaks CSS"
### Describe the bug

Not being logged in with GitHub some of the fonts on the mai page are breaking and defaulting to "Times"

### To Reproduce

1. Open a private window
2. Visit https://opensauced.pizza

### Expected behavior

Everything should be perfect, especially FONTS 🗡️

### Screenshots

<img width="1341" alt="Screenshot 2021-06-16 at 13 59 27" src="https://user-images.githubusercontent.co

[2021-06-16 12:19] 0-vortex opened #1043 "Feature: Improve issue request template"
### Is your feature request related to a problem? Please describe.

Multitude of devices makes device type (platform, processor, etc) makes the issue template somewhat a chore to fill in correctly, potentially diminishing the importance or scope of the issue.

It would be nice if we could get some helper functions or a page that we can use to "generate" an issue report, particularly the device inf

[2021-06-16 14:23] filiptronicek commented on #1042
Looks like this is because of the `Arvo` font, for some reason, it looks like it doesn't load properly. Here is the font on Google Fonts: https://fonts.google.com/specimen/Arvo?query=arvo

[2021-06-16 16:30] 0-vortex commented on #1042
sounds like an easy fix, should I add this as a goot first issue ?

[2021-06-16 16:36] 0-vortex commented on #1021
Not sure this is needed but if you have a Mac nearby you can even inspect:
- https://www.browserstack.com/guide/how-to-debug-on-iphone
- https://appletoolbox.com/use-web-inspector-debug-mobile-safari/

[2021-06-16 21:09] 0-vortex commented on #1031
On the top right bar, that's where a user menu style popunder is generally used - currently, the real problem is no hover over the button indicating clicking it will redirect the user to your GitHub profile page, making the action unpredictable unless memoized.

While this is not ideal UX, IMO we could use a clickable popunder in order to:
- disable the ability to teleport to GitHub without reques

[2021-06-16 21:23] 0-vortex opened #1044 "Bug: Fix dashboard column spacing"
### Describe the bug

Dashboard is next to repository recommendations.

### To Reproduce

1. Log in

### Expected behavior

The spacing between the dashboard card and the repository recommendations should be similar to the spacing between dashboard and the add repository box.

### Screenshots

<img width="1303" alt="Screenshot 2021-06-16 at 23 22 42" src="https://user-images.githubusercontent.com/

[2021-06-16 21:46] 0-vortex opened #1045 "Bug: Fix dark mode dashboard hover"
### Describe the bug

Hovering over a repository in the dashboard gives a user a surprise sunburn.

### To Reproduce

1. Log in
2. Hover over a repository you previously added

### Expected behavior

You should be able to read the box content.

### Screenshots

<img width="1341" alt="Screenshot 2021-06-16 at 23 29 57" src="https://user-images.githubusercontent.com/237133/122298252-cd841d00-cefc-11

[2021-06-16 22:00] 0-vortex opened #1046 "Bug: Fix dashboard search bar overlap mobile"
### Describe the bug

The search bar overlaps with the sort panel function.

### To Reproduce

1. Log in
2. Scroll down to the add repository box

### Expected behavior

The 2 sections should switch to block level elements and not overlap each other.

### Screenshots

![image](https://user-images.githubusercontent.com/237133/122299829-c958ff00-cefe-11eb-9807-7ff6d342b309.png)

### Smartphone

- De

[2021-06-16 22:42] 0-vortex opened #1047 "Feature: Make issue labels more predictable and accessible"
### Is your feature request related to a problem? Please describe.

The issue labels a normal user can use should be inclined to use when opening a new issue are in a list of multi-purpose labels, some used for automated features. Similarly, a new user having difficulties onboarding could check the history to learn by example, something which at the moment can lead to mixed results.

### Describe

[2021-06-16 23:04] 0-vortex commented on #950
Playing around with [Apollo Studio](https://www.apollographql.com/docs/tutorial/production/) right now, will get back with feedback

[2021-06-17 02:13] mtfoley commented on #1021
Same behavior on my trusty dusty 2012 macbook pro at home 🐌
Contribution section looks fixed to me.  For a future iteration, there are probably options to render issues/PRs in different ways as right now they just have issue icons and comment icons. Here's a screenshot of when `console.table` the result set populating the contributions list.

![Screen Shot 2021-06-16 at 9 58 54 PM](https://user-im

[2021-06-17 02:28] mtfoley opened #1048 "Bug: Dark Mode Theme Button Shows Wrong in Safari"
### Describe the bug
The theme button that overrides user's system preference to active dark mode (it's a moon icon) doesn't have the rotation right in Safari. From what I've read briefly, there is probably a fix by editing the SVG markup: https://stackoverflow.com/questions/48248512/svg-transform-rotate180-does-not-work-in-safari-11

### To Reproduce
1) Open opensauced.pizza in Safari for MacOS o

[2021-06-17 07:36] Daniel-Singer commented on #1048
Hi @mtfoley ! I would like to help if thats ok. Can´t promise anything, but sounds like a good challenge

[2021-06-17 10:40] mtfoley commented on #1048
Sounds great @Daniel-Singer - you should find some instructions about how to contribute in fixing issues in [contributing](./CONTRIBUTING.md)

[2021-06-17 11:33] filiptronicek commented on #1031
I love the idea, @0-vortex!

[2021-06-18 21:15] #1047 closed

[2021-06-18 21:23] bdougie commented on #1045
This is a quick fix, hopefully. https://github.com/open-sauced/open-sauced/blob/3af648e3f18d1b2b08ac76a35e482a41c4f19816/src/styles/List.js#L20-L23

Needs the style the Dark Theme applies: https://github.com/open-sauced/open-sauced/blob/main/docs/dark-mode.md

[2021-06-18 21:30] bdougie commented on #1044
.take

[2021-06-18 22:04] #1044 closed

[2021-06-18 22:05] #1043 closed

[2021-06-18 22:09] bdougie opened #1053 "Feature: storybook-dark-mode"
### Is your feature request related to a problem? Please describe.

https://storybook.js.org/addons/storybook-dark-mode

### Describe the solution you'd like

Include darkmode in the design.opensauced.pizza

### Describe alternatives you've considered

Thue plugin is the best path forward.

### Additional context

this will need to wait for #1037

[2021-06-18 23:01] bdougie opened #1055 "Feature: New Storybook Infrastructure"
### Is your feature request related to a problem? Please describe.

- setup repository_dispatch to receive the netlify deploy from a outgoing webhook
- take that webhook and print a comment with link to the PR
[code]

### Describe the solution you'd like

[code]
### Describe alternatives you've considered

### Additional context

[2021-06-18 23:39] mtfoley commented on #1045
Fix might actually be latent in [that same file](https://github.com/open-sauced/open-sauced/blob/3af648e3f18d1b2b08ac76a35e482a41c4f19816/src/styles/List.js#L83-87)

[2021-06-24 02:41] jason1985 commented on #1048
Hi @mtfoley.  I was just curious as to if it's possible to reproduce this bug without having access to Safari, iOS, or MacOS?  Is there a standard free emulator or something like that?
Thanks!

[2021-06-24 04:09] jason1985 commented on #1048
.take

[2021-06-24 05:21] Daniel-Singer commented on #1048
Hi! I tried to fix it but unfortunately my Safari installation is not able to open the site. All i know is that safari does not support transform: rotate on svg elements.

[2021-06-24 08:27] 0-vortex commented on #1048
I can help with this

[2021-06-24 11:31] mtfoley commented on #1048
@Daniel-Singer would you have any interest in looking at #1045? It would deal with CSS in styled-components and I think we've gotten as far as figuring out which file would need to be changed.

[2021-06-24 14:12] miralsuthar commented on #1046
I would like to contribute by resolving this issue.

[2021-06-24 14:31] mtfoley commented on #1046
@miralsuthar that sounds great! Please take a look at [contributing](https://github.com/open-sauced/open-sauced/blob/main/CONTRIBUTING.md) if you haven’t already, and this also talks about how to assign yourself to the issue. Let us know if you have any questions!

[2021-06-24 17:26] miralsuthar commented on #1046
I solved the issue of leveling the sort option.

can you please check out if it is solved your problem?

![image](https://user-images.githubusercontent.com/57826091/123306188-99cd7680-d53e-11eb-8560-fb708e7e049c.png)

[2021-06-24 17:37] miralsuthar commented on #1046
I think I have resolved issue #1046

Please review it

![image](https://user-images.githubusercontent.com/57826091/123308143-ee71f100-d540-11eb-8281-192da0338bef.png)

[2021-06-25 01:14] mtfoley commented on #1046
@miralsuthar thanks for working on this - I can see that you've got a commit to the main branch on your fork. If there's a way for you to put the changes on a new branch named like it's described in the contributing guide I linked to, you can  then create a pull request and we can go from there. Let us know if you have questions on this.

[2021-06-25 04:56] miralsuthar commented on #1046
I have created the pull request. Can you check it out?

[2021-06-25 05:37] bdougie commented on #1048
@jason1985 has opened a PR for this. @Daniel-Singer feel free to poke about the [good first issues](https://github.com/open-sauced/open-sauced/contribute) for another

[2021-06-25 05:37] #1048 closed

[2021-06-27 13:30] mtfoley commented on #1045
.take

[2021-06-27 13:36] mtfoley commented on #1045
Fixed in #1060

[2021-06-27 15:39] #1045 closed

[2021-06-28 01:49] mtfoley commented on #1053
.take

[2021-06-28 04:57] #1046 closed

[2021-06-28 17:59] Daniel-Singer commented on #1048
I will , thank you,

[2021-06-29 01:32] mtfoley commented on #952
@bdougie i saw that PR #1037 got merged.  Are there outstanding pieces to close this one?

[2021-06-29 01:36] mtfoley commented on #950
@0-vortex played with a couple of labels here.

[2021-06-29 01:40] mtfoley commented on #948
@bdougie I changed a couple of labels, but tbh I don't know what label to apply when it's really just you that can wrap it up - the remainder deals with configuration of the open-sauced GitHub app for callback URLs, etc.

[2021-06-30 01:56] mtfoley commented on #769
.take , might unassign myself later...

[2021-06-30 08:08] 0-vortex commented on #1040
This has been re-introduced in 0.21.8 as part of a cached resolution on a manual `lockfileVersion` update. As far as I can tell, a stall branch removed the `apollo-boost` missing deps and then the CI replaced `lockfileVersion=2` - the install was cached and got all the libs, however installing the project locally on a clean machine (no npm cache/first install) re-creates that resolution on each ma

[2021-06-30 10:31] 0-vortex opened #1065 "Bug: figure out a way to clean up missing projects from the dashboard"
### Describe the bug

Assuming you added a repository to the dashboard that changes remote or becomes private, clicking on it will throw a red error message in between the header and the boxed content saying it cannot find the specified repository, however the user is not presented with a way to remove the faulty project.

We need to figure out a way to remove that repository from the dashboard, p

[2021-07-01 07:11] bdougie opened #1072 "Learn With Jason 7/1/2021"
Today I will be live with @jlengstorf to talk about [making actions work on PRs](https://www.learnwithjason.dev/github-actions-with-forked-prs).

We will cover

- Demystify the GITHUB_TOKEN by adding [actions/labeler](https://github.com/actions/labeler) PR (when PR is titled) - [docs](https://docs.github.com/en/actions/reference/authentication-in-a-workflow)
- [Workflow Permissions discussion](htt

[2021-07-01 17:08] jlengstorf commented on #1072
.take

[2021-07-01 17:14] ajaysolleti commented on #1072
hi @jlengstorf

[2021-07-01 23:53] Liberontissauri commented on #1042
.take

[2021-07-02 00:48] 0-vortex opened #1076 "Feature: Disable dependabot for development depedencies and major upgrades"
### Is your feature request related to a problem? Please describe.

Pull request spam is horrible, especially when triage team can't really accept those pulls.

Technically we should take all non-breaking changes on production, as our workflows are handling it.

### Describe the solution you'd like

Get @bdougie to remove the checks for `devDependencies` and maybe fine tune production or accept me

[2021-07-02 02:19] mtfoley opened #1077 "Feature: have .take workflow include comment"
### Is your feature request related to a problem? Please describe.

Possible improvements to self-assign workflow

### Describe the solution you'd like

https://clips.twitch.tv/CourageousTallWeaselSeemsGood-g36zdLMfFZJRTvXM

### Describe alternatives you've considered
N/A

### Additional context

[2021-07-02 21:59] 0-vortex commented on #1076
@filiptronicek @bdougie check this out pls

[2021-07-03 12:28] #1042 closed

[2021-07-03 16:11] #1040 closed

[2021-07-03 22:09] filiptronicek commented on #1065
I think we maybe could just close the issue if the error returns a 404 and add a popup/error toast on the homepage.

[2021-07-03 22:11] 0-vortex commented on #1065
Adding a toast on the homepage I feel is worse, you then want to clean it up and can't :D

[2021-07-03 22:20] filiptronicek commented on #1065
I guess so, so maybe a popup? Like a Sweet Alert one? Just saying "this repo could no longer be indexed/fetched", are you sure you have given Open Sauced the right permissions or the repo wasn't removed?" or something like that.

[2021-07-03 22:33] 0-vortex commented on #1065
What about the times when the user has done nothing wrong to get to this flow ? I'm sorry but not seeing any argument for this not being a bug or a needed feature. Maybe a silly allegory, but if one decides some thing they own is trash, sooner or later they will throw it away - in open sauced, currently, we can only throw away things that are not trash :D

Was hoping we can focus discussion around

[2021-07-03 22:34] 0-vortex commented on #1077
sounds good !

[2021-07-03 22:54] filiptronicek commented on #1065
Your comment makes sense, I probably didn't think it through completely. We could first use a background check (I think we already have some sort of GitHub Action in the goals repo), that could also check for missing repos, and removing them and for the frontend add an error message if a user clicks on / goes to a repo, which is inaccessible.

[2021-07-03 23:08] 0-vortex commented on #1065
Thought we had an action to fix that, if we do and it's failing only for a specific use case we should investigate what happened - missing what happens when a public repo goes private or gets banned; for what it's worth the mentioned repository exists at [torvalds/linux](https://github.com/torvalds/linux), only thing I can definitely see is over 1 million commits :D

If you have any ideas how to e

[2021-07-04 09:43] filiptronicek commented on #1065
This leads me to wonder, what exactly it is about Linux that makes the query fail. The number of commits is notable, but AFAIK there is no point in which we fetch any of the commits (or do we?), but maybe it has something to do with the contributors because there's more than 5,000 contributors, and the REST API returns this:
[code]

[2021-07-04 09:51] 0-vortex commented on #1065
ah, that makes a lot of sense ! maybe for this use case it is important to not let the user add it, before we find a resolution

[2021-07-04 10:04] filiptronicek commented on #1065
I'd say maybe we don't have to limit ourselves that much, maybe just don't show any contributors when they aren't available? I think the rest of the fields should be available and for folks who want to add notes to such projects, I say we let 'em 😄 .

![image](https://user-images.githubusercontent.com/29888641/124380928-e859de00-dcbf-11eb-8991-e0c4b8cb1229.png)

[2021-07-04 10:06] 0-vortex commented on #1065
You mean making just that container return error while letting the user still remove the repo if he doesn't want it ? That would totally make the linux repo usable too !

[2021-07-04 10:09] filiptronicek commented on #1065
Yep, I think we can either hide it, or put some text in it (like "too many contributors", "5000+ contributors", "error loading contributors"). That would solve the issue hopefully. What do you think?

[2021-07-04 10:14] 0-vortex commented on #1065
100% on board with this - the actual fix would split the initial request into repo and contributions into a second request thus making the rest of the page available. Can't `.take` this since I am working on 2 other pulls right now :D
Should we update the issue description or just close it in favour of a better worded one?

[2021-07-04 10:16] 0-vortex commented on #1065
Guess we can improve the take workflow to check if the issue comment starts with it rather than anywhere in the text ? 🍕

[2021-07-04 10:19] filiptronicek commented on #1065
Yes, for sure we could improve the take workflow, this should not happen 😄

[2021-07-04 10:20] filiptronicek commented on #1065
I think this issue should be split into two: one about repos which no longer can be accessed by us, and the other one about repos with too many contributors.

[2021-07-04 10:31] 0-vortex commented on #1065
Agreed, you have the honour of opening the other issue :D

[2021-07-04 10:32] 0-vortex commented on #1077
Also clean up the regular expression for it so it doesn't assign by accident like #1065 🔥

[2021-07-04 11:26] mtfoley commented on #1065
Haven't had much opportunity to look at code for this but is it using a persisted query right now?

[2021-07-04 13:20] mtfoley commented on #1077
I've found it convenient once or twice to blend that keyword into a bigger comment.  If we need to update the action itself to change the regex, we'd need to do a PR to [take-action repo](https://github.com/bdougie/take-action/blob/main/action.yml#L19).

As for the comment, I'd been thinking of using some of what's [here](https://github.com/actions/github-script#comment-on-an-issue). can anyone th

[2021-07-04 13:22] mtfoley commented on #1077
LOL, I just assigned myself because my codeblock had it in the comments!

[2021-07-04 13:34] 0-vortex commented on #1077
welcome to the party!!!

[2021-07-04 14:03] filiptronicek commented on #1065
@0-vortex I think the problem with Linux has been reported by you back in April in https://github.com/open-sauced/open-sauced/issues/949

[2021-07-04 14:04] filiptronicek commented on #949
Quoting from https://github.com/open-sauced/open-sauced/issues/1065#issuecomment-873555619:

[code]

[2021-07-04 18:40] jason1985 commented on #986
I encountered the same problem and just noticed this issue.

![image](https://user-images.githubusercontent.com/10107412/124396021-7621e180-dd31-11eb-982b-0d0e0e4ebfe1.png)

After going to https://serve.onegraph.com/oauth/github/receive I received this error message:
"Could not find state for OAuth finish handler"

[2021-07-04 19:12] filiptronicek commented on #986
@jason1985, I believe this issue you are experiencing is not related to this issue (or maybe I'm just not seeing the connection), it looks like you are talking about the step in which one would install the GitHub app. If you went to the redirect URL just by typing it into the address bar, you would get an error due to the lack of any POST parameters, which are needed for the callback redirect. But

[2021-07-04 19:44] jason1985 commented on #986
I am experiencing the same issue of not being able to remove a repo.

![image](https://user-images.githubusercontent.com/10107412/124397051-a5d3e800-dd37-11eb-9651-22ee10dab3ee.png)
I also received the same "Resource not accessible by integration" error message.
After googling I came across this https://stackoverflow.com/questions/60234886/resource-not-accessible-by-integration-when-trying-to-crea

[2021-07-04 21:58] filiptronicek commented on #986
@jason1985 wow, what a funny coincidence, I just stumbled upon that Stack Overflow question for a completely different repo of mine! I think the `Resource not accessible by integration` is just an error message GitHub spits out for any authorization error regardless of the context (not sure about this though.)

Anyway, thanks for reproducing this, I hope we can fix this ASAP.

[2021-07-06 10:48] 0-vortex opened #1080 "Bug: Pin down actions/setup-node to specific versions"
### Is your feature request related to a problem? Please describe.

Terribly frustrated by the amount of issues around tooling and the confusion created by not being able to successfully pass workflows exemplifying best practices.

The setup action we are using has historic SemVer inconsistencies like `v2.0.0` to `v2.1.5` being tagged as `v2-beta` while `v2.2.0` is the first official v2. Sticking

[2021-07-06 10:49] 0-vortex commented on #1077
Hot for this unless someone else wants to!

[2021-07-06 10:59] 0-vortex commented on #952
We can open any minor chores on new specific storybook issues defined by their respective components. Not dragging this on so me can focus on new features/design, judging by @chadstewart quality of work I doubt there's anything we missed :D

[2021-07-06 10:59] #952 closed

[2021-07-06 10:59] mtfoley commented on #1077
Enjoy. I unassigned myself as I perused my typos

[2021-07-06 11:11] 0-vortex commented on #531
Is this still desirable ? Could we document a way to reproduce the error for better development ?

[2021-07-06 11:18] mtfoley commented on #1077
Also what I posted wouldn't work bc it would spam every comment... needs like a "depends_on" or "if" line so it only if the assignment step actually works...

[2021-07-06 11:46] 0-vortex commented on #1077
Think it boils down to how `bdougie/take-action` is versioned and used across other repositories. If we can major that there is little complexity left here as we would check the taken issue on every comment but the check function inside `github-script` would see it was previously greeted with a toast message.

Another performance improvement would be to only run this on unassigned issues, technica

[2021-07-06 17:41] filiptronicek commented on #1080
@0-vortex I agree with most of your points, this version confusion is for sure something to focus on. At this point I'm probably a bit out of sync, but is it now so that we are using v2.1.5 or v2.2.0? If we are using 2.2.0, we could maybe pin the version to 2.2.x?

A page in our docs dedicated to this issue would be an awesome addition for sure (along with mentioning your point about most package

[2021-07-06 17:46] 0-vortex commented on #1080
Sorry if the ticket sounded dark, was just trying to be serious 😅

Staying on v2 we would get all the upcoming features which should be discussed among maintainers rather than fast-forwarded.

Less living on the edge :D

[2021-07-06 17:49] filiptronicek commented on #1080
Totally agreed, staying on full releases is probably the way to go here. It will give us time to prepare for breaking changes.

[2021-07-07 00:20] 0-vortex opened #1081 "Feature: Make GitHub Actions permissions reusable across all workflows."
### Is your feature request related to a problem? Please describe.

The potential usages of [actions/github-script](https://github.com/actions/github-script) and other authentication required workflows could be made easier to debug and collaborate on by enabling the [permissions](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions) syntax and documenting it

[2021-07-07 13:57] filiptronicek commented on #1081
@0-vortex awesome that you bring this up. I know it's probably obvious, but I think it's important to note that yes, in fact, giving all workflows the same permissions is a bad decision, as some workflows will have insufficient permission to do the thing they are supposed to and some will have too many permissions, which they shouldn't ever need.

[2021-07-08 21:04] bdougie commented on #1081
I agree with this approach but have not gotten around to implementing this as of yet. In preparation for the permission feature shipping, I created the [pr-audit-target](https://github.com/open-sauced/open-sauced/blob/main/.github/workflows/pr-audit-target.yml).

This could get the following permission to :

[code]

[2021-07-08 21:18] 0-vortex commented on #1081
Oh `pull_request_target` is a topic in itself, I was thinking less [advanced minimalism](https://github.blog/2021-04-13-implementing-least-privilege-for-secrets-in-github-actions/) for step 1, in the sense of adjusting our current workflows with progressive improvements - you already took the necessary precautions to avoid data leaking in forks so this would be consolidating then in the config.

F

[2021-07-08 21:19] bdougie commented on #1080
The fact that there are discrepancies with what v2 is, is concerning. However, I am hoping the

Is this related to the open #1079?

[2021-07-09 01:45] 0-vortex commented on #1080
Yes, we should not stay on major versions for actions that don't have predictable results for open sauced, have a strong dislike for closing pull requests 😞

[2021-07-09 01:48] #1080 closed

[2021-07-10 14:06] mtfoley commented on #1077
@0-vortex I started an issue and PR over at bdougie/take-action

[2021-07-10 14:14] 0-vortex commented on #1077
LGTM, have to say an `open-sauced/actions` repository is getting more and more desirable :D

[2021-07-10 18:56] filiptronicek commented on #1077
Just linking it here: https://github.com/bdougie/take-action/pull/5

[2021-07-12 16:30] mtfoley opened #1084 "Feature: Update logo for use-shopping-cart"
### Is your feature request related to a problem? Please describe.

During the implementation of dark mode, it came up that the logo for use-shopping-cart on the splash page should be updated. Looks like with their release 3.0, there's a new logo in use.

### Describe the solution you'd like

Update the logo to the one in use at https://useshoppingcart.com

### Describe alternatives you've conside

[2021-07-12 17:11] filiptronicek commented on #1084
@mtfoley awesome that you noticed! I found the SVG version of their logo in their repo, may be useful:
https://raw.githubusercontent.com/dayhaysoos/use-shopping-cart/master/docs/static/img/usc-logo.svg

[2021-07-12 17:23] 0-vortex commented on #1084
good catch !

[2021-07-12 19:18] bdougie commented on #1077
I think this is making more sense.

[2021-07-12 19:55] filiptronicek commented on #1077
@mtfoley is this now safe to close, as the PR was merged?

[2021-07-12 19:57] mtfoley commented on #1077
No, I think we still need to update .github/workflows/assign-yourself.yml in this project to include the actual comment message.

[2021-07-13 15:21] mtfoley commented on #1077
PR #1085 should be ready. cc @bdougie

[2021-07-14 00:45] #1021 closed

[2021-07-14 02:02] 0-vortex commented on #987
We could do a "Guide" category in [docs.opensauced.pizza](https://docs.opensauced.pizza/) now 🍕

[2021-07-14 02:35] mtfoley commented on #1077
Test .take here (sure would be nice if it worked)

[2021-07-14 02:37] mtfoley commented on #1077
Loving how meta that was. Worked (yay), probably needs emojis on that message but away we go 👍

[2021-07-14 02:37] #1077 closed

[2021-07-14 11:33] mtfoley commented on #1053
Closed in #1061

[2021-07-14 11:33] #1053 closed

[2021-07-14 11:48] mtfoley commented on #976
Just wanted to capture there was some progress made on this in #1034 (fixing some queries and add some docs) and #1078 / #1086 (docusaurus, https://docs.opensauced.pizza)

[2021-07-14 11:50] 0-vortex commented on #976
I checked the first item in the list last night :D

<img width="464" alt="Screenshot 2021-07-14 at 13 49 18" src="https://user-images.githubusercontent.com/237133/125617282-be6e6667-34b0-41ca-9712-cae6bde199d9.png">

[2021-07-14 13:06] mtfoley commented on #976
Sweet. I think the docs in #1034 had some typos and I'm inclined to make a more detailed thing. I feel like we could do a treatment of:

Query function | persisted vs dynamic and why | affected UI components

[2021-07-15 11:51] 0-vortex opened #1089 "Bug: add ability to switch between open-sauced and docs"
### Describe the bug

The [docs](https://docs.opensauced.pizza) is missing a "home" button, both the logo and the "docs" link going back to the docs endpoint

### To Reproduce

1. Go to https://docs.opensauced.pizza
2. Never go back

### Expected behavior

Should be able to visit docs and opensauced.pizza without opening a new tab

### Screenshots

<img width="322" alt="Screenshot 2021-07-15 at 13

[2021-07-15 11:54] 0-vortex opened #1090 "Feature: add categories to docs footer"
### Describe the bug

The [docs](https://docs.opensauced.pizza) is missing the navigation categories from the sidebar in the footer. We should populate that area with some "top" articles if not categories themselves.

### To Reproduce

1. Go to https://docs.opensauced.pizza
2. Check the "Docs" section in footer

### Expected behavior

Have better links in the footer.

### Screenshots

<img width="

[2021-07-15 11:57] 0-vortex opened #1091 "Feature: investigate search plugins for the docs endpoint"
### Is your feature request related to a problem? Please describe.

Navigating the [docs](https://docs.opensauced.pizza) seems easy but it could use some wildcard searching

### Describe the solution you'd like

Something that makes sense for us from [docusaurus docs](https://docusaurus.io/docs/search)

### Describe alternatives you've considered

No search.

### Additional context

[2021-07-15 11:58] 0-vortex commented on #1076
dependabot is currently disabled, can open a new issue if we need it again :D

[2021-07-15 11:58] #1076 closed

[2021-07-15 12:02] 0-vortex opened #1092 "Feature: add missing contributing docs"
### Is your feature request related to a problem? Please describe.

Fast forwarding [docs](https://docs.opensauced.pizza) deployment we skipped at least one essential article like "how to add a new document in the docs endpoint".

### Describe the solution you'd like

Potentially have a contributor who's inexperienced with [docusaurus](https://docusaurus.io/docs) add this document portraying their

[2021-07-15 16:53] filiptronicek commented on #1091
I think they have built in support for Algolia, right? It should be as easy as applying and turning it on.

[2021-07-15 16:56] 0-vortex commented on #1091
The ticket is also about researching if Algolia is still the best choice 😛 - but tl;dr: **yes**

[2021-07-16 02:05] 0-vortex commented on #1089
@daptheHuman the take step described here: https://docs.opensauced.pizza/contributing/getting-started/#issues should assign you to the issue you opened the PR for 🍕

[2021-07-16 03:44] daptheHuman commented on #1089
.take

[2021-07-16 15:16] bdougie commented on #1091
I just submitted for https://docsearch.algolia.com/apply/. They should be in touch.

[2021-07-16 15:29] #1089 closed

[2021-07-16 16:03] bdougie opened #1096 "Collect Data and create an Open Sauced recommendation feed"
## user story
As a user, I would like to see what projects others are starring and contributing to.

## approach

[code]

- [x] Collect user's star data and save it to the data.json along with goal data https://github.com/open-sauced/actions/pull/4
- [x] #1138
- [x] #1132
- [x] #1133

## more info
consider using [flatdata](https://github.com/marketplace/actions/flat-data)

The idea that I had was

[2021-07-16 16:03] #344 closed

[2021-07-16 16:04] #667 closed

[2021-07-16 16:04] filiptronicek commented on #1091
@0-vortex oh right, makes sense, I think I never saw anything else than Algolia, but I love the results, they never let me down. I think Algolia would be super. Wouldn't it require additional resources to create the search index if we used something like [docusaurus-lunr-search](https://www.npmjs.com/package/docusaurus-lunr-search)?

[2021-07-16 16:10] #864 closed

[2021-07-17 00:56] daptheHuman commented on #1084
.take

[2021-07-17 01:13] daptheHuman commented on #1090
.take

[2021-07-17 05:54] #1084 closed

[2021-07-17 06:22] #1090 closed

[2021-07-18 01:51] mtfoley opened #1100 "Docs: Fix a few typos in GraphQL Docs"
### Describe the improvement

There are a few typos to fix in the GraphQL docs.

[2021-07-18 01:59] mtfoley commented on #1100
.take

[2021-07-18 03:08] mtfoley commented on #1100
I stepped slightly off scope, but it was convenient to try tabulating the API calls and how the components use them.

[2021-07-19 14:44] mtfoley commented on #1100
Seems like https:
//docs.opensauced.pizza still has old version of this docs file, so deployment may still be required here @bdougie

[2021-07-19 15:42] 0-vortex commented on #1100
Think that is another issue, made some bad assumptions :D

[code]

[2021-07-19 15:52] mtfoley commented on #1100
Just clobbered your comment... GitHub app apparently alludes me, lol

[2021-07-19 16:03] 0-vortex opened #1103 "Feature: explore markdown ecosystem plugins for documentation"
### Is your feature request related to a problem? Please describe.

Not related to a particular issue but it could fix a couple.

We can extend [docusaurus with plugins](https://docusaurus.io/docs/next/markdown-features/plugins)

### Describe the solution you'd like

Explore both ways:
- https://github.com/remarkjs/remark/blob/main/doc/plugins.md
- https://github.com/rehypejs/rehype/blob/main/doc/

[2021-07-19 16:06] mtfoley commented on #1100
Reopening because of deployment issue described above…

[2021-07-19 16:12] #1100 closed

[2021-07-19 17:23] mtfoley commented on #1096
I looked thru flat data repos a little today. Looks like data acquisition right now would be limited to SQL, CSV via HTTP and maybe others.  However, someone did open an issue recently with respect to GraphQL: https://github.com/githubocto/flat/issues/53

[2021-07-21 03:10] mtfoley commented on #1031
updated title to reflect the suggested feature as it is, reset as good first issue.

[2021-07-21 03:13] mtfoley commented on #911
bump because this sort of snuck its way into the stream this past Friday i think (7/16).

[2021-07-21 17:16] bdougie opened #1106 "Enable Docsearch on docs.opensauced.pizza"
# What is this?

I just confirmation from Algolia that we have access to their free docsearch tool. They will crawl the docs site and share the search results.

https://github.com/algolia/docsearch-configs/blob/master/configs/opensauced.json

# Implementation

Docusaurus supports search using Algolia DocSearch. Once your website is online, you can submit it to DocSearch. Algolia will then send you

[2021-07-21 17:18] 0-vortex commented on #1106
Sounds like something I should tackle 🔥

[2021-07-21 17:19] bdougie commented on #1106
Yeah, should be straightforward.

[2021-07-21 17:35] 0-vortex commented on #1091
closing in favour of #1106

[2021-07-21 17:35] #1091 closed

[2021-07-21 22:14] bdougie commented on #1106
.take

[2021-07-26 23:57] mtfoley commented on #1096
From what I’ve read flatdata now supports graphql via extra parameters to HTTP setup. Example here: https://github.com/githubocto/flat-demo-graphql

[2021-07-27 20:46] bdougie opened #1107 "Feature: Open Sauced release-ops in this and other repos."
### Is your feature request related to a problem? Please describe.

Today releases are no longer automated due to tons of issues. I ended it all out of frustration. Releases were inconsistent and now we are only pushing tags.

Can we copy what is happening in the https://github.com/open-sauced/explore.opensauced.pizza?

### Describe the solution you'd like

Octoherd is a good solution for this, bu

[2021-07-27 20:58] 0-vortex commented on #1107
.take

[2021-07-28 15:13] 0-vortex opened #1108 "Feature: correct missing community files"
### Is your feature request related to a problem? Please describe.

The split of docs created a disparity in https://github.com/open-sauced/open-sauced/community

### Describe the solution you'd like

Split out community files into a new `open-sauced/.github` repository as described by [the docs - creating a default community health file](https://docs.github.com/en/communities/setting-up-your-proj

[2021-07-28 18:11] 0-vortex commented on #1108
.take

[2021-07-28 21:16] 0-vortex commented on #1108
closing via https://github.com/open-sauced/.github

[2021-07-28 21:16] #1108 closed

[2021-07-29 00:53] mtfoley opened #1109 "Feature: Enhance Contributions Rendering"
### Is your feature request related to a problem? Please describe.

I have noticed since the implementation of #1021 (Yay!), I have noticed that comments, issues and PRs all look the same in my contributions list for one of my goals that I had been contributing to in the past.

In the screenshot below you'll note on the bottom left that the URL for the contribution indicates it's a pull request, w

[2021-07-29 11:47] 0-vortex commented on #1109
This is awesome!

[2021-07-29 12:12] mtfoley commented on #1109
I feel like a merged PR warrants some special treatment... could be a purple foreground or background, could be a pizza logo...

[2021-07-29 17:25] filiptronicek commented on #1109
This would for sure make the contributions list way more appealing. I also like the idea for a special icon / image for merged PRs, a purple background would make it stick out nicely 👀

[2021-07-31 23:12] bdougie commented on #1096
https://github.com/open-sauced/goals-template/pull/22#issuecomment-887889341

[2021-08-02 18:13] #1106 closed

[2021-08-03 21:04] #1107 closed

[2021-08-03 21:17] bdougie commented on #1096
FYI, the installation_id will need to be removed when this is read

https://github.com/open-sauced/actions/blob/main/open-sauced-admin/action.js#L14

At the moment it is only updating my repo (bdougie/open-sauced-goals).

[2021-08-04 23:06] 0-vortex commented on #1081
.take

[2021-08-05 13:38] mtfoley commented on #988
@0-vortex from the link you sent I was playing with this in https://explore.opensauced.pizza - still needs playing!

[code]

[2021-08-05 16:18] mtfoley commented on #988
Ok this one is more like it for pasting into https://explore.opensauced.pizza

[code]
![image](https://user-images.githubusercontent.com/3792749/128384587-25eaf74d-26ae-4302-bb9b-e15d8a9fe3f3.png)

So we would need to have some kind of debouncing, and I'm already trying to think of how this would get mocked up in Storybook...

[2021-08-08 08:57] 0-vortex opened #1127 "Feature: add repository visualiser to the readme file"
### Is your feature request related to a problem? Please describe.

Would like to give [githubocto/repo-visualizer](https://github.com/githubocto/repo-visualizer) a minimal try.
If we find this useful and neat, could have this issue duplicated for all the other @open-sauced complex codebases.

### Describe the solution you'd like

- implement the action and generate the SVG image in the public fol

[2021-08-08 09:01] 0-vortex commented on #950
closing in favour of https://github.com/open-sauced/explore.opensauced.pizza

[2021-08-08 09:01] #950 closed

[2021-08-08 09:12] #1103 closed

[2021-08-08 09:17] 0-vortex opened #1128 "Feature: dedupe community health files"
### Is your feature request related to a problem? Please describe.

Now that we have [open-sauced/.github](https://github.com/open-sauced/.github) it would be a good idea to remove the duplicated files as they are not needed.

### Describe the solution you'd like

Remove all `.github` files that are duplicated by https://github.com/open-sauced/.github

### Describe alternatives you've considered

[2021-08-08 09:26] 0-vortex commented on #949
Can confirm with OneGraph backend response:

[code]

I think the solution here is to modify the query to limit contributors display to the first 10 or the most recently active users. If this is the only blocker it would auto-fix #1065 for now, as we do not have any other way to "break" a repository outside of contributors count.

[2021-08-09 17:10] mtfoley commented on #1096
FWIW this was a fun query to look at in https://explore.opensauced.pizza

Shows the people you follow and lists the repos they're watching.

[code]

[2021-08-10 21:36] mtfoley commented on #1096
Since it didn't work on stream 💔
![image](https://user-images.githubusercontent.com/3792749/128938314-8d0486e7-6fcf-470f-8a36-c32191bf8627.png)

[2021-08-11 20:02] RizelBobb commented on #1031
.take

[2021-08-11 20:02] RizelBobb commented on #1031
.take

[2021-08-11 20:03] RizelBobb commented on #936
.take

[2021-08-11 23:48] 0-vortex commented on #1128
.take

[2021-08-11 23:51] 0-vortex commented on #1092
Superseted by https://github.com/open-sauced/docs.opensauced.pizza/issues/11

[2021-08-11 23:51] #1092 closed

[2021-08-20 03:33] #1031 closed

[2021-08-20 04:48] 0-vortex opened #1131 "Feature: webpack 5 dependency updates"
### Is your feature request related to a problem? Please describe.

Some of our dependencies could use some major version / breaking changes updates:
- [css-loader](https://www.npmjs.com/package/css-loader) requires some `file-loader` and `url-loader` updates as described in: [6.0.0](https://github.com/webpack-contrib/css-loader/blob/master/CHANGELOG.md#600-2021-07-14)
- [mini-css-extract-plugin](

[2021-08-20 19:32] bdougie commented on #867
We should look into this now that Codespaces is available for folks.

[2021-08-20 19:38] #1128 closed

[2021-08-20 20:51] bdougie opened #1132 "Create a centralized data store to begin sharing with users as recommendations. data.json + supabase"
# What is this?

[Supabase](https://supabase.io/)! Thanks to https://github.com/open-sauced/open-sauced/pull/1124 and the new [open-sauced/actions](https://github.com/open-sauced/actions/tree/main/.github/workflows) I can now start the process towards capturing the star data from users.

My path will be adding another Admin action that populates a Supabase DB. This same DB will power an admin.open

[2021-08-20 20:52] bdougie opened #1133 "Discover algorithm to aggregate the data as recommendations (TikTok)."
I would love to take all stars.json data and make smart recommendations to users.

I think @mtfoley's exploration maybe be able to kick start this https://github.com/open-sauced/open-sauced/issues/1096#issuecomment-895393140

[2021-08-21 05:09] LobRockyl commented on #1133
I want to contribute to this. Could you assign it?

[2021-08-21 05:11] 0-vortex commented on #1133
Not against it but it's not a one man effort for sure :D

[2021-08-21 05:40] LobRockyl commented on #1133
So how do I/we contribute to this?

[2021-08-21 05:52] 0-vortex commented on #1133
For actual contributions we have developer documentation available at [docs.opensauced](https://docs.opensauced.pizza) that should help describe what the project is about, at least technically. For the hard part of the ticket, we encourage you to join discord and start a conversation, we're doing our best to help people feel welcome and answer questions!

[2021-08-22 17:08] blackgirlbytes opened #1134 "Test: Add a test for the DropdownMenu component underneath the avatar"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like
I added a DropdownMenu feature underneath the avatar, and I need to add a test for the component.

### Describe alternatives you've considered

### Additional context

[2021-08-22 17:08] blackgirlbytes commented on #1134
.take

[2021-08-24 15:30] #1134 closed

[2021-08-24 19:52] Elixer3000 commented on #1109
hey, @0-vortex @mtfoley @filiptronicek I would like to contribute to this issue is it still open? also, this would be my first open-source contribution any heads up are welcome :)

[2021-08-24 20:14] mtfoley commented on #1109
Hi @Elixer3000 we would love for you to contribute! Our docs have gotten moved around some, so make sure you take a look at the [contributing guide](https://docs.opensauced.pizza/contributing/getting-started/) and we would definitely suggest joining the [discord](https://discord.gg/U2peSNf23P) that we link to in that for Q&A as you get going!

[2021-08-24 21:05] Elixer3000 commented on #1109
@mtfoley  thanks for the warm welcome I have checked the contribution guide and also joined discord, can you please assign this issue to me so that I can start working on this?

[2021-08-24 21:06] mtfoley commented on #1109
The contributing guide talks about how to assign yourself using a keyword in the comments on this issue

[2021-08-24 21:11] Elixer3000 commented on #1109
@mtfoley sorry, got it my bad... thanks for the help😅

[2021-08-24 21:11] Elixer3000 commented on #1109
.take

[2021-08-24 23:53] mtfoley opened #1136 "Bug: contributing guide link is broken"
### Describe the bug

In the README file, the link to contributing guide is broken, probably after splitting docs to its own repo.

### To Reproduce
View readme, follow link

### Expected behavior
Should probably open to [https://docs.opensauced.pizza/contributing/getting-started/](https://docs.opensauced.pizza/contributing/getting-started/)

### Screenshots
N/A

### Desktop

- OS:
- Browser:
- Ve

[2021-08-24 23:54] mtfoley commented on #1136
Came across this while commenting on #1109 earlier today

[2021-08-25 00:47] MukulKolpe commented on #1136
Hey @mtfoley, can I work on this issue?

[2021-08-25 01:01] mtfoley commented on #1136
Sounds great! First take some time to read over the [contributing guide](https://docs.opensauced.pizza/contributing/getting-started/) including the part about how to assign yourself to the issue.

[2021-08-25 01:03] MukulKolpe commented on #1136
.take

[2021-08-25 01:04] MukulKolpe commented on #1136
Hey @mtfoley, Thank you for letting me know this!!

[2021-08-25 02:19] mtfoley commented on #1127
bonus feature: add link to the vercel app page to each open-sauced goal:
so my goal URL: https://opensauced.pizza/repos/jakedohm/vue-accessible-tabs/8/
and there could be a link to: https://octo-repo-visualization.vercel.app/?repo=jakedohm%2Fvue-accessible-tabs
![image](https://user-images.githubusercontent.com/3792749/130715515-2a9dd08b-debc-40d8-9799-11e55f0c33ad.png)
(Shoutout @jakedohm, one of

[2021-08-25 06:35] #1136 closed

[2021-08-25 23:05] bdougie opened #1138 "Create a Set checker to limit the recommendation list to only repos that are not on the list."
Could this be improved using a [Set](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set) instead of an n+1? https://github.com/open-sauced/open-sauced/blob/main/src/lib/manageStarData.js#L12.

## What are we looking for?

I would love anyone who contributes to this to show the performance improvement in the PR as well. Please ask questions 🙏🏾

[2021-08-26 20:20] mtfoley opened #1140 "Feature: Explicitly state node/npm version requirement"
### Is your feature request related to a problem? Please describe.
Recently a contributor had run into trouble where they were using an older version of nodejs/npm than what the project used.  Through a few steps, they ended up committing an `npm-shrinkwrap.json` file that was incompatible with the project, and the corrections are ongoing.

Further, the instructions re: setup are different between

[2021-08-28 07:48] AryanNayak commented on #1127
Hey, can I contribute to the issue? I'll need some guidance

[2021-08-28 09:06] 0-vortex commented on #1127
Sure thing, it’s up for grabs! Make sure to check out the docs if you haven’t already - https://docs.opensauced.pizza/

[2021-08-28 22:44] bdougie commented on #1133
Jumping in to state is currently blocked by me. We first need the data, which is being populated by https://github.com/open-sauced/actions/pull/13.

I need to figure out how to expose it as a public API.

## What we have so far

- Collecting stars from each user (last 30 only).
- Comparing data to find out how many open sauced users are starting the same project.
- Identifying how recent the proje

[2021-08-28 22:45] bdougie commented on #1133
Jumping in to state is currently blocked by me. We first need the data, which is being populated by https://github.com/open-sauced/actions/pull/13.

I need to figure out how to expose it as a public API.

## What we have so far

- Collecting stars from each user (last 30 only).
- Comparing data to find out how many open sauced users are starting the same project.
- Identifying how recent the proje

[2021-08-29 04:22] bdougie commented on #1132
Completed in https://github.com/open-sauced/actions/pull/13.

Next up is making this data shareable in some sort of API

[2021-08-29 04:22] #1132 closed

[2021-08-29 21:11] jasonericdavis opened #1142 "Feature: Link Repo Recommendations Items to their repositories."
### Type of feature

Feature

### Current behavior

Currently, a Repo Recommendation Item is not clickable.

### Desired solution

Clicking a Repo Recommendation Item will open the repository in a new tab/window. This will allow a user to get more information about the recommendation before deciding to add it to their repo list.

### Additional context

_No response_

### Code of Conduct

- [X] I

[2021-08-29 22:10] jasonericdavis commented on #1142
.take

[2021-08-29 23:10] #1142 closed

[2021-09-01 21:36] bdougie commented on #1096
For the algorithm consider the following:
- check API event data for starred date
-

[2021-09-08 21:00] mtfoley commented on #911
@filiptronicek I think this is one that @bdougie will have to fix because it'd require a change to a persisted query.

If I point it to repo I have elevated access to, this query works for me in https://explore.opensauced.pizza

[code]
![image](https://user-images.githubusercontent.com/3792749/132584752-0ebb70fd-62cc-4e77-b979-dff053918339.png)

[2021-09-10 20:01] #769 closed

[2021-09-10 20:06] bdougie commented on #531
Taking a look, but my I remembered this existed perhaps there is a more naive approach to this that we could apply. https://github.com/marketplace/actions/github-status

[2021-09-10 20:09] bdougie commented on #706
This is blocked and waiting for React 18. https://github.com/reactwg/react-18

[2021-09-10 20:09] mtfoley commented on #745
Commented on related stuff over in #944

[2021-09-10 20:12] bdougie commented on #790
This is a nice to have but would introduce more bugs than needed because of how the router works.

[2021-09-10 20:12] #790 closed

[2021-09-10 20:15] bdougie commented on #858
This is nice to have but closing due to it being stale.

[2021-09-10 20:15] #858 closed

[2021-09-10 20:16] bdougie commented on #862
Does anyone know any good UX designers?

[2021-09-10 20:20] bdougie commented on #936
Thinking during a discord stream. This should be chopped up into separate issues per screen.

[2021-09-10 20:23] bdougie commented on #948
This can actually be done with the GitHub App. Blocked by https://github.com/octokit/app.js/issues/269. Perhaps I can take a crack at contributing to that.

[2021-09-10 20:26] bdougie commented on #954
This is solved in the https://github.com/open-sauced/open-sauced/pull/1124

[2021-09-10 20:26] #954 closed

[2021-09-10 20:27] bdougie opened #1154 "Look into Export the apiGraphQL to an npm package to assist in tracking and documenting."

[2021-09-10 20:27] bdougie commented on #976
Documentation exists. the second bullet is blocked by onegraph and I opened an issue for the 3rd.

[2021-09-10 20:27] #976 closed

[2021-09-10 20:28] #961 closed

[2021-09-10 20:31] bdougie commented on #986
Just confirmed today that this is still a bug. I think there is a disconnect in permissions. That error message is because the remove button should not be a persisted query and instead be calling from the regular queries.

[2021-09-10 20:48] mtfoley commented on #986
@bdougie i mispoke on discord - this is actually already a dynamic query, uses `api.updateGoal()`:
https://github.com/open-sauced/open-sauced/blob/6043be8e6e8c277714daaa7da318d9a2d294b29f/src/components/DangerZone.js#L13-L20

https://github.com/open-sauced/open-sauced/blob/6043be8e6e8c277714daaa7da318d9a2d294b29f/src/lib/apiGraphQL.js#L366-L373

[2021-09-10 20:49] bdougie commented on #986
Uh, even weirder that it is not triggering a deletion. I am sure it is something simple. I can take a closer look this weekend.

[2021-09-10 21:00] mtfoley commented on #986
I think it does remove in the background.  I tried removing the slaybot goal, and here's what i'm seeing.
Network call looks good.
![image](https://user-images.githubusercontent.com/3792749/132916540-33d1b8e3-dc5c-46c3-9a98-d71723f8aeec.png)
No errors reported.
![image](https://user-images.githubusercontent.com/3792749/132916586-e1c4232e-a005-4dda-ae1f-2d1362bfa6b1.png)
underlying issue closed
![i

[2021-09-10 21:23] mtfoley commented on #911
Screenshots for reference:
one of my goals is https://github.com/Team-TAU/tau, shows 33 issues.
![image](https://user-images.githubusercontent.com/3792749/132918165-44403155-f42d-4ed7-b17d-5faef487a336.png)
at the moment, tau has 12 **open** issues out of 33 **total**, and happens to have 5 PRs open.
![image](https://user-images.githubusercontent.com/3792749/132918215-da022b5e-a0d1-432f-94e9-61122

[2021-09-10 21:24] mtfoley commented on #986
Related to #832, IMO (state management issues)

[2021-09-10 21:25] mtfoley commented on #832
Related to #986, IMO (state management issues)

[2021-09-10 21:34] mtfoley opened #1155 "Feature: Arrange project to better manage static assets"
### Type of feature

Refactor

### Current behavior

In order to accomplish storybook dark mode (#1061) `src/index.css` was copied to `.storybook/`.

However, now that remirror note editing (#1105) has been completed, these files have fallen out of sync.

There may be other cases like this one but I feel the static asset handling required both by the main project and also the design system could b

[2021-09-10 21:34] mtfoley commented on #1155
also @0-vortex I'm loving these new issue forms 💯

[2021-09-14 17:51] 0-vortex commented on #1155
feels like a good first issue, exploring CSS in open sauced and storybook, what do you think?

[2021-09-17 02:41] mtfoley opened #1157 "Feature: Remove direct lodash dependency"
### Type of feature

Refactor

### Current behavior

Dependency `lodash` is only used in `src/components/ListGoals.js`. Further, IMO the issue #986 deals with the use of `_.merge` function as it makes goals showing up in `data.json` populate goals list with a goal even if that goal had been removed (until goals caching catches up).

Investigating this, I stumbled on the opportunity in open-sauced/

[2021-09-22 00:49] Mich45 commented on #1127
Hi @0-vortex, looks like nobody has taken up this issue yet. I'd like to take it up and see what I can come up with. Will that be OK?

[2021-09-22 01:02] mtfoley commented on #1127
@Mich45 it’s up for grabs! Make sure to check out the docs if you haven’t already - https://docs.opensauced.pizza/ these docs include instructions on how to assign yourself to the issue.

[2021-09-22 01:16] Mich45 commented on #1127
.take

[2021-09-22 21:16] bdougie opened #1159 "Feature: Make the basic template not a button, but instead a link"
### Type of feature

Fix

### Current behavior

Today it looks like this.
![Screen Shot 2021-09-22 at 2 12 02 PM](https://user-images.githubusercontent.com/5713670/134423010-ff71898c-5526-41e6-8f07-1d6bc2ada449.png)

### Desired solution

It would be nice to have it as a standard link.

### Additional context

Look in the existing storybook or design system for how to do this.

### Code of Conduct

[2021-09-22 21:22] bdougie opened #1160 "Feature: Update the the NoteBox storybook stories"
### Type of feature

Style

### Current behavior

[Link to the design story](https://github.com/open-sauced/open-sauced/blob/main/stories/2-Card.stories.js#L154-L174)
![Uploading Screen Shot 2021-09-22 at 2.21.34 PM.png…]()

### Desired solution

It should mirror what is live in production.

### Additional context

Please ask questions if you are considering taking this on.

### Code of Conduct

-

[2021-09-22 21:23] bdougie commented on #1160
@mtfoley may have more context here

[2021-09-24 02:03] nayabatir1 commented on #1159
@bdougie may I help

[2021-09-24 13:52] mtfoley commented on #1159
@nayabatir1, we’d love to have your help! Take a look at our [contribution docs](https://docs.opensauced.pizza/contributing/getting-started/), including the section that talks about how to assign yourself to the issue.

[2021-09-24 15:57] #1157 closed

[2021-09-25 12:07] nayabatir1 commented on #1159
@mtfoley can you do KT about this issue I am unable to figure it out.

[2021-09-25 13:30] 0-vortex commented on #1159
https://docs.opensauced.pizza/contributing/getting-started/#issues

[2021-09-25 13:31] 0-vortex commented on #1159
If you happen to run into issues please let us know if the docs are incomplete!

[2021-09-25 15:38] nayabatir1 commented on #1159
I don't understand #1159. 😕
I'm not stuck just that I need more details about the above issue.

How to navigate to storybook or where can I find design system.

[2021-09-25 15:52] mtfoley commented on #1159
@nayabatir1 I think that the issue is calling to change this piece of code:
https://github.com/open-sauced/open-sauced/blob/6b2771f51adadbd50305bde24d1f1b5332ee12c1/src/components/NoteFormSocial.js#L51-L53

so it would go to maybe reading, one of these, depending on what looks best:
[code]
[code]

Disclaimer: There might be more to this in terms of preventing default behavior on clicking the link.

[2021-09-25 19:41] blackgirlbytes commented on #936
Just circled back to this. Is there a figma for the designs or am I basing this off of the screenshots attached to this issue? @bdougie ?

[2021-09-26 06:55] 0-vortex commented on #936
IMHO he better produces a Figma or Sketch so we can use it in our storybooks with the design addon 🔥

[2021-09-28 05:12] #1159 closed

[2021-09-30 08:14] ilangorajagopal commented on #1160
@bdougie @mtfoley Can I take a crack at this? I looked at #1159. The Basic Template button was changed to a `SubtleLink`. I just have to update the `NoteCard` story to reflect that change, right? Also `SubtleLink`'s color in light mode is `offWhite` so it's barely visible. I can update that as well.

[2021-09-30 08:54] 0-vortex commented on #1160
@ilangorajagopal we’d love to have your help! Take a look at our [contribution docs](https://docs.opensauced.pizza/contributing/getting-started/), including the section that talks about how to assign yourself to the issue.

[2021-09-30 10:01] LuluNwenyi commented on #936
Hi @bdougie

I’m new to the community and I’d definitely like to give this a go. Is it still open to contributions?

[2021-09-30 10:28] ilangorajagopal commented on #1160
.take

[2021-09-30 14:21] mtfoley commented on #936
Hi @LuluNwenyi I get the impression that this one will be a team effort and  @blackgirlbytes is currently assigned so I’m going to assign you also. I would def suggest reading through the [contributing guide](https://docs.opensauced.pizza/contributing/getting-started/). For some background in past streams on https://twitch.tv/bdougieYO @bdougie has indicated that the intent is to refresh the look

[2021-09-30 14:27] mtfoley commented on #1160
great catch! We saw screenshots in dark mode so somehow we missed this.

[2021-09-30 14:35] mtfoley commented on #1160
I don’t have a lot to add other than:
- in my understanding storybook is separately deployed right now so maintainers may need to help with that
- I didn’t realize the note form was in storybook when I did the remirror pr so I may have actually broken that part locally
- If it helps to refer to significant work on storybook was done in https://github.com/open-sauced/open-sauced/pull/1037

[2021-10-01 03:23] ilangorajagopal commented on #1160
Got it. I'll create a WIP pull request along with some screenshots of the fix.

I'll check that PR and see if there's anything relevant for this issue.

[2021-10-04 04:41] ilangorajagopal commented on #1160
@mtfoley I've made the necessary changes.

[2021-10-04 06:32] vickywane commented on #1138
@bdougie can you please provide some more description on what is required here?

I would like to attempt a fix to it.

[2021-10-04 07:46] LuluNwenyi commented on #936
Thanks @mtfoley.
Hi @blackgirlbytes, have you started working on this and how can I be of help??

[2021-10-07 17:48] mtfoley commented on #1138
Check out this video, maybe around 1-2 mins in. Might help with context...

https://m.youtube.com/watch?v=Oa7VyTNnsc4

[2021-10-08 21:51] bdougie opened #1218 "Bug: Contributions to repos do not show at all."
### Describe the bug

Vist a project you have contributed to in open sauced. You should see a list of your merged/open PRs

### Steps to reproduce

1. Visit any repo dashboard that you have contributed to.
2. Note there are no contributions showing
![Screen Shot 2021-10-08 at 2 51 25 PM](https://user-images.githubusercontent.com/5713670/136628553-759d3703-2206-42ae-bb8d-4f3fab6b3040.png)

### Affe

[2021-10-09 19:15] git-srinivas opened #1219 "Bug: duplicate repositories can be added to dashboard"
### Describe the bug

When a user  login to the app, there are see two sections on the dashboard. One is the repo recommendations list and the other  is dashboard repo list.

Expected behaviour:
When user try to add a recommended repo item for one time or multiple times, it should be added to the dashboard repo list only once.

Actual behaviour:
When the user  add a recommended repo item for multi

[2021-10-09 20:00] git-srinivas commented on #1133
To expose it as a public repo:
1.supabase provides APIs to access data from tables/ collections.

Recommendations:
1. Why can't we display all 3 categories Ike
#mostforked
#moststarred
#mostcontributed

[2021-10-10 02:22] 0-vortex commented on #1219
Cannot reproduce, could you provide additional instructions

[2021-10-10 02:47] #1138 closed

[2021-10-10 04:32] git-srinivas commented on #1219
1. Go to repository recommendations
2. Click on + symbol  for 3 times. Dont wait for 30 seconds or sync to complete
3. just click on add button continuously
4. Reload the app and you can see the duplicate repo records
[Here](https://github.com/git-srinivas/open-sauced-goals/blob/main/data.json) is my data json that contains the same

[2021-10-10 09:02] 0-vortex commented on #1219
Managed to reproduce but only on desktop.

Understand this is a real issue now but In the future, could you kindly check with @open-sauced/triage before filing bugs with missing information? It helps us reduce the back and forth for a fix that could be a few lines of code!

[2021-10-10 09:53] #1140 closed

[2021-10-10 10:06] git-srinivas commented on #1219
Since our app is a web application, the bug can be replicated in both desktop and mobile. I added the screen shot from my mobile browser only.

@0-vortex  If you feel the bug is redundant, I can close this and update the triage bug?

[2021-10-10 11:24] git-srinivas commented on #1219
@0-vortex  I agree. This is the first bug i ever raised  with open source projects/apps. Thanks for the guidance. I updated the bug description and steps to reproduce. Please check and let me know if it is fine :)

[2021-10-12 20:04] mtfoley opened #1221 "Bug: Storybook Build Failing"
### Describe the bug

Looks like storybook builds are failing on release. The storybook build steps may be fine but I think it's getting caught because the GitHub actions are using NPM 6 at the moment.

See https://github.com/open-sauced/open-sauced/runs/3874936253?check_suite_focus=true

### Steps to reproduce

Cut a release (@open-sauced/maintainers)

### Affected services

opensauced.pizza

###

[2021-10-12 20:12] #1221 closed, assigned to 0-vortex

[2021-10-13 03:38] mtfoley commented on #1219
I got a chance to re-reproduce this tonight after #1220 landed - the situation is a little better since repo does get added in goals list when using + button in recommendations list. However, the recommendations list doesn’t repopulate with the newly added goal filtered out.  Seems like `stars` variable may need to be refactored to implement `useState()`
https://github.com/open-sauced/open-sauced/

[2021-10-14 14:24] 0-vortex opened #1234 "Bug: pull request compliance action does not ignore dependabot"
### Describe the bug

https://github.com/open-sauced/open-sauced/pull/1224#issuecomment-943387986

### Steps to reproduce

1. Wait for Thursday
2. Wait for Dependabot to open a pull request
3. Dependabot gets greeted to join Discord

### Affected services

opensauced.pizza, docs.opensauced.pizza, explore.opensauced.pizza

### Platforms

Desktop

### Browsers

Other (add additional context)

### En

[2021-10-14 14:49] 0-vortex opened #1235 "Bug: dependabot cannot handle group updates"
### Describe the bug

Dependabot cannot update `@storybook/*`

### Steps to reproduce

Have a project with Dependabot and StorybookJS

### Affected services

opensauced.pizza

### Platforms

Desktop

### Browsers

Other (add additional context)

### Environment

Development

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-14 16:01] #1234 closed, assigned to mtfoley

[2021-10-14 17:23] 0-vortex opened #1240 "Feature: ignore some compliance messages for maintainers"
### Type of feature

CI

### Current behavior

PR compliance action is messaging everyone, as seen in https://github.com/open-sauced/open-sauced/pull/1239

### Desired solution

add `@open-sauced/maintainers` to the ignore list

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-14 18:12] mtfoley commented on #1240
Linking https://github.com/mtfoley/pr-compliance-action/issues/35

[2021-10-15 05:26] #1240 closed

[2021-10-20 16:00] mtfoley opened #1244 "Bug: Sorting (probably) broken in ListGoals"
### Describe the bug

In #1156 when removing lodash dependency we replaced the `sortBy` function. Little typo on the second portion of the ternary on this line: https://github.com/open-sauced/open-sauced/blob/7fb9ca404abb35fecbf105cf40a7fca8eb9bc4eb/src/components/ListGoals.js#L17
When sorting a and b, we needn’t compare b to b.  Haven’t verified on the app but this most likely breaks sorting in t

[2021-10-20 21:44] murilo-goncalves commented on #1244
I will give it a look!

[2021-10-21 06:12] 0-vortex opened #1246 "Bug: duplicate goals repositories create broken links and sorting issues"
### Describe the bug

Having any repository duplicated in `open-sauced-goals` make the `merge` function return broken data

### Steps to reproduce

https://github.com/0-vortex/open-sauced-goals

### Affected services

opensauced.pizza

### Platforms

Desktop, Mobile, Tablet, TV, VR

### Browsers

_No response_

### Environment

Production

### Additional context

_No response_

### Code of Conduct

[2021-10-21 06:16] #1244 closed, assigned to nobody

[2021-10-21 06:42] 0-vortex commented on #1219
A visual and sorting fix is dropping in #1247 - that doesn't solve the issue of adding repositories in the UI or to the `open-sauced-goals` repository however it should simplify the local state changes required to make adding duplicates impossible from the UI.

Hope this helps!

[2021-10-21 20:09] mtfoley opened #1266 "Bug: pr-compliance-action did not fail check on non-compliant title"
### Describe the bug

The pr-compliance-action should have failed on the initial title for this PR:

PR: https://github.com/open-sauced/open-sauced/pull/1245
Actions run: https://github.com/open-sauced/open-sauced/runs/3957539987?check_suite_focus=true

You can see the action picked up on the title error, but didn't mark failed.

Linking issue to mtfoley/pr-compliance-action#45

### Steps to repro

[2021-10-21 20:12] 0-vortex commented on #1266
I noticed this but was on a roll to get edges everywhere. Definitely interested in the outcome of this!

[2021-10-23 16:12] #1266 closed, assigned to mtfoley

[2021-10-26 02:30] mtfoley opened #1270 "Feature: Newer version of pr-compliance-action"
### Type of feature

Chore

### Current behavior

v0.1.x of pr-compliance-action uses @commitlint/config-conventional for parsing PR title.  On the other hand actions related to semantic release use a different methodology.  This was discussed in https://github.com/open-sauced/open-sauced/discussions/1268

### Desired solution

pr-compliance-action uses the same parsing methodology as our semantic

[2021-10-27 22:54] #1270 closed, assigned to nobody

[2021-11-06 08:25] choznerol commented on #1006
In my case, I got a HTML response for the JS chunk request and ends up with `Uncaught SyntaxError: expected expression, got '<'`

<details><summary> full response HTML </summary>

[code]

</details>

Can reproduce randomly with `curl` locally:

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/12410942/140603261-b0a72253-1d58-49ad-bc2d-888dc0163f8c.png">

[2021-11-10 18:47] 0-vortex opened #1296 "Feature: implement @open-sauced/conventional-commit"
### Type of feature

Feature

### Current behavior

we are using `npm run push` with `npx cz` to create our git conventional commits

### Desired solution

implement [@open-sauced/conventional-commit](https://github.com/open-sauced/conventional-commit) as soon as it's officially released

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Con

[2021-11-10 21:43] #1296 closed

[2021-11-11 00:54] johnyu0424 opened #1298 "Bug: Link to contributing guide in the README.md is wrong"
### Describe the bug

The link to contributing guide within 🤝 Contributing section in README.md goes to a page that no longer exists.

PS: While selecting the affected services, I found explore.opensauced.pizza and semantic-release-conventional-config repo have a similar issue, but it wasn't exact, so I didn't added under the affected services.

### Steps to reproduce

1. Go to https://github.com/

[2021-11-11 00:56] johnyu0424 commented on #1298
I am would like to help fix this if someone can let me know if I should make it pointing to https://docs.opensauced.pizza/contributing/introduction-to-contributing/ or https://github.com/open-sauced/.github/blob/main/CONTRIBUTING.md

[2021-11-11 08:14] 0-vortex commented on #1298
Good catch, It should link to the docs :D feel free to take the issue!

[2021-11-11 08:18] johnyu0424 commented on #1298
.take

[2021-11-11 16:40] 0-vortex commented on #1298
Yes, following the procedure as it is described in https://docs.opensauced.pizza/contributing/introduction-to-contributing/#issues would be the best approach 🍕

Feel free to add your feedback on the completeness and ease of use of the docs, don't shy away from opening an improvement request if you have a chance!

[2021-11-11 16:46] #1298 closed

[2021-11-12 03:50] mtfoley opened #1302 "Bug: pr-compliance-action sees issue references inside HTML comments"
### Describe the bug

pr-compliance-action is looking for a valid issue reference and is finding it inside the HTML comments from the pull request template. It says "Fixes #..." (but with numbers).
I documented this bug over at https://github.com/mtfoley/pr-compliance-action/issues/59

### Steps to reproduce

Submit a PR to open-sauced with an invalid PR body while leaving the commented instructio

[2021-11-12 03:59] mtfoley commented on #1302
.take

[2021-11-12 08:27] #1302 closed

[2021-11-14 20:11] blackgirlbytes opened #1304 "Feature: Create redesign for home page/landing page"
### Type of feature

Feature

### Current behavior

Currently when you go to opensauced.pizza, you get these views for dark mode and light mode:

<img width="1792" alt="Screen Shot 2021-11-14 at 3 07 24 PM 1" src="https://user-images.githubusercontent.com/22990146/141696806-cb4af449-b20d-403a-8179-85cd68fdc612.png">
<img width="1792" alt="Screen Shot 2021-11-14 at 3 07 30 PM" src="https://user-ima

[2021-11-14 20:30] 0-vortex commented on #1304
Sounds great, feel free to take the issue :D

Excited for new stuff 🍕

[2021-11-14 20:42] blackgirlbytes commented on #1304
Yay, I'm glad yall are excited.

@lulunweny actually asked me "Any idea what theme you think bdougie or the other maintainers have in mind?" I told them mayyyybe more modern like tailwindcss.com's landing page but if yall have more ideas and better answers, please let us know because I'm not too sure!

[2021-11-14 20:57] mtfoley commented on #1304
@bdougie has prob talked about it a handful of times on his stream but I doubt those segments have been clipped before - one of us can try to ping him during the stream on Wednesday to see if there’s a look and feel that he’s partial to!

FWIW I seem to remember that the existing design had its roots in Netlify’s design system at the time (~2016) - I’m not sure how it’s evolved over time.

[2021-11-14 21:01] blackgirlbytes commented on #1304
Okay, I'll try to ask him some more at work too! I completely forgot I could just DM him hahaha 🤦‍♀️

[2021-11-14 21:09] mtfoley commented on #1304
I know he’s been messing with Astro and Supabase lately so there might be some recency effects there 😜

[2021-11-14 23:36] 0-vortex commented on #1304
@blackgirlbytes

Would argue that tailwind is both old design and could bias our design process towards a tailwind implementation but that is not why I want to dismiss it - we should let the creative process flow towards accessibility and inclusion, just like the process of ordering a pizza: you might order in a few times from fancy websites and easy to use platforms but you will rate the quality

[2021-11-14 23:45] blackgirlbytes commented on #1304
Yeah I like the idea of putting accessibility first here.

[2021-11-15 01:10] mtfoley commented on #1304
Yeah with respect to the two apps I mentioned I really just meant look and feel, not necessarily the design system itself.

+1 for a11y

[2021-11-15 04:17] blackgirlbytes commented on #1304
yeah me too!

[2021-11-15 17:34] bdougie commented on #1304
Hey, @blackgirlbytes thanks for opening this. In short, the current design is styled-components with the majority of the design decisions originally from me or crowdsourced on stream. I am open to all ideas and happy to sit down with anyone willing to chat about approaching this.

Modern and approachable is what I have in mind. Taking cues from other projects is ideal. I linked the brand standards

[2021-11-15 17:38] 0-vortex commented on #1304
This is epic stuff, not sure how many people are aware of this. How do you feel about creating a "Design" category in our docs?

[2021-11-15 20:43] LuluNwenyi commented on #1304
Hi @bdougie we could chat about it.. It would give @blackgirlbytes and myself a clearer view of what the team would prefer to go with.

[2021-11-15 22:31] blackgirlbytes commented on #1304
I think that's a good idea, especially after we finalize the new designs for this.

[2021-11-30 23:10] mtfoley commented on #1131
I completely missed the point of this issue and ran off to port Open Sauced to use snowpack 🙄

Haven't tested it in many places, but I managed to get it running in my last commit to:
https://github.com/mtfoley/open-sauced/tree/snowpack-rework

The only casualty I've had so far is having to punt in hard coding the version number of the app, as this used the `!json:` syntax:
https://github.com/mtfol

[2021-11-30 23:17] 0-vortex commented on #1131
Hey I'm not a big fan of webpack either 🍕
I'm anxious to see the PR, if it's working on your machine it sounds like a pretty ready to test version, but we could still check for bugs together :D

[2021-12-01 19:15] mtfoley opened #1321 "Feature: match new issue colors in contributions"
### Type of feature

Style

### Current behavior

Currently in our contributions rendering, we use a red icon for closed issues.
![Screenshot of current icon colors](https://user-images.githubusercontent.com/3792749/144298292-d83eaf00-9789-447f-a56a-af0f45852a59.jpeg)

GitHub recently changed their colors as it relates to issues.

https://github.blog/changelog/2021-10-26-updates-to-our-issue-statu

[2021-12-02 19:47] #1321 closed

[2021-12-15 21:47] mtfoley opened #1334 "Feature: Upgrade some dependencies, change release script"
### Type of feature

Feature

### Current behavior

Some of our dependencies could probably use an update:
- `@babel/...`
- `@storybook/...`
- `graphql`
- `react-markdown`

Some of our ES Lint could stand cleanup.

### Desired solution

Research and mitigate breaking changes in dependencies.
Cleanup eslint configuration.

### Additional context

_No response_

### Code of Conduct

- [X] I agree to

[2021-12-15 23:29] #1334 closed

[2021-12-15 23:55] bdougie commented on #867
Actually thinking we should pick this up and also look into creating a docker-compose.yml to make this work on multiple cloud dev environments.

@0-vortex can you look into that docker-compose.yml party?

[2021-12-15 23:58] 0-vortex commented on #867
Sure thing, please list all the services you want to investigate so I don't go (too) ham 🔥 🤣

[2021-12-20 00:18] igibek opened #1343 "[Security] Workflow storybook.yml is using vulnerable action JamesIves/github-pages-deploy-action"
The workflow storybook.yml is referencing action JamesIves/github-pages-deploy-action using references 3.4.8. However this reference is missing the commit [661e33871bce8107c9af083f7415176608dce40e](https://github.com/JamesIves/github-pages-deploy-action/commits/661e33871bce8107c9af083f7415176608dce40e) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by action

[2021-12-20 00:20] 0-vortex commented on #1343
Thanks for reporting, will look into it!

[2021-12-20 08:21] #1131 closed

[2021-12-22 02:17] 0-vortex opened #1346 "Feature: investigate vite-plugin-pwa for workbox"
### Type of feature

Build

### Current behavior

create-react-app@5 had some interesting workbox updates to produce the manifest and populate it with relevant data from a static config, something we are doing manually right now

### Desired solution

integrate [vite-plugin-pwa](https://github.com/antfu/vite-plugin-pwa) with sensible create-react-app@5 defaults

### Additional context

_No respons

[2021-12-23 18:42] bdougie opened #1347 "Feature: Add social card"
### Type of feature

Feature

### Current behavior

When sharing this site on social, there is no social card

### Desired solution

Set up a social card with the following image.

![social=image](https://repository-images.githubusercontent.com/71359796/179eca00-061e-11eb-9b57-856a179db1a1)

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of

[2021-12-23 18:53] 0-vortex commented on #1347
This is a fun first issue, lots to learn 🍕

[2021-12-23 18:58] bdougie commented on #1096
The scope of this has increased. We are not using the above data in the https://hot.opensauced.pizza and https://github.com/open-sauced/hot

[2021-12-23 19:01] 0-vortex commented on #1096
I have some ideas for this, need to finish the vite and cloud updates before I can present any serverless github actions magic :D

[2021-12-23 20:09] LevinGar commented on #1347
.take

[2021-12-23 20:20] kazm41756 commented on #1347
What's going on

[2021-12-30 14:40] mtfoley opened #1351 "feat: does pr-compliance-action leave too many comments?"
### Discussed in https://github.com/open-sauced/open-sauced/discussions/1350

<div type='discussions-op-text'>

<sup>Originally posted by **mtfoley** December 24, 2021</sup>
For reference see: https://github.com/mtfoley/pr-compliance-action/issues/98

case in point #1348 </div>

There have been several feature releases since v0.2.1 of pr-compliance-action.

In v0.3.0 we use the default branch if p

[2021-12-30 14:44] 0-vortex commented on #1351
Don't want to troll you but you know you should release v1.0.0 and tag the major at some point right? then we wouldn't have to exact update all the time, we could stick to v1 and only decide if it's important to update when you reach v2 🍕

With 0 you are making it harder for us to maintain and can wrongly assess your action is not "ready" for production :D

[2021-12-30 14:47] 0-vortex commented on #1351
You can use this example to do it with only 2 clicks/release - unless you manual draft/release, then it triggers automatically

[2021-12-30 14:49] mtfoley commented on #1351
I want to see how it does with v0.5.0. After fixing any kinks, I'll go to v1.0.0.

[2021-12-30 14:57] #1351 closed

[2021-12-31 17:13] #1346 closed

[2022-01-01 17:23] 0-vortex commented on #1219
@git-srinivas are you still keen to work on this?

[2022-01-01 20:05] 0-vortex commented on #1006
Happy to announce this is now fixed by #1322 service worker improvements! 🍕

[2022-01-01 20:05] #1006 closed

[2022-01-01 20:15] 0-vortex commented on #1155
.take

[2022-01-02 19:58] 0-vortex commented on #1155
With vite this one is easy to move around now, no more moving parts :D

[2022-01-02 20:09] #1155 closed

[2022-01-04 21:28] mtfoley commented on #1081
testing .take update

[2022-01-04 21:31] mtfoley commented on #1154
testing .take action

[2022-01-04 23:03] mtfoley commented on #1351
@0-vortex i cut v1.0.0 today

[2022-01-05 01:16] 0-vortex commented on #867
@bdougie based on all the investigated services I have an example list of domains that would need "wildcarding":

- `*.githubpreview.dev`, `*.github.dev` from https://0-vortex-open-sauced-5p4wvq37xv6-3000.githubpreview.dev / https://0-vortex-open-sauced-5p4wvq37xv6.github.dev
- `*.gitpod.io` from https://3000-black-gull-yrdjd2ec.ws-eu25.gitpod.io
- `*.repl.co` from https://12c11f31-287f-45db-b652-

[2022-01-07 23:05] hokagedemehin opened #1356 "Bug: UX flow to notify users to create open-sauced-goals"
### Describe the bug

1. Go to https://opensauced.pizza/
2. click on the login action button on the hero section
3. Login with your GitHub credentials and you will be redirected back to open sauced website
4. A page is shown for you to install GitHub App (The problem)
5. A page should exist before point 4 to allow users to create the needed repository before installing the GitHub app (Preferred So

[2022-01-08 04:15] bdougie commented on #1133
Following up, here again, to say we have now started collecting and sharing data in supabase using the [hot.opensauced.pizza](https://hot.opensauced.pizza). The plan is to grow users and then start sharing the data based on the discovered algorithm.

[2022-01-08 04:17] bdougie commented on #988
Recommendations will be powered using the https://github.com/open-sauced/hot project. For the time being, are looking at stars from other users, but in the future, we can find repos users are contributing to.

https://api.opensauced.pizza is also a resource that can be leveraged today. Just need to figure out how to present it in the UI.

[2022-01-08 04:22] bdougie commented on #867
I am not sure wildcard domains can even be added in onegraph. They have a netlify as special a special use case but it would be great to expand that to other cloud ide services.

FYI @sgrove @dwwoelfel

[2022-01-10 20:49] 0-vortex opened #1358 "Feature: add service worker notifications"
### Type of feature

Feature

### Current behavior

When open-sauced is ready to be used offline the user isn't notified visually unless they open the web inspector and check the `console.log`s

### Desired solution

1. Implement some toast notification like:
- https://github.com/fkhadra/react-toastify
- https://github.com/timolins/react-hot-toast
- https://github.com/iamhosseindhv/notistack
- htt

[2022-01-15 16:09] mtfoley commented on #1358
shall give it a go, .take

[2022-01-20 22:37] azh412 opened #1365 "Bug: README Badge not loading (dependabot)"
### Describe the bug

In the badges, the dependabot badge doesn't load properly.

### Steps to reproduce

1. Go to the README.md
2. Go to the badges

### Affected services

opensauced.pizza

### Platforms

Desktop

### Browsers

Other (add additional context)

### Environment

Development

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Co

[2022-01-20 22:54] #1365 closed

[2022-01-27 15:44] 0-vortex opened #1388 "Bug: dependabot can't handle lockFileVersion 3"
### Describe the bug

Dependabot doesn't handle `.npmrc` files and as such reverts the lockfile to version 2 with every update. It's time to let it go, definitely :<

### Steps to reproduce

1. let dependabot run
2. merge a PR
3. the lockfile is broken

### Affected services

opensauced.pizza, hot.opensauced.pizza

### Platforms

_No response_

### Browsers

_No response_

### Environment

_No res

[2022-02-03 14:44] 0-vortex commented on #1388
.take

[2022-02-04 00:34] #1388 closed

[2022-03-09 22:32] bdougie commented on #936
Just a quick update. Apologies ongoing quiet on this. I have been connected to UX designer and they will be taking this over. Appreciate the effort everyone put into the conversation and subject. I will open up well-scoped designed issues in the future.

[2022-03-09 22:32] #936 closed

[2022-03-09 22:40] bdougie commented on #1055
This issue is not stale yet. After some discussion we should move storybook to its own repo and include hot and open-sauced components in the same place. The plan is to eventually have a centralized UI library that is re-useable.

[2022-03-31 22:42] #1055 closed

[2022-04-01 13:07] #1304 closed

[2022-04-01 13:07] #1356 closed

[2022-04-01 13:09] #867 closed

[2022-04-01 13:09] #883 closed

[2022-04-01 13:09] #949 closed

[2022-04-01 13:09] #1218 closed

[2022-04-01 13:09] #531 closed

[2022-04-01 13:09] #706 closed

[2022-04-01 13:09] #1133 closed

[2022-04-01 13:22] bdougie opened #1400 "Bug: repository dashboard is misaligned"
### Describe the bug

![Group 1](https://user-images.githubusercontent.com/5713670/161271969-d42039e8-61d0-4248-8ebb-ecfed378ed58.png)

Each section should respect the green line and not the red as the divider.

### Steps to reproduce

1. Visit a repo page, i.e. https://app.opensauced.pizza/repos/redwoodjs/redwood/x/
2. Note the miss-aligned screen.

### Affected services

opensauced.pizza

### Pl

[2022-04-01 13:27] bdougie opened #1401 "Feature: remove the notes box."
### Type of feature

🍕 Feature

### Current behavior

The notes box is extremely buggy and will need to be removed for now. This project is undergoing a lot of updates and this is not needed for now.

![Group 1 (1)](https://user-images.githubusercontent.com/5713670/161272843-79715b34-13b6-4b8d-9b9d-6def05a73ba6.png)

### Suggested solution

Remove all the notes box and all dependencies.

### Addit

[2022-04-01 13:37] bdougie opened #1402 "Feature: Replace dark mode buttons with a radix switch."
### Type of feature

🍕 Feature

### Current behavior

<img width="229" alt="Screen Shot 2022-04-01 at 6 28 00 AM" src="https://user-images.githubusercontent.com/5713670/161273065-4c8ea8fe-0aff-4f35-b815-d314a5e878a6.png">

### Suggested solution

This will require [Radix to be installed](https://www.radix-ui.com/docs/primitives/overview/getting-started) in the project as a dependency.

Examples co

[2022-04-01 13:51] bdougie opened #1403 "Feature: Design system and UI should match hot open sauced.pizza."
### Type of feature

🍕 Feature

### Current behavior

Today the Open Sauced UI is stylistically different from https://hot.opensauced.pizza. As we are preparing the new design, we should consider match some of the modern design elements.

### Suggested solution

- [ ] Match (padding) spacing for the body content. this can be done easily with the Wrapper component in the styles folder.
- [ ] Match

[2022-04-01 21:51] bdougie opened #1404 "Feature: New usable UI"
### Type of feature

🍕 Feature

### Current behavior

Today open sauced shares too much context without context. Working with UI/UX designer and fixing up current screens.

### Suggested solution

![Screen Shot 2022-04-01 at 2 45 56 PM](https://user-images.githubusercontent.com/5713670/161345584-85ac4524-131e-4151-9ea8-bd05a9b4df43.png)

The only thing not available in a component is the "similar

[2022-04-01 21:54] bdougie opened #1405 "Feature: Rewrite landing page and login"
### Type of feature

🍕 Feature

### Current behavior

TBD

### Suggested solution

TBD

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Contributing Docs

- [X] I agree to follow this project's Contribution Docs

[2022-04-01 21:59] 0-vortex commented on #1401
.take

[2022-04-01 22:23] #1401 closed

[2022-04-01 22:32] bdougie opened #1408 "Feature: Copy hot.opensauced.pizza footer"
### Type of feature

🍕 Feature

### Current behavior

![Screen Shot 2022-04-01 at 3 31 27 PM](https://user-images.githubusercontent.com/5713670/161350362-c2dbc9be-0fcb-41f3-be53-aee5e650cb0d.png)

We should remove external links and place them in the footer.

### Suggested solution

![Screen Shot 2022-04-01 at 3 30 49 PM](https://user-images.githubusercontent.com/5713670/161350369-39b56034-0ce9-42

[2022-04-01 23:09] #1405 closed

[2022-04-01 23:33] bdougie opened #1411 "Bug: Onboarding is broken for users without a goals repo"
### Describe the bug

![Screen Shot 2022-04-01 at 4 33 23 PM](https://user-images.githubusercontent.com/5713670/161354273-1a256769-c6b3-4f8d-8b80-30abad730738.png)

### Steps to reproduce

1. Delete user/open-sauced-goals
2. Click login on app.opensauced.pizza
3. Note that the "create" repo section never shows

### Affected services

opensauced.pizza

### Platforms

Desktop

### Browsers

Chrome

[2022-04-02 14:49] #1411 closed

[2022-04-02 17:31] #1400 closed

[2022-04-02 17:40] 0-vortex commented on #1408
.take

[2022-04-04 15:14] #1408 closed

[2022-04-11 02:05] RUPAAK commented on #1347
Can more pr be made? or is this issue closed?

[2022-04-11 02:18] bdougie commented on #1347
PR #1347 was closed because it was abandoned. This issue is still ups for grabs.

Please review the [CONTIBUTING.md](https://github.com/open-sauced/.github/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2022-04-11 02:37] RUPAAK commented on #1347
.take

[2022-04-11 09:20] 0-vortex commented on #1347
This is just editing the `index.html` file to add the social card link :D

[2022-04-11 09:49] RUPAAK commented on #1347
Thankyou. I will create a pr today.....

[2022-04-11 19:23] bdougie opened #1419 "Feature: Add the new theme switch to the storybook"
### Type of feature

🍕 Feature

### Current behavior

The new theme switch is now live in the nav bar, but it is not reflected in the storybook.

### Suggested solution

https://design.opensauced.pizza/?path=/story/nav--home-page

1. Update the Nav to reflect the live nav on https://app.opensauced.pizza
2. Remove extra nav items.

### Additional context

https://github.com/open-sauced/open-sauced/

[2022-04-11 19:24] #1402 closed

[2022-04-11 19:44] chadstewart commented on #1419
I just realized that I didn't mention that I added the Radix Switch to Storybook. My apologies for that. Should I add screenshots to the original PR or to this new issue?

[2022-04-12 22:07] bdougie commented on #1419
This is fixed. Just had the wrong site pointing to design.opensauced.pizza

[2022-04-12 22:07] #1419 closed

[2022-04-12 23:54] chadstewart opened #1420 "Bug: Remove the contributions card on the Open Sauced Dashboard"
### Type of feature

🐛 Fix

### Current behavior

Currently, the contributions feature of Open Sauced is buggy and doesn't provide too much value. So for now it should be removed until a point where it could potentially be repurposed.

![Screenshot from 2022-04-12 18-52-45](https://user-images.githubusercontent.com/11777161/163072973-f9f646d3-b41f-465b-8564-5fc9e87891fe.png)

### Suggested solutio

[2022-04-13 21:43] #1420 closed

[2022-04-13 21:45] bdougie commented on #862
![Screen Shot 2022-04-13 at 2 45 21 PM](https://user-images.githubusercontent.com/5713670/163275663-052c0258-06c8-43ce-b513-fa4435b4d482.png)

[2022-04-13 21:56] bdougie opened #1422 "Bug: Weird spacing on the dashboard and repository screens"
### Describe the bug

![Screen Shot 2022-04-13 at 2 52 22 PM](https://user-images.githubusercontent.com/5713670/163276521-4c4de68c-95f6-41b0-861b-20f3f27ffa8d.png)
![Screen Shot 2022-04-13 at 2 52 18 PM](https://user-images.githubusercontent.com/5713670/163276524-565f05ac-e893-42c2-98ea-82eaa036e949.png)

The left and right margin seem too much. this should match the top margin.

### Steps to repr

[2022-04-14 23:08] bdougie commented on #862
This now includes step 3

<img width="415" alt="Screen Shot 2022-04-14 at 4 07 58 PM" src="https://user-images.githubusercontent.com/5713670/163491587-e3197649-4ff4-4b29-b44a-faa2790c24e1.png">

[2022-04-15 03:05] #1347 closed

[2022-04-20 21:58] bdougie opened #1424 "Feature: Remove url dependency for issue number"
### Type of feature

🍕 Feature

### Current behavior

When visiting a repository it is required to have the goal issue number in the url. I would like to remove that so anyone can view any repo.

### Suggested solution

Remove :id here https://github.com/open-sauced/open-sauced/blob/main/src/containers/Dashboard.jsx#L11

Also watch for tests to not fail.

### Additional context

_No response_

###

[2022-04-22 21:22] nworiekingslee commented on #1424
.take

[2022-04-24 03:17] ginona commented on #1422
Hey, can you assign this to me? I will fix it

[2022-04-24 17:58] bdougie commented on #1422
Please review the [CONTIBUTING.md](https://github.com/open-sauced/.github/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2022-04-25 23:15] bdougie commented on #1424
Most of the changes for this is deleting places where we look for the issue id from the open-sauced-goals rep.

Just notice that this line and dependencies should be deleted - https://github.com/open-sauced/open-sauced/blob/main/src/components/Repository.jsx#L61-L62

[2022-04-27 00:42] chadstewart opened #1428 "Feature: Add Repo suggestion to the onboarding flow"
### Type of feature

🍕 Feature

### Current behavior

Currently, the new onboarding flow only has two steps, Sync Repos and Create Database. We'd like to add a 3rd step to the onboarding process. Once the onboarding is completed the app should offer some suggestions on repos to follow. Here's an image showing the component:

![Screenshot from 2022-04-26 19-39-47](https://user-images.githubusercont

[2022-04-27 22:51] 0-vortex opened #1429 "Feature: storybook vite"
### Type of feature

🍕 Feature

### Current behavior

storybook uses webpack

### Suggested solution

https://github.com/Bedrock-Layouts/Bedrock mic drop

### Additional context

Not a good first issue!

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Contributing Docs

- [X] I agree to follow this project's Contribution Docs

[2022-05-02 21:18] 0-vortex commented on #1424
Good catch!

[2022-05-05 23:25] bdougie opened #1430 "Implement PostHog"
![Screen Shot 2022-05-05 at 4 26 28 PM](https://user-images.githubusercontent.com/5713670/167042782-263c318f-b32c-4fb4-8356-597b8d8ef6a7.png)

https://app.posthog.com/ingestion/web

## Steps
1. Implement the node posthog
2. Add event for login only
3. Open PR

[2022-05-05 23:31] bdougie opened #1431 "UI Framework (Chakra?)"

[2022-05-05 23:31] bdougie opened #1432 "Add the onboarding component to Storybook"

[2022-05-05 23:31] bdougie opened #1433 "Create Onboarding step 2 image/tooltip"

[2022-05-05 23:33] bdougie opened #1434 "Implement Post Hog into onboarding buttons"

[2022-05-05 23:39] #1431 closed

[2022-05-06 19:29] mtfoley commented on #1424
@nworiekingslee it's been about 2 weeks since you had assigned yourself to this one and I was curious about it so I took a crack at it. Take a look at what I've done and let me know if it makes sense to you:
https://github.com/mtfoley/open-sauced/commit/deb8db6c54a53ad529769fd314cd519b263d5a60

@bdougie I can do a PR for this if you'd like. Test suite still seemed to pass and it looks like the tes

[2022-05-06 19:35] chadstewart commented on #1432
So the onboarding flow has been changed from being two screens to one screen with different tabs representing the different steps in the flow. We would also like to add the onboarding page to Storybook so that it would be easier to experiment with the design without needing to have to delete the open-sauced-goals repo.

[2022-05-06 19:39] chadstewart commented on #1434
In issue #1430, we would like to implement Post Hog to monitor traffic so we can get insights into how users are using the app. We would also like to include getting insights from how users engage with the onboarding flow, whether they complete it and if they do not, where they drop off.

This should involve adding post hog to the function call of each button.

[2022-05-06 19:45] chadstewart commented on #1433
To resolve issue #862, we have implemented a new onboarding flow that moves away from having two separate screens that gives you instructions on how to proceed to one screen with a list of steps so that users know how many steps to get access to open-sauced. In that conversion, the details to the step 2 process was lost as the image and verbiage of the second screen was removed. This needs to be r

[2022-05-06 20:32] #862 closed

[2022-05-06 21:20] nworiekingslee commented on #1424
Ok @mtfoley, I am checking it out

[2022-05-06 22:37] nworiekingslee commented on #1424
Also, I apologize for the delay. I am new to the project, needed some extra time to get familiar with the code.

[2022-05-06 23:00] nworiekingslee commented on #1424
The issue number still appear on the URL

[2022-05-06 23:09] nworiekingslee commented on #1424
I am beginning to worry that I didn't understand the issue.

Here's what I have done. https://github.com/nworiekingslee/open-sauced/commit/e9c434395e296e92b506ec38fba54c995e2812da

I edited App.jsx, Dashboard.jsx and List Goals.jsx

[2022-05-06 23:43] mtfoley commented on #1424
you’re exactly right, we need to change this line as well, and probably some supporting parts:
https://github.com/open-sauced/open-sauced/blob/32178a523c3e41346c8c93878f6b01318908b1e2/src/components/ListGoals.jsx#L96

[2022-05-07 02:40] mtfoley commented on #1424
ok @nworiekingslee, I made the changes to ListGoals that you pointed out. I'm going to assign this issue to myself and add you as a reviewer to a PR.  Let me know if it works any better for you.

[2022-05-09 19:32] #1424 closed

[2022-05-09 20:33] nworiekingslee commented on #1424
Thank you @mtfoley

[2022-05-10 12:46] wotta opened #1436 "Bug: When pressing the opensauced logo to go to the homepage I get sent to an old version"
### Describe the bug

1. Go to: https://docs.opensauced.pizza/
2. Click on the logo
3. You get redirected to: https://opensauced.pizza/
4. This the homepage version: Open Sauced v0.42.5

![Screenshot 2022-05-10 at 14 45 51](https://user-images.githubusercontent.com/13332240/167631551-33080e7b-13a8-44dc-93f2-e1cfb95b1e6a.png)

This should be the latest version of the homepage as shown below.

![Scr

[2022-05-10 12:52] 0-vortex commented on #1436
Hey, thanks for adding this issue, back in `v0.42.5` the service worker wasn't correctly checking for new versions, hence why some assets on that redirect are not loading. Refreshing the page once without cache or deleting local `*.opensauced.pizza` should fix the error locally. Unfortunately, we cannot retroactively solve `v0.42.5` but the problem is solved, currently. Do you think a page in the

[2022-05-10 15:18] #1432 closed

[2022-05-11 02:08] #1430 closed

[2022-05-11 02:08] #1434 closed

[2022-05-11 13:20] wotta commented on #1436
Thanks for the quick reply @0-vortex.
I'm not fully sure if the page in the docs is a needed. I have the feeling that I'm one of the handful of people who will encounter this issue.

But since this repository is based on getting people introduced with opensource contributions, I am not gonna shoot down an opportunity for someone in the very basics of opensource contributions.

[2022-05-11 15:18] bdougie commented on #1436
Yeah, we need to clear the cache aggressively for users. The site was getting 2300 uniques a month before the change, so I imagine a not insignificant amount of people will encounter this.

[2022-05-11 21:30] bdougie commented on #1436
The solution for anyone who encounters this is to unregister the service worker. We can work on a fix to automate this, but for now, I think this is a viable solution for the 165 (out of 2300 uniques referenced above) active users.

![image](https://user-images.githubusercontent.com/5713670/167950780-05c2a7c9-9661-4f5d-9db6-38089562b2e9.png)

[2022-05-14 00:57] chadstewart opened #1440 "Bug: Posthog not sending analytics data"
### Describe the bug

Open sauced will not send analytics data to posthog once deployed.

### Steps to reproduce

Run the application, click on the login button and then click on both onboarding butons in the onboarding flow.

### Affected services

opensauced.pizza

### Platforms

_No response_

### Browsers

_No response_

### Environment

_No response_

### Additional context

_No response_

##

[2022-05-14 11:04] 0-vortex commented on #1440
.take

[2022-05-15 20:05] mtfoley commented on #1403
Just posting for some reference, here are some of the utility classes in use on hot repo:
repo cards:

container:
[code]
repo card:
[code]

Looks like the repo card headings use `text-xl` utility class.

[2022-05-15 20:35] mtfoley commented on #1404
re: similar repos feature, I wonder if similarity could be based on topic and/or language.
For example, if I run this query on Open-Sauced, I get TypeScript and JavaScript as languages and "open-source" and "graphql" as topics:
[code]

Using only all four together and searching in GitHub gives me 26 results.
https://github.com/search?q=topic%3Agraphql+topic%3Aopen-source+language%3AJavaScript+lang

[2022-05-16 20:37] #1440 closed

[2022-05-17 22:42] bdougie commented on #1436
I have added the following code to a Netlify snippet injection. It's deployed, just need someone to confirm it works now.

[code]

[2022-05-17 22:46] 0-vortex commented on #1436
This makes the service worker stop working for everyone - with no registered resources you would never have the app available offline, the issue is visible by the lack of `SW is ready to handle offline requests.` message in the console :D

[2022-05-17 22:48] bdougie commented on #1436
My reason for putting it in netlify was to fix it now and remove it a month or so. I would rather have the sw not work than get pings that the site is not working entirely a user.

Path of least resistance?

[2022-05-18 09:21] wotta commented on #1436
Unfortunately I am not able to test this behaviour because I already removed my service worker.
Is there a way to visit an old version of the deployment to activate the old SW?

[2022-05-24 01:27] #1433 closed

[2022-05-26 10:08] euantorano opened #1446 "Bug: Navigation links blend into background on large screen"
### Describe the bug

When using a large screen (in my case, 4K), the `Docs` link at https://opensauced.pizza/ flows into the white part of the header, making it unreadable unless I highlight the links - see the below screenshot.

<img width="1060" alt="image" src="https://user-images.githubusercontent.com/748913/170467055-ce0c2453-fd68-40da-bc58-a5443a341f6c.png">

### Steps to reproduce

Browse

[2022-05-27 14:57] ginona commented on #1422
.take

[2022-05-28 03:46] #1428 closed

[2022-05-28 03:56] chadstewart opened #1448 "Docs: Add Step 3 of Onboarding to Open Sauced"
### Type of feature

📝 Documentation

### Current behavior

Currently, the onboarding for Open Sauced is split between 3 distinct steps.

![app opensauced pizza_](https://user-images.githubusercontent.com/11777161/170808966-952beec1-2404-421f-b441-220c93aa938e.png)

Unfortunately, only steps 1 and 2 are captured in Storybook.

![sauced-components netlify app__path=_story_onboardring--onboarding-fl

[2022-05-29 12:53] chadstewart commented on #1448
Turns out that this was actually updated in #1444 but Netlify was watching the wrong repo so it didn't see the changes.

[2022-05-29 12:53] #1448 closed

[2022-05-29 18:16] mtfoley commented on #979
I started a PR over on the CodeTriage repo, in hopes to fix this upstream: https://github.com/codetriage/CodeTriage/pull/1645

[2022-06-01 10:10] TAKANOME-DEV opened #1449 "Bug: production site is down"
### Describe the bug

1. Go to https://app.opensauced.pizza/
2. Login with github
3. An unexpected error occured
4. Error message on chrome
5.
![open_sauced_prod](https://user-images.githubusercontent.com/79809121/171380903-e4752efd-6615-4402-88fb-b46f8cc70263.png)

6. On firefox

![open_sauced_firefox](https://user-images.githubusercontent.com/79809121/171381060-59f2e504-d0e9-4904-995a-9d8004f7e6

[2022-06-01 11:52] #1449 closed

[2022-06-01 13:53] TAKANOME-DEV commented on #1449
Oh sorry about that

[2022-06-10 13:21] brob opened #1451 "Bug: When adding brob/plug11ty.com "not valid" error"
### Describe the bug

When adding a repository from my synced GitHub account, I get the message "Invalid GitHub repository"

### Steps to reproduce

1. Go to https://app.opensauced.pizza/
2. In `owner/repo` field type brob/plug11ty.com (corresponds to [this repo](https://github.com/brob/plug11ty.com))
3. Click "Add"
4. Error message "Invalid GitHub repository" appears

### Affected services

opens

[2022-06-10 13:39] mtfoley commented on #1451
I haven't reproduced yet, but here is the code path I suspect is responsible:

Repo Form checking validity:
https://github.com/open-sauced/open-sauced/blob/4a26b94eaa1a1094ee0dd0d7ca76ead50da2acc4/src/components/AddRepoForm.jsx#L23

Validity Checker catching `.com` and assuming this is an absolute URL:
https://github.com/open-sauced/open-sauced/blob/4a26b94eaa1a1094ee0dd0d7ca76ead50da2acc4/src/lib

[2022-06-10 13:48] 0-vortex commented on #1451
<img width="446" alt="Screenshot 2022-06-10 at 16 48 10" src="https://user-images.githubusercontent.com/237133/173079843-194ce19d-eebc-4b49-8965-70a78068bbe7.png">

Needs a fix for sure :D

[2022-06-10 13:57] mtfoley commented on #1451
my gut tells me that this would be a sufficient check:
[code]
The upsides to this would be:
- we don't try to get too clever with regex
- we don't try to anticipate all of the TLDs

Test suite would need adjustment too.
https://github.com/open-sauced/open-sauced/blob/4a26b94eaa1a1094ee0dd0d7ca76ead50da2acc4/src/tests/util.test.js

[2022-06-10 14:33] mtfoley commented on #1451
Marking this as a good first issue - I think there's enough context to work with.

[2022-06-10 14:48] mtfoley commented on #1451
For what it's worth, this repo is flagged as invalid, for similar reasons:
https://github.com/httpie/httpie

[2022-06-12 01:09] mtfoley commented on #979
Closing this now since it was fixed in the CodeTriage repo. Shoutout to @schneems for merging!

[2022-06-12 01:09] #979 closed

[2022-06-18 13:16] arth2002 commented on #1451
I want to work on this issue, please assign me

[2022-06-18 13:17] bdougie commented on #1451
Please review the [CONTIBUTING.md](https://github.com/open-sauced/.github/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2022-06-18 13:19] arth2002 commented on #1451
.take

[2022-06-19 06:07] arth2002 commented on #1451
@mtfoley my test cases are not getting cleared. I am not getting it what changes I need to do in https://github.com/open-sauced/open-sauced/blob/4a26b94eaa1a1094ee0dd0d7ca76ead50da2acc4/src/tests/util.test.js
so can you please me through this process?
I am a newbie in this open-source contributions

[2022-06-19 10:25] 0-vortex commented on #1451
Hey, I don't see you having forked the open-sauced repo, once you do, you can apply the fixes discussed above. There is nothing you need to do to the unit test, it's the code that this issue requires fixing.

If that is not the case IE you are not looking to contribute, let us know and we will assign to someone else :D

[2022-06-19 11:43] arth2002 commented on #1451
I made a PR
Please check it out

[2022-06-25 19:48] #1451 closed

[2022-06-28 18:22] olearycrew opened #1454 "Bug: Fork button doesn't know I already have a fork"
### Describe the bug

When adding a project you already have a fork of, open-sauced doesn't recognize that there is a fork.  After clicking fork, it then knows there is a fork but doesn't "remember" that when you come back to the project

### Steps to reproduce

1. Sign up for open-sauced
2. Add a repo that you already have a fork of (I added `Lissy93/dashy` which I already have a fork of at: http

[2022-06-28 18:38] mtfoley commented on #1454
Thanks for adding this issue! For what it's worth, the code related to this component is in this file:
https://github.com/open-sauced/open-sauced/blob/main/src/components/Repository.jsx

[2022-07-06 03:17] mtfoley commented on #1454
@bdougie I suspect that the issue here is that the persisted query in use is tied to your identity on GitHub.  When I open repos that I know we both have forks for, I get the "View Fork" button (e.g. Team-TAU/tau). When I open repos that I know you have a fork for, but I don't, I still see the "View Fork" button (e.g. open-sauced/beybot).

[2022-07-06 17:40] bdougie commented on #1454
The bug that keeps on giving. My hope is that we can revamp a lot of these interactions and make them less buggy while I am focusing on this full-time this summer.

[2022-08-17 10:34] TAKANOME-DEV commented on #1422
Hey @ginona any updates on this issue?

[2022-08-18 18:39] JoshuaKGoldberg opened #1459 "Bug: Same repository shows up twice in Repo Recommendation"
### Describe the bug

The first time I loaded https://app.opensauced.pizza/#add-recommended-repo, Repo Recommendations included JoshuaKGoldberg/ChooseYourFramework twice.

![Screenshot of https://app.opensauced.pizza/#add-recommended-repo where Repo Recommendations includes JoshuaKGoldberg/ChooseYourFramework twice](https://user-images.githubusercontent.com/3335181/185468625-b00ed12f-4e8d-4221-a61

[2022-08-27 06:18] SNikhill opened #1460 "Bug: Tracking the same repository twice"
### Describe the bug

![image](https://user-images.githubusercontent.com/51415616/187017631-f1c90b4b-b08d-49b6-bb6b-6e9d071eb314.png)

I can add the same repository more than one time (twice in this case).

### Steps to reproduce

1. Go to the Dashboard
2. Type a desired `owner/repo`
3. Click on Add
4. Click on Add again

(I clicked a second time because, I thought the first click didn't work)

##

[2022-08-28 03:00] mtfoley commented on #1454
I was looking at a fix for this, and I feel I stumbled on a GitHub GraphQL bug. We have some unused code at https://github.com/open-sauced/open-sauced/blob/main/src/lib/apiGraphQL.js#L375 that is *not* a persisted query.  When I switch the Repository.jsx file to use this query instead, I get a "Resource Not Accessible" error from OneGraph. You can verify this on https://explore.opensauced.pizza/ b

[2022-08-28 03:35] mtfoley commented on #1454
As a follow-up, this query might be something we can use, but it'll be hitting Github search fairly often.

[code]

This gives me a couple of results and I can use the parent -> nameWithOwner to verify it's actually a fork of the repo I'm interested in.

[2022-09-05 11:23] tplive opened #1461 "Bug: Forking doesn't work"
### Describe the bug
[Edit: I edited the expected result of the bug as well as the steps to reproduce]

When I click the Fork button, there is no fork created. When I go to the repo outside Open Sauced, and fork it, there is a dialog that has no default choice, regarding the owner of the fork. As I represent several organisations, and none is chosen by default, I suspect this is where the forking

[2022-09-10 16:16] davidalpert opened #1462 "Bug: added the same repo twice to my app.opensauced.pizza dashboard"
### Describe the bug

Somehow I managed to add a repo to my Dashboard twice (I think I clicked "Add" twice before I saw the repo show up); now I have two instances of that `go-task/task` repo appearing in my dashboard and I cannot see any way to remove one.

### Steps to reproduce

1. Go to the Dashboard view (https://app.opensauced.pizza/#)
1. Type in a new repo to add (e.g. `go-task/task`) and c

[2022-09-10 19:58] mfoley-sas commented on #1462
@davidalpert thanks for filing this! There once was a button to remove goals but it was factored out as part of work in other repos.  In any case, a workaround you can use to remove the goal is to open your goals repository close the underlying issue. If you look in the issues list in this repo (https://github.com/davidalpert/open-sauced-goals/issues), you should be able to see issues with titles

[2022-09-12 16:56] cameronldroberts commented on #1462
Sounds like a dup of this issue - https://github.com/open-sauced/open-sauced/issues/1460

I had a quick look and I think it just needs some code to stop submitting the form twice in quick succession. There’s already code to handle the repo already existing [here](https://github.com/open-sauced/open-sauced/blob/main/src/components/AddRepoForm.jsx#L33). I think by hitting the button twice in quick s

[2022-09-27 22:22] #1460 closed

[2022-09-27 22:22] #1462 closed

[2022-10-06 22:40] Deadreyo commented on #1461
I will `.take` this

[2022-10-06 22:44] Deadreyo commented on #1461
So after some inspection, what I found is:

![image](https://user-images.githubusercontent.com/52013393/194431825-78936533-8a81-4f24-9092-82d5151e2737.png)

1- The `forkRepository` function uses a wrong api function. It uses `persistedForkFetch`, which is actually responsible for retreiving the number of forks made from that repo by that user, and it does NOT create a new fork.

2- Since it points

[2022-10-07 16:22] Deadreyo opened #1466 "Bug: github-actions bot has outdated link for Contributing Guide"
### Describe the bug

The automated github bot usually posts comments on PRs to notify their makers if they need to edit some stuff. Example:
![firefox_Fll84kM9Gg](https://user-images.githubusercontent.com/52013393/194600841-7f6f5f1a-93c3-4caf-9b4c-4b29c84bc594.png)

However, the "Contributing Guide" has an outdated link, that is 404 now. This should be fixed

The correct link would be: https://do

[2022-10-07 16:24] 0-vortex commented on #1466
Good catch! 👍

[2022-10-07 22:17] #1461 closed

[2022-10-08 00:32] RozzaysRed commented on #1466
.take

[2022-10-09 21:54] #1466 closed

[2022-10-13 23:12] RozzaysRed commented on #1219
.take

[2022-10-24 22:51] 0-vortex commented on #1436
Closing this as won't fix - we might merge app and hot and when that happens, this could be corrected, however might not happen this year! 🍕

[2022-10-24 22:51] #1436 closed

[2022-10-24 22:55] #1219 closed

[2022-10-24 22:55] #1459 closed

[2022-10-24 22:59] #1065 closed

[2022-10-24 23:03] 0-vortex commented on #948
Moving away from taking notes and into insights, the new onboarding process would overhaul this and just need down-streaming 🍕

[2022-10-24 23:03] #948 closed

[2022-10-24 23:04] 0-vortex commented on #987
We are sort of doing this now 😄 🍕

[2022-10-24 23:04] #987 closed

[2022-10-24 23:05] 0-vortex commented on #1096
[open-sauced/api](https://github.com/open-sauced/api.opensauced.pizza) 🍕

[2022-10-24 23:05] #1096 closed

[2022-10-24 23:07] 0-vortex commented on #1422
Clear for the taking again 🍕

[2022-10-24 23:14] 0-vortex opened #1469 "Feature: add artifact maintenance and timeouts"
### Type of feature

🍕 Feature

### Current behavior

We are not cleaning artifacts because most of our repos are public.
We are, however, re-use the workflows in this repo in all others, so it's easy and clean to downstream a fix for this to re-use in every other repository, future private or not :D

Setting the timeout to 10 minutes should also be a bare minimum, for the same reasons! :pizz

###

[2022-10-24 23:27] #1469 closed

[2022-10-25 05:38] TAKANOME-DEV commented on #1422
.take

[2022-10-25 23:29] #1422 closed

[2022-11-14 23:35] nickytonline commented on #1429
Hi @0-vortex! I know this needs triage, but am wondering the scope of this is. Is Bedrock just an example for inspiration or are you looking for more for Storybook from something in Bedrock? Or is it just porting the bundling to vite for Storybook?

If so I got that up and running pretty quickly if folks are interested, https://github.com/nickytonline/open-sauced/tree/migrate-storybook-to-vite. Ha

[2022-11-14 23:37] 0-vortex commented on #1429
When I opened the issue the vite build wasn't fully released, would be great if you could PR this upstream! 🍕 ❤️

[2022-11-14 23:39] nickytonline commented on #1429
Cool cool. Mind assigning this to me? I'll PR it up.

[2022-11-15 20:26] Deadreyo opened #1474 "Bug: An error occurs when attempting to load admin status"
### Describe the bug

The website prints an error in console that originates from the function that is responsible for loading the "admin" status for the logged in user.
screenshot of the console error:
![image](https://user-images.githubusercontent.com/52013393/202018080-f9eeb0fb-45ba-43a2-b1a8-73daaef2a887.png)

screenshot of the code where it originated from:
![image](https://user-images.github

[2022-11-21 16:12] #1429 closed